<div class="container-topo">
    <div id="mainHeader">
	    <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header' }-->
	    <!--/ko-->
    </div>
</div>


<div class="clearfix">
</div>

<!-- BEGIN CONTAINER -->   
<div class="page-container">
	<!-- BEGIN PAGE -->
	<div class="page-content">    
		<!-- BEGIN PAGE CONTENT-->          
		<div class="row">
			<div class="col-md-12 page-404">
				<div class="details">
					<h3>Clean local storage!</h3>
					<p>
						<a href="#">Return home</a>
					</p>
				</div>
			</div>
		</div>
		<!-- END PAGE CONTENT-->
	</div>
	<!-- END PAGE --> 
</div>
<!-- END CONTAINER -->
