<div ng-init="vm.init()" class="director">
    <!--BANNER-->
    <div class="header text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome text-center">
                        <h1> Bem vindo, {{vm.UserName}}! </h1>

                        <p>
                            Bora começar a desfrutar do melhor que temos preparado com você...
                        </p>

                        <button type="button" title="Módulos" class="btn btn-primary"> Módulos </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!--LINE 1-->
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="image-menu" role="ilustração menu">
                                Imagem Menu
                            </div>
                        </div>

                        <div class="col-md-8">
                            <p class="title"> Total de Vendas </p>

                            <p class="indicators">
                                <i class="fa fa-long-arrow-down" aria-hidden="true"></i> 15
                            </p>

                            <p class="desc"> Jan/2015 a Jun/2015 </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="box">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="image-menu menu-b" role="ilustração menu">
                                Imagem Menu
                            </div>
                        </div>

                        <div class="col-md-8">
                            <p class="title"> Total de Vendas </p>

                            <p class="indicators">
                                <i class="fa fa-long-arrow-up" aria-hidden="true"></i> 480
                            </p>

                            <p class="desc"> Jan/2016 a Jun/2016 </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="box">
                    <img ng-src="{{vm.image.get('images/grafico4.png')}}" alt="chart" style="padding: 33px 4px;" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="box menu">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div>

                        <div class="col-md-8">
                            <p class="title"> Utilitário (Local) </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--LINE 2-->
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="image-menu menu-c" role="ilustração menu">
                                Imagem Menu
                            </div>
                        </div>

                        <div class="col-md-8">
                            <p class="title"> Capital de Giro </p>

                            <p class="indicators">
                                <i class="fa fa-long-arrow-up" aria-hidden="true"></i> 15123
                            </p>

                            <p class="desc"> Jan/2016 a Jun/2016 </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <img ng-src="{{vm.image.get('images/grafico5.png')}}" alt="chart" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="box">
                    <img ng-src="{{vm.image.get('images/grafico6.png')}}" alt="chart" />
                </div>
            </div>
        </div>


        <!--LINE 3-->
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <img ng-src="{{vm.image.get('images/grafico7.png')}}" alt="chart" style="padding: 33px 4px;" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="box">
                    <p> Previsão do Tempo </p>
                </div>
            </div>
        </div>
    </div>

    <widget></widget>

    <div class="new-mensagem mensagem-transitions transitions">
        <h4> Boa tarde, Cerqueira! </h4>

        <p>
            Teste Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quis ipsum eius, nisi vel reprehenderit! Numquam quidem eius ex aliquam tenetur soluta, facilis. Maxime ea, illum quidem modi enim accusantium.
        </p>
    </div>
</div>