<#@ template language="C#" inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" hostspecific="true" #>
<#@ output extension = ".cs" #>
<#@ import namespace = "System.IO" #>
<#@ import namespace = "System.Collections.Generic" #>
<#@ assembly name = "Linx.Tools" #>
<#@ import namespace = "Linx.Tools" #>
<#@ include file = "Includes\DataEntityFunctions.ttinclude"#>
<#@ EntityAdapterDesigner processor = "EntityAdapterDesignerDirectiveProcessor" requires = "fileName='TiposCampos.ead'" provides = "EntityAdapterDesignerRoot=EntityAdapterContext" #>


using System;
using System.Collections;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using Linx.Data;
using Linx.Tools;
using System.Data.Entity.Core.Objects;
using System.ComponentModel;
using System.Data.Common;
using System.Runtime.Serialization;
using System.ServiceModel;
using System.Linq.Expressions;
using Linx.LinqExtensions.Query;
using Linx.LinqExtensions.Functional;
using Linx.LinqExtensions.Expressions;
using System.Data.Linq.SqlClient;
using System.Reflection;
using System.Data.Entity.Core.Objects.DataClasses;
using System.ComponentModel.DataAnnotations;
using System.Xml.Serialization;

<#  
	  foreach (EntityDataModel edm in EntityAdapterContext.EntityDataModels)
	  {
			#>using <#= edm.TargetNamespace #>;
<#    
       }
	   
#>

namespace <#= EntityAdapterContext.TargetNamespace + ".TiposCampos"#>
{
<#      
  //Generate entity class bodies
  foreach (EntityAdapter entity in EntityAdapterContext.GetEntities())
  {
		GenerateLookUpClasses(entity);
  }  
#>

}