<?xml version="1.0" encoding="utf-8" ?> 
											

 
<configuration>

  <connectionStrings> 




		<add name="ConnLFWTraining" connectionString="Data Source=.;Initial Catalog=LFWTraining;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
		<add name="DEV-BI-Omni"
            connectionString="Data Source=a-srv53;Initial Catalog=DEV-BI-Omni;"
            providerName="System.Data.SqlClient" />








  </connectionStrings> 
  
</configuration> 

