<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="NLOG.log" internalLogLevel="Error" throwExceptions="false">

  <targets async="true">

    <target 
      name="logFileApp" xsi:type="File"
      fileName="${basedir}\app_data\logs\app.txt"
      layout="${machinename} [${processid}]|${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${level:uppercase=true}|${logger}|${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}"
      maxArchiveFiles="3"
      archiveFileName="${basedir}\app_data\logs\app_${shortdate}.txt"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      concurrentWrites="true"
      encoding="iso-8859-2"/>

    <target
      name="logFileResizer" xsi:type="File"
      fileName="${basedir}\app_data\logs\resizer.txt"
      layout="${machinename} [${processid}]|${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${level:uppercase=true}|${logger}|${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}"
      maxArchiveFiles="3"
      archiveFileName="${basedir}\app_data\logs\resizer_${shortdate}.txt"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      concurrentWrites="true"
      encoding="iso-8859-2"/>

    <target
      name="logFileDiskCache" xsi:type="File"
      fileName="${basedir}\app_data\logs\diskcache.txt"
      layout="${machinename} [${processid}]|${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${level:uppercase=true}|${logger}|${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}"
      maxArchiveFiles="3"
      archiveFileName="${basedir}\app_data\logs\diskcache_${shortdate}.txt"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      concurrentWrites="true"
      encoding="iso-8859-2"/>

  </targets>

  <rules>
    <logger name="Linx.ImageService.Web*" minlevel="Trace" writeTo="logFileApp" />
    <logger name="ImageResizer*" minlevel="Trace" writeTo="logFileResizer" />
    <logger name="ImageResizer.Plugins.DiskCache" minlevel="Trace" writeTo="logFileDiskCache" final="true"  />
  </rules>
  
</nlog>