# Large binaries excluded (GitHub 100MB limit / >50MB warnings)
Main/Binary/Library/Common/Linx/Business Editors/Support/Integrated-Isolated/vs_isoshell.exe
Main/Binary/Library/Common/Linx/ReportDesignerSetup/Telerik_Reporting_Q1_2015_9.0.15.422_DEV.msi
Main/Deploy/Binary/Application/Linx.Application.Azure_ Linx.Framework.Binary(4.1.5598.20665).cspkg
Main/Binary/WebFormBuilder/electron.exe
Main/Application/Linx.Internet.Application/packages/cef.redist.3.1750.1738/cef.redist.3.1750.1738.nupkg
Main/Application/Linx.Internet.Application/packages/cef.redist.3.1750.1738/*.partial
Main/Application/Linx.Internet.Application/Linx.Internet.Application.WinHost/bin/x64/Debug/libcef.dll
Main/Application/Linx.Internet.Application/Linx.Internet.Application.WinHost/bin/x64/Debug/*.partial
*.partial
