<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("408ae433-caef-481e-9b1b-e3648082e905");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
