<?xml version="1.0" encoding="utf-8" ?> 
					

 
<configuration>

  <connectionStrings> 

		<add name="ConnLinxDemoBM" connectionString="Data Source=a-srv111\inovacao;Initial Catalog=usr_DBFrame;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />





  </connectionStrings> 
  
</configuration> 

