<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("808e2736-49b2-436b-88f2-39b555bab64a");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
