.swagger-section #header {
    border-bottom: 1px solid #000000;
    font-style: normal;
    font-weight: 400;
    font-family: "Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    background-color: black;
}

.swagger-section #header h1 {
    text-align: center;
    font-size: 20px;
    color: white;
}

.linx-header-fixed {
    width: 100%;

    position: fixed;
    top: 0;left: 0;
    z-index: 999;
}

.linx-header {
    color: #FFF;

    height: 50px;
    padding: 8px 0;

    background-color: #5B2E90;
}

h1.linx-header__title {
    line-height: 33px;

    margin: 0;
}

.linx-header__title {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

.linx-header__title img {
    display: inline-block;
    vertical-align: text-bottom;

    margin-right: 10px;
}

.linx-header .wrapper {
    width: 100%;
    max-width: 1460px;
    padding: 0 20px;
    margin: 0 auto;
}

.swagger-ui .topbar .download-url-wrapper input[type=text] { border-color: #ffb200; }

.swagger-ui .topbar .download-url-wrapper .download-url-button { background-color: #FFB200; }

.swagger-ui .btn {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}

.swagger-ui .btn.authorize {
    color: #5B2E90;
    border-color: #5B2E90;
}

.swagger-ui .btn.authorize svg { fill: #5B2E90; }

.swagger-ui .info .title small { background-color: #FFB200; }