<div class="modal-dialog-small">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Url Suporte</h4>
        </div>

        <div class="modal-body wr-modal-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-10">
                        <textarea id="inputUrl" class="form-control input-xlarge" maxlength="250" data-bind="value: $root.url" rows="5" readonly />
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-sm" title="Copiar" id="btnCopiar" data-clipboard-target="#inputUrl"><i class="fa fa-clipboard"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-ok" id="btnOk" data-bind="click: ok">Ok</button>
        </div>
    </div>
</div>

