<div class="messageBox">
    <div class="modal-content messageBoxFiltro">
        <div class="modal-header">
            <h3 class="modal-title">
                Filtro
                <i data-bind="click: cancel" class="close" data-dismiss="modal" aria-hidden="true"></i>
            </h3>
        </div>
        <div class="modal-body">
            <form data-bind="submit: ok" class="formFiltro">
                <p class="message">Descrição</p>
                <input data-bind="value: input, valueUpdate: 'afterkeydown'" class="autofocus" />
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-ok" data-bind="click: ok">Ok</button>
            <button class="btn btn-close" data-bind="click: cancel">Cancelar</button>
        </div>
    </div>
</div>
