<div class="modal-dialog modal-dialog-large">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-bind="click: cancel" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body ">
            <div class="row" style="height: 500px; margin: 0 auto; overflow-y: scroll;">
                <div id="jsTree"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-ok" id="btnOk" data-bind="click: ok">Ok</button>
            <button class="btn btn-close" id="btnCancel" data-bind="click: cancel">Cancelar</button>
        </div>
    </div>
</div>

