@charset "utf-8";
/* CSS Document */

@media (max-width:991px) {
	#components-content {width:100%; float:left; margin-bottom:20px;}
	#drag-and-drop {display:none;}

}

/* Tablet */
@media (max-width:769px) {
	/* Teste de Resolução*/
	body {background-color: #196584;}
	#web-dashboard {display:none;}
	#tablet-dashboard {min-width:100%;}
	/* FIM Teste de Resolução*/
}

/* Smartphone */
@media (max-width:511px) {
	#smartphone-dashboard { min-width:100%;}
	#dashboard-select { float: none; margin: 0 0 10px 0;}
	#components-content ul li a {padding: 12px;}
	.login-box {width:100%;}
	.pull-right-login {float:none; width:100%; text-align:center;}
	.col-xs-offset-2 {margin-left: 6.66666667%;}
	.col-xs-8 {width: 86.66666667%;}
	
	/* Teste de Resolução*/
	body {background-color: #1EF4BB;}
	
	/* FIM Teste de Resolução*/
}



