<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("443a4dd7-5603-4e1a-80c0-3fa2e5f20eca");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
