<?xml version="1.0" encoding="utf-8" ?> 
																																							

 
<configuration>

  <connectionStrings> 

		<add name="FrameworkAutorizacao" connectionString="Data Source=a-srv111.linx-inves.com.br\sql2017;Initial Catalog=DEV-UX-Portal-Main;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />



		<add name="ControleSistema" connectionString="Data Source=a-srv111.linx-inves.com.br\sql2017;Initial Catalog=DEV-UX-App-Main;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />











		<add name="connConectorPOS" connectionString="Data Source=C:\Linx OmniPOS\Database\Database.sqlite;Version=3;FailIfMissing=False;" providerName="System.Data.SQLite" />

























  </connectionStrings>

  <appSettings>
    <!-- Auth access audit / sliding-window lockout -->
    <add key="AuthAccess.MaxInvalidAttempts" value="5" />
    <add key="AuthAccess.AttemptWindowMinutes" value="15" />
  </appSettings>
  
</configuration> 

