<?xml version="1.0" encoding="utf-8" ?> 
																																							

 
<configuration>

  <connectionStrings> 

		<add name="FrameworkAutorizacao" connectionString="Data Source=a-srv111.linx-inves.com.br\sql2017;Initial Catalog=DEV-UX-Portal-Main;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />



		<add name="ControleSistema" connectionString="Data Source=a-srv111.linx-inves.com.br\sql2017;Initial Catalog=DEV-UX-App-Main;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />











		<add name="connConectorPOS" connectionString="Data Source=C:\Linx OmniPOS\Database\Database.sqlite;Version=3;FailIfMissing=False;" providerName="System.Data.SQLite" />

























  </connectionStrings>

  <appSettings>
    <!-- Auth access audit / sliding-window lockout -->
    <add key="AuthAccess.MaxInvalidAttempts" value="5" />
    <add key="AuthAccess.AttemptWindowMinutes" value="15" />
    <!-- Omni License Server (app-licensing). Runtime IIS uses Binary/Service/Web.config. -->
    <add key="LicenseServer.Enabled" value="true" />
    <add key="LicenseServer.BaseUrl" value="https://api-hml.linx.com.br/app-licensing/" />
    <add key="LicenseServer.ApiV1Root" value="https://api-hml.linx.com.br/app-licensing/api/v1/" />
    <add key="LicenseServer.Environment" value="0" />
    <add key="LicenseServer.ProductId" value="LINX-POS" />
    <add key="LicenseServer.LicenseId" value="4" />
    <add key="LicenseServer.Email" value="linxpos@linx.com.br" />
    <add key="LicenseServer.Password" value="Linx@022023" />
    <add key="LicenseServer.Cnpj" value="45510647000100" />
    <add key="LicenseServer.Key" value="MAQUINA-01" />
    <add key="LicenseServer.User" value="" />
    <add key="LicenseServer.Terminal" value="" />
    <add key="LicenseServer.Version" value="1.0" />
  </appSettings>
  
</configuration> 

