<div data-bind="attr: { transactionNumberControl: transactionNumberControl }"></div>
<div class="topo-container" data-bind="if: !isDependentVM()">
   <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header', activationData: { parentVM: $root }, preserveContext: false }-->
       <!--/ko-->
   </div>
</div>
<div data-bind="if: !isDependentVM()">
   <div id="breadcrumb" class="style-breadcrumb" data-bind="widget: { kind: 'breadcrumb' }"></div>
</div>
<div class="clearfix" data-bind="if: !isDependentVM()">
</div>
<!-- BEGIN CONTAINER -->
<div data-bind="css: { 'page-container fullbtn': !isDependentVM() }">
       <!-- ko if: isDependentVM() && !hideToolbar() -->
       <!-- BEGIN SIDEBAR -->
       <div data-bind="css: { hide: (!hasBrand) }, widget: { kind: 'branditem', vm: $root }" ></div>
       <div class="pull-right redebar" data-bind="css: { hide: (!hasBrand || status() !== 'C') }, widget: { kind: 'brand', vm: $root }"></div>
       <div data-bind="css: { hide: (!hideToolbar) }, widget: { kind: 'datatoolbar', vm: $data }" ></div>
       <div class="clearfix"></div>
       <!-- END SIDEBAR -->
       <!--/ko-->
    <!-- BEGIN PAGE -->
    <section>
        <div id="Faq_UI_formViewer" class="panelTransaition">
            <figure id="Faq_UI_formViewer_front" class="front">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div class="screen-view">
                            <div data-bind="style: { display: $root.Faq_UI().viewType() === 'Main' ? '' : 'none' }">
                                           <div id="Faq_UI_gbGroupBox_d2735e15910043aaa344f191ebd0a3d2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
               <div class="portlet box row" >
                   <div id="Faq_UI_gbGroupBox_d2735e15910043aaa344f191ebd0a3d2_body" class="portlet-body" >
                       <div class="row">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


               <div id="Faq_UI_gbCustomContainer_80f3de6138534b60aa5b59cf6752a6aa" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                   <div class="portlet box " >
                       <div class="portlet-title">
                           <div class="caption" title="O que é Lorem Ipsum?"><i class="icon-reorder"></i>O que é Lorem Ipsum?</div>
                       </div>
                       <div id="Faq_UI_gbCustomContainer_80f3de6138534b60aa5b59cf6752a6aa_body" class="portlet-body" >
                           <div class="row">

                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="Faq_UI_divCustomControl442022375" class="" >
                                           <span id="Faq_UI_lblCustomControl442022375" class="text  bold " >Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</span>
                                       </div>
                                   </div>
                               </div>


                           </div>

                       </div>
                   </div>
                   </div>
               </div>



               <div id="Faq_UI_gbCustomContainer_3eb2e24bc8ff4f8085177938d403e210" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                   <div class="portlet box " >
                       <div class="portlet-title">
                           <div class="caption" title="Lista de documentos pendendes"><i class="icon-reorder"></i>Lista de documentos pendendes</div>
                       </div>
                       <div id="Faq_UI_gbCustomContainer_3eb2e24bc8ff4f8085177938d403e210_body" class="portlet-body" >
                           <div class="row">

                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="Faq_UI_divCustomControl451736734" class="" >
                                           <span id="Faq_UI_lblCustomControl451736734" class="text  bold " > - <strong>Ao contrário do que se acredita,</strong> Lorem Ipsum não é simplesmente um texto randômico. Com mais de 2000 anos, suas raízes podem ser encontradas em uma obra de literatura latina clássica datada de 45 AC. Richard McClintock, um professor de latim do Hampden-Sydney College na Virginia, pesquisou uma das mais obscuras palavras em latim, consectetur, oriunda de uma passagem de Lorem Ipsum, e, procurando por entre citações da palavra na literatura clássica, descobriu a sua indubitável origem.</span>
                                       </div>
                                   </div>
                               </div>



                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="Faq_UI_divCustomControl451570453" class="" >
                                           <button id="Faq_UI_btnCustomControl451570453" class="form-control btn-block btn-press ellipsis " data-bind="css: { IsEditableStyle: ctrl.hasCustomEnable($root.Faq_UI(), 'Faq_UI_btnCustomControl451570453') ? ctrl.getCustomEnable($root.Faq_UI(), 'Faq_UI_btnCustomControl451570453') : (!isEmptyEntityFn($data) && true) }, enable: ctrl.hasCustomEnable($root.Faq_UI(), 'Faq_UI_btnCustomControl451570453') ? ctrl.getCustomEnable($root.Faq_UI(), 'Faq_UI_btnCustomControl451570453') : (!isEmptyEntityFn($data) && true), click:function(){ if (typeof $root.Faq_UI().CustomControl451570453_Click == 'function') $root.Faq_UI().CustomControl451570453_Click(); if ($root.Faq_UI().custom) $root.Faq_UI().custom.CustomControl451570453_Click({viewModel: $root.Faq_UI()}); }"  title="Visualizar">Visualizar</button>
                                       </div>
                                   </div>
                               </div>


                           </div>

                       </div>
                   </div>
                   </div>
               </div>



               <div id="Faq_UI_gbCopy_453181187_3eb2e24bc8ff4f8085177938d403e210" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                   <div class="portlet box " >
                       <div class="portlet-title">
                           <div class="caption" title="Porque nós o usamos?"><i class="icon-reorder"></i>Porque nós o usamos?</div>
                       </div>
                       <div id="Faq_UI_gbCopy_453181187_3eb2e24bc8ff4f8085177938d403e210_body" class="portlet-body" >
                           <div class="row">

                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="Faq_UI_divCopy_453181187_CustomControl451736734" class="" >
                                           <span id="Faq_UI_lblCopy_453181187_CustomControl451736734" class="text  bold " > - <strong><font color='#FF0000'>É um fato conhecido de todos que um leitor se distrairá</font></strong> com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui",fazendo com que ele tenha uma aparência similar a de um texto legível. uitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e coisas do gênero).</span>
                                       </div>
                                   </div>
                               </div>


                           </div>

                       </div>
                   </div>
                   </div>
               </div>


                       </div>

                   </div>
               </div>
               </div>
           </div>


                            </div>
                        </div>
                    </section>
                </div>
            </figure>
            <figure id="Faq_UI_formViewer_back" class="back">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div data-bind="style: { display: $root.Faq_UI().viewType() === 'Main' ? 'none' : '' }">
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-height-size" >

           </div>


                        </div>
                    </section>
                </div>
            </figure>
        </div>
    </section>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
