<div data-bind="attr: { transactionNumberControl: transactionNumberControl }"></div>
<div class="topo-container" data-bind="if: !isDependentVM()">
   <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header', activationData: { parentVM: $root }, preserveContext: false }-->
       <!--/ko-->
   </div>
</div>
<div data-bind="if: !isDependentVM()">
   <div id="breadcrumb" class="style-breadcrumb" data-bind="widget: { kind: 'breadcrumb' }"></div>
</div>
<div class="clearfix" data-bind="if: !isDependentVM()">
</div>
<!-- BEGIN CONTAINER -->
<div data-bind="css: { 'page-container fullbtn': !isDependentVM() }">
       <!-- ko if: isDependentVM() && !hideToolbar() -->
       <!-- BEGIN SIDEBAR -->
       <div data-bind="css: { hide: (!hasBrand) }, widget: { kind: 'branditem', vm: $root }" ></div>
       <div class="pull-right redebar" data-bind="css: { hide: (!hasBrand || status() !== 'C') }, widget: { kind: 'brand', vm: $root }"></div>
       <div data-bind="css: { hide: (!hideToolbar) }, widget: { kind: 'datatoolbar', vm: $data }" ></div>
       <div class="clearfix"></div>
       <!-- END SIDEBAR -->
       <!--/ko-->
    <!-- BEGIN PAGE -->
    <section>
        <div id="Orcamento_UI_formViewer" class="panelTransaition">
            <figure id="Orcamento_UI_formViewer_front" class="front">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div class="screen-view">
                            <div data-bind="style: { display: $root.Orcamento_UI().viewType() === 'Main' ? '' : 'none' }">
                                           <div id="Orcamento_UI_gbGroupBox_601c13fab95a4af396addddf5c06de8d" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
               <div class="portlet box row" >
                   <div id="Orcamento_UI_gbGroupBox_601c13fab95a4af396addddf5c06de8d_body" class="portlet-body" >
                       <div class="row">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


               <div id="Orcamento_UI_cntCustomContainer_238afbef4f5e4ab8b36b82ea72a0d60d" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
               <div>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="form-group">
                           <div id="Orcamento_UI_divCustomControl531907656" class="" >
                               <span id="Orcamento_UI_lblCustomControl531907656" class="text  bold " > - Exitem <strong><font color='#FF0000'>10</font></strong> orçamentos à serem aprovados.</span>
                           </div>
                       </div>
                   </div>


               </div>

           </div>
           </div>



               <div id="Orcamento_UI_cntCustomContainer_a39a5871478d44a6957c843ea91324d2" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
               <div class="container-buttons">



               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                   <div class="form-group">
                       <div id="Orcamento_UI_divCustomControl532216875" class="" >
                           <button id="Orcamento_UI_btnCustomControl532216875" class="form-control btn-block btn-press ellipsis " data-bind="css: { IsEditableStyle: ctrl.hasCustomEnable($root.Orcamento_UI(), 'Orcamento_UI_btnCustomControl532216875') ? ctrl.getCustomEnable($root.Orcamento_UI(), 'Orcamento_UI_btnCustomControl532216875') : (!isEmptyEntityFn($data) && $root.Orcamento_UI().enabledForEditing()) }, enable: ctrl.hasCustomEnable($root.Orcamento_UI(), 'Orcamento_UI_btnCustomControl532216875') ? ctrl.getCustomEnable($root.Orcamento_UI(), 'Orcamento_UI_btnCustomControl532216875') : (!isEmptyEntityFn($data) && $root.Orcamento_UI().enabledForEditing()), click:function(){ if (typeof $root.Orcamento_UI().CustomControl532216875_Click == 'function') $root.Orcamento_UI().CustomControl532216875_Click(); if ($root.Orcamento_UI().custom) $root.Orcamento_UI().custom.CustomControl532216875_Click({viewModel: $root.Orcamento_UI()}); }"  title="Visualizar">Visualizar</button>
                       </div>
                   </div>
               </div>





               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                   <div class="form-group">
                       <div id="Orcamento_UI_divCustomControl532278781" class="" >
                           <button id="Orcamento_UI_btnCustomControl532278781" class="form-control btn-block btn-press ellipsis " data-bind="css: { IsEditableStyle: ctrl.hasCustomEnable($root.Orcamento_UI(), 'Orcamento_UI_btnCustomControl532278781') ? ctrl.getCustomEnable($root.Orcamento_UI(), 'Orcamento_UI_btnCustomControl532278781') : (!isEmptyEntityFn($data) && true) }, enable: ctrl.hasCustomEnable($root.Orcamento_UI(), 'Orcamento_UI_btnCustomControl532278781') ? ctrl.getCustomEnable($root.Orcamento_UI(), 'Orcamento_UI_btnCustomControl532278781') : (!isEmptyEntityFn($data) && true), click:function(){ if (typeof $root.Orcamento_UI().CustomControl532278781_Click == 'function') $root.Orcamento_UI().CustomControl532278781_Click(); if ($root.Orcamento_UI().custom) $root.Orcamento_UI().custom.CustomControl532278781_Click({viewModel: $root.Orcamento_UI()}); }"  title="Aprovar">Aprovar</button>
                       </div>
                   </div>
               </div>



           </div>
           </div>


                       </div>

                   </div>
               </div>
               </div>
           </div>


                            </div>
                        </div>
                    </section>
                </div>
            </figure>
            <figure id="Orcamento_UI_formViewer_back" class="back">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div data-bind="style: { display: $root.Orcamento_UI().viewType() === 'Main' ? 'none' : '' }">
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-height-size" >

           </div>


                        </div>
                    </section>
                </div>
            </figure>
        </div>
    </section>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
