<div data-bind="attr: { transactionNumberControl: transactionNumberControl }"></div>
<div class="topo-container" data-bind="if: !isDependentVM()">
   <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header', activationData: { parentVM: $root }, preserveContext: false }-->
       <!--/ko-->
   </div>
</div>
<div data-bind="if: !isDependentVM()">
   <div id="breadcrumb" class="style-breadcrumb" data-bind="widget: { kind: 'breadcrumb' }"></div>
</div>
<div class="clearfix" data-bind="if: !isDependentVM()">
</div>
<!-- BEGIN CONTAINER -->
<div data-bind="css: { 'page-container fullbtn': !isDependentVM() }">
       <!-- ko if: isDependentVM() && !hideToolbar() -->
       <!-- BEGIN SIDEBAR -->
       <div data-bind="css: { hide: (!hasBrand) }, widget: { kind: 'branditem', vm: $root }" ></div>
       <div class="pull-right redebar" data-bind="css: { hide: (!hasBrand || status() !== 'C') }, widget: { kind: 'brand', vm: $root }"></div>
       <div data-bind="css: { hide: (!hideToolbar) }, widget: { kind: 'datatoolbar', vm: $data }" ></div>
       <div class="clearfix"></div>
       <!-- END SIDEBAR -->
       <!--/ko-->
    <!-- BEGIN PAGE -->
    <section>
        <div id="Video_UI_formViewer" class="panelTransaition">
            <figure id="Video_UI_formViewer_front" class="front">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div class="screen-view">
                            <div data-bind="style: { display: $root.Video_UI().viewType() === 'Main' ? '' : 'none' }">
                                           <div id="Video_UI_gbGroupBox_6ca76dc9f62a4120ace1a8a02c724eb3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
               <div class="portlet box row" >
                   <div id="Video_UI_gbGroupBox_6ca76dc9f62a4120ace1a8a02c724eb3_body" class="portlet-body" >
                       <div class="row">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="Video_UI_divCustomControl540813703" class="" >
                                       <label id="Video_UI_lblCustomControl540813703" for="Video_UI_CustomControl540813703" class="control-label ellipsis" >&nbsp;
                                       </label>
                                       <div id="Video_UI_CustomControl540813703" class="">
                                       <div style="position:relative;height:0;padding-bottom:56.35%"><iframe src="https://www.youtube.com/embed/qenJlGq4hCo?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="639" height="360" frameborder="0" allowfullscreen></iframe></div>
                                       </div>
                                   </div>
                               </div>
                           </div>


                       </div>

                   </div>
               </div>
               </div>
           </div>


                            </div>
                        </div>
                    </section>
                </div>
            </figure>
            <figure id="Video_UI_formViewer_back" class="back">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div data-bind="style: { display: $root.Video_UI().viewType() === 'Main' ? 'none' : '' }">
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-height-size" >

           </div>


                        </div>
                    </section>
                </div>
            </figure>
        </div>
    </section>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
