<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Linx.Report.Access.BV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <Linx.Report.Access.BV.Properties.Settings>
            <setting name="Linx_Report_Access_BV_ReportingServicesSvc_ReportingService2010" serializeAs="String">
                <value>http://a-srv53:80/ReportServer/ReportService2010.asmx</value>
            </setting>
            <setting name="Linx_Report_Access_BV_TelerikReportingSvc_ReportService" serializeAs="String">
                <value>http://localhost:1710/TelerikReportAccess.svc</value>
            </setting>
        </Linx.Report.Access.BV.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
