<div class="wr-ms-error wr-ms-warn wr-activity-information">
    <div class="ctn-info">
        <div class="ctn-warn">
            <div id="divWarn" class="ms-warn" data-bind="visible: $root.managerError.EVENTS_WARN_VM().length">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
        </div>

        <div class="ctn-error">
            <div id="divError" class="ms-error" data-bind="visible: $root.managerError.EVENTS_ERROR_VM().length">
                <i class="fa fa-times-circle"></i>
            </div>
        </div>

        <div class="ctn-current-activity">
            <p id="divCurrentActivityInformation" class="activity-information"></p>
        </div>
    </div>
</div>


