<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="header-inner">
        <!-- BEGIN LOGO -->
        <a class="dropdown-toggle topmenulink pull-left" href="#" data-bind="attr: { href: parentVM.back }">
            <img data-bind="attr: { src: $root.managerAuth.buildUrl('lib/linx/img/favicon-32x32.png') }" alt="logo" class="img-responsive" />
        </a>
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <div>
            <h3 class="page-title pull-left screen1366 ellipsis" style="float: left;" data-bind="html: router.activeInstruction().config.title"></h3>
            <i class="fa fa-refresh fa-2x style-icon-refresh" data-bind="    click: UIRefresh"></i>
        </div>
        <!-- END PAGE TITLE & BREADCRUMB-->
        <!-- END LOGO -->

        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
        <div class="top-menu pull-right">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN SIDEBAR -->
                <li class="dropdown dropdown-quick-sidebar-toggler">
                    <a href="#" onclick="history.back();" }">
                        <i class="fa fa-times"></i>
                    </a>
                </li>
                <!-- END SIDEBAR -->
            </ul>
        </div>
        <!-- END QUICK SIDEBAR TOGGLER -->

    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
