<?xml version="1.0" encoding="utf-8" ?> 
		

 
<configuration>

  <connectionStrings> 


		<add name="ControleSistema" connectionString="Data Source=a-srv111.linx-inves.com.br\sql2017;Initial Catalog=DEV-UX-App-Main;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />

  </connectionStrings> 
  
</configuration> 

