<div data-ng-controller="ScriptBuilder as vm">
	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" >
		<div id="design-content">
			<div class="webform-header"  style="z-index:0;">
		        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
		            <span clasxs="title-grid">{{vm.fileName}}</span>
		        </div>
	    	</div>

	    	<div class="row area-drop-down">
				<div class="col-lg-6 col-md-6">
				    <variable-editor variables-list="vm.variablesList"></variable-editor>
				</div>

				<div class="col-lg-6 col-md-6">
					<injection-editor injection-list="vm.injectionsList"></injection-editor>
				</div>
				
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<function-editor function-list="vm.functionList"></function-editor>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 rplr">

	    <div id="oData-content">

	        <tabset>

	            <!-- Solution Explorer -->
	            <tab heading="Explorer">
	                <lx-solution-explorer></lx-solution-explorer>
	            </tab>
	        </tabset>

	    </div>

	</div>
</div>
