/*
//------------------------------------------------------------------------------
//  Creation date: 22/06/2017 12:10:52
//  User name: marcos.cerqueira
//------------------------------------------------------------------------------
//  Linx AppBuilder: 2.0.42
//  Linx AppBuilder Designer: 1.0.69
//  Linx AppBuilder Service: 1.0.70
//------------------------------------------------------------------------------
*/


//
// Administrator | Templetes
// --------------------------------------------------
.administrator {
    // Header
    .header {
        color: $gray-lighter;
        
        min-height: 350px;
        margin-bottom: $header-margin-bottom;
        
        background: linear-gradient(rgba(0,0,0, 0.30),rgba(0,0,0, 0.30)),url('../resources/slides/administrator.jpg');
        background-size: cover;
        
        .welcome,
        .search {
            max-width: 450px;
            margin: 0 auto;
        }
        
        .welcome {
            font-size: 36px;
            padding: 60px 0 40px;
            
            p { font-size: $font-size-base; }
        }
        
        .form-control-feedback { color: #222; }
    }
}

.wrapper-module-25 { width: 25%; }

.wrapper-module {
    display: inline-block;
    
    padding: 0 15px;
    
    p { margin: 0; }
    
    .title,
    .path {
        text-overflow: ellipsis;
        white-space: nowrap;
        
        overflow: hidden;
        
        width: 100%;
    }
    
    .title {
        font-size: 16px;
        font-weight: 600;
    }
    
    .path {
        color: #333;
        font-size: $font-size-base;
    }
}

// Tabs

.pills {
    .nav {
        max-width: 182px;
        margin: 0 auto;
    }
}

// Módulos | Favoritos
.module {
    display: inline-block;
    
    color: #ccc;
    cursor: pointer;
    font-size: 200%;
    text-align: center;
    
    height: 80px;width: 80px;
    padding: 15px 15px;
    
    border: 3px solid #eee;
    margin: 30px 100px 10px;
    
    position: relative;

    border-radius: 50%;
    box-shadow: 0 3px 5px #eee;
    background-color: $gray-lighter;
    
    &:hover, &:focus {
        color: #ccc;
        text-decoration: none;
    }
    
    &:before {
        content: '\f037';
        font-family: FontAwesome;
    }
    
    .Illustrative-icon {
        display: inline-block;
        
        color: $gray-lighter;
        text-align: center;
        font-size: 70%;
        
        position: absolute;
        top: -10px;left: -20px;
        
        height: 50px;width: 50px;
        padding: 13px 10px;
        
        border-radius: 50%;
        background-color: $purple-base;
    }
}

// Relatórios
.thead {
    color: #222;
    font-size: $font-size-base + 2;
    font-weight: 600;
    padding: 15px 15px;
    border: 1px solid #ddd;
    
    i[class*="-cog"] { color: #bdbdbd; }
}

.store-maintenance {
    thead {
        font-size: $font-size-base;
    }
    
    i[class*="-filter"] {
        font-size: $font-size-base - 1;
        color: #bdbdbd;
    }
}

.tfoot { margin-bottom: 30px; }

.chart { margin-bottom: 20px; }