/*
//------------------------------------------------------------------------------
//  Creation date: 27/06/2017 20:36:35
//  User name: marcos.cerqueira
//------------------------------------------------------------------------------
//  Linx AppBuilder: 2.0.42
//  Linx AppBuilder Designer: 1.0.69
//  Linx AppBuilder Service: 1.0.70
//------------------------------------------------------------------------------
*/


//
// Director | Templetes
// --------------------------------------------------
.director {
    padding-bottom: 20px;
    
    img {
        width: 98%;
        height: auto;
    }
    
    .header {
        color: $gray-lighter;
        
        min-height: 350px;
        margin-bottom: $header-margin-bottom;
        
        background: url('../resources/slides/administrator.jpg');
        background: linear-gradient(rgba(0,0,0, 0.30),rgba(0,0,0, 0.30)),url('../resources/slides/director.jpg');
        background-size: cover;
        
         .welcome {
            font-size: 36px;
            
            max-width: 450px;
            padding: 60px 0 40px;
            margin: 0 auto;
            
            p { font-size: $font-size-base; }
        }
    }
    
    .row + .row {
        margin-top: 15px;
    }
    
    .box {
        min-height: 200px;
        border: 1px solid #ccc;
        
        box-shadow: 4px 4px 30px #ccc;
        
        .title {
            font-size: $font-size-base + 4;
            font-weight: bold;
            
            padding-top: 40px;
        }
        
        .indicators {
            color: #5b2e90;
            font-size: 36px;
        }
        
        .desc {
            font-size: $font-size-base - 2;
        }
        
        .image-menu {
            text-indent: -9999px;
            
            height: 65px;width: 65px;
            
            margin-top: 60px;
            
            background: url(../resources/images/sprite.png);
            
            &.menu-b { background-position: 0 -85px; }
            
            &.menu-c { background-position: 0 -180px; }
        }
        
        &.menu {
            i {
                color: $purple-base;
                font-size: 30px;
                
                margin: 75px 0 0 10px;
            }
            
            .title { padding-top: 80px; }
        }
    }
}





.new-mensagem {
  color: $gray-lighter;
  
  min-width: 400px;
  max-width: 400px;
  padding: 10px 15px;
  
  box-shadow: 4px 4px 30px #ccc;
  
  background-color: $purple-base;
  
  h1,
  h2,
  h3,
  h4 { margin-top: 0; }
}

.mensagem-transitions {
  position: fixed;
  right: -450px;bottom: 10px;
}

.mensagem-transitions.transitions {
  animation-name: animation-transitions;
  animation-duration: 10s;
  animation-delay: 3s;
}

@keyframes animation-transitions {
  0% { right: -450px; }
  50% { right: 0; }
  60% { right: 0; }
  70% { right: 0; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}