/*
//------------------------------------------------------------------------------
//  Creation date: 19/06/2017 14:31:29
//  User name: marcos.cerqueira
//------------------------------------------------------------------------------
//  Linx AppBuilder: 2.0.42
//  Linx AppBuilder Designer: 1.0.69
//  Linx AppBuilder Service: 1.0.70
//------------------------------------------------------------------------------
*/

//
// Panels
// --------------------------------------------------
.panel {
    border: 3px solid #fff;
    
    .panel-body { padding: 35px 15px; }
    
    .panel-footer {
        border-top: $panel-primary-bg;
        position: relative;
        background-color: $panel-primary-bg;
    }
}

.panel-primary {
    color: $panel-primary-text;
    cursor: pointer;
    
    background-color: $panel-primary-bg;
    
    &.favorite {
        background-color: #2c004b;
    }
    
    &:hover {
        border: 3px solid $panel-primary-border-color;
    }
    
    &.panel-primary--b { background-color: #2c004b; }
}