/*
//------------------------------------------------------------------------------
//  Creation date: 14/06/2017 13:58:43
//  User name: marcos.cerqueira
//------------------------------------------------------------------------------
//  Linx AppBuilder: 2.0.42
//  Linx AppBuilder Designer: 1.0.69
//  Linx AppBuilder Service: 1.0.70
//------------------------------------------------------------------------------
*/

//
// Sidebar
// --------------------------------------------------


.page-menu .content { padding: 0 0 0 45px; }

#sideMenu::after {
        background-color: #5b2e90;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 46px;
        left: 0px;  
        content: "";
    }

    #sideMenu nav {
        color: #fff;
        box-sizing: border-box;
        width: 46px;
        padding-top: 10px;
        position: absolute;
        background-color: #5b2e90;
        top: 0;left: 0;
        z-index: 100;
    }

    #sideMenu nav .logo {
        display: block;
        margin: 0 auto 15px;
    }

    #logo {
        text-align: center;
        text-indent: -9999px;
        height: 51px;
        width: 46px;
        position: fixed;
        top: 0;left: 0;
        z-index: 1;
    }

    #logo a {
        display: block;
        text-indent: -999px;
        height: inherit;
        background: url(http://dev.ux.linx.com.br/Application/5.X/linx-internet-application/v5-2-0-27192-debug/lib/linx/css/img/logo.png) center center no-repeat #5b2e90;
    }

    #sideMenu .nav__list {
        list-style-type: none;
        text-align: center;
        padding: 0;
        padding-top: 82px;
        margin-bottom: 20px;
        background-color: #5b2e90;
    }
    #sideMenu .nav__list li {
        padding: 10px 0;
        outline: none;
    }
    #sideMenu .list-item {
        cursor: pointer;
        position: relative;
    }
    #sideMenu .list-item a {
        color: inherit;
        display: inline-block;
        text-decoration: none;
        line-height: 20px;
    }
    #sideMenu .list-item i {
        font-size: 17px;
        line-height: 1em;
        opacity: .6;
    }
    #sideMenu .list-item:hover, #sideMenu .list-item.active,
    #sideMenu .list-item:hover i {
        opacity: 9;
        background-color: #2c004b;
    }
    #sideMenu .nav__list > .list-item:hover > .list-dropdown {
        display: block;
    }
    #sideMenu .list-dropdown {
        list-style: none;
        display: none;
        min-width: 200px;
        max-width: 350px;
        width: 35vw;
        padding-left: 0;
        position: absolute;
        top: 0;
        left: 46px;
        z-index: 2;
        background-color: #5b2e90;
        margin-bottom: 20px;
    }
    #sideMenu .list-item-dropdown:hover {
        background-color: #724d9f;
    }
    #sideMenu .list-item-dropdown {
        font-size: 1em;
        border-left: solid .09em #fff;
        position: relative;
    }
    #sideMenu .list-dropdown h3 {
        box-sizing: border-box;
        color: #fff;height: 42px;
        font-size: 18px;
        text-align: left;
        padding: 10px 15px;
        margin: 0;
        background-color: #2c004b;
    }
    #sideMenu .list-item-dropdown i[class*="chevron-left"] {
        position: absolute;
        right: .5em;
        background-color: transparent;
        font-size: 0.8em;
        top: 1.3em;
    }
    #sideMenu .list-item-dropdown {
        text-align: left;
    }
    #sideMenu .list-item-dropdown:hover {
        background-color: #724d9f;
    }
    #sideMenu .list-item-dropdown a {
        text-indent: 0;
        padding: 0 .8em;
        font-size: 14px;
    }
    #sideMenu li.list-item-input {
        padding: 0;
        border-left: 0;
    }
    #sideMenu .list-item-input input {
        height: 41px;
        width: 100% !important;
        padding: 1.14em !important;
        border: 0 !important;
        background-color: #2c004b;
        outline: none;
        color: white;
    }

    #sideMenu .list-item-input ul.list-dropdown {
        display: block;
        position: relative;
        left: 0;
        padding: 0;
        margin-bottom: 0;
        max-height: 320px;
        overflow: auto;
    }

    #sideMenu .list-item-dropdown.list-item-result > h3{
        font-size: 16px;height: auto;	
        padding: 0 0 0.4em 0;	
        background-color: transparent;
    }

    #sideMenu .list-item-dropdown.list-item-result>h3>span.result {
        color: #ff9200;
    }


    #sideMenu .list-item-dropdown.list-item-result > p{
        font-size: 0.8em;
        color: #eee;
        padding:  0;
        margin: 0;
    }

    #sideMenu .list-item-dropdown.list-item-result {
        padding: 1em;
        border-width: 0 0 0.1em;
        border-color: #1b002d;
        border-style: solid;
        background-color: #37005f;
    }

    #sideMenu .list-item-dropdown.list-item-result:hover {
        background-color: #1b002d;
    }

    #sideMenu ul.list-dropdown-inside {
        list-style: none;
        padding-left: 0;
        margin-top: 7px;
    }
    #sideMenu ul.list-dropdown-inside > li.list-item-dropdown {
        border: 0px;
    }
    #sideMenu ul.list-dropdown-inside > li:hover {
        background-color: #ff9200;
    }
    #sideMenu ul.list-dropdown-inside > li > a {
        padding: 0 0 0 1.3em;
    }
    #sideMenu ul.list-dropdown-inside > li.list-item-dropdown:hover > ul.list-dropdown-inside > li.list-item-dropdown:hover {
        background-color: #ffb200;
    }
    #sideMenu ul.list-dropdown-inside > li.list-item-dropdown > ul.list-dropdown-inside > li.list-item-dropdown > a {
        padding: 0 0 0 1.7em;
    }
    
    
    #menu-search {
        top: 51px;
        position: fixed;left: 0;
        background: #5b2e90;
        z-index: 2;
    }


    #menu-search:hover, #menu-search.active {    
        background: #2c004b;
    }

    #menu-search:hover .list-dropdown, #menu-search.active .list-dropdown{
        display:block;
    }

    #menu-search > a > i {
        width: 46px;
        height: 41px;
        text-align: center;
        color: white;
        opacity: 0.6;
        font-size: 22px;
        line-height: 38px;
    }
                                
    #menu-search:hover > a > i, #menu-search.active > a > i {
        opacity: 1;
    }

    .sidebar__list__item__title--visible { display: none; }
    
    
    .navbar.has-menu {
        padding-left: 45px;
        z-index: 10;
    }