//
// Variables
// --------------------------------------------------
    
//== Colors
//
//##
$gray-base:                 #000 !default;
$gray-lighter:              lighten($gray-base, 100%) !default; // #fff

$orange-base:               #ffb200 !default;
$purple-base:               #5b2e90 !default;


//== Scaffolding
//
//##

//** Background color for `<body>`.
$body-bg:                   $gray-lighter;
$text-color:                $gray-lighter;

$header-margin-bottom:      30px !default;

//== Typography
//
//##
$font-size-base:            14px !default;




//== Navbar
//
//##

// Basics of a navbar
$navbar-light-bg:           #ffffff !default;


// Border of a navbar
$navbar-light-border:       darken($navbar-light-bg, 6.5%) !default;



//== Panels
//
//##

$panel-primary-bg:               $purple-base;

$panel-primary-border-color:     #ff9200 !default;

$panel-primary-text:             #fff !default;