/*
//------------------------------------------------------------------------------
//  Creation date: 13/07/2017 14:41:28
//  User name: marcos.cerqueira
//------------------------------------------------------------------------------
//  Linx AppBuilder: 2.0.42
//  Linx AppBuilder Designer: 1.0.69
//  Linx AppBuilder Service: 1.0.70
//------------------------------------------------------------------------------
*/


//
// Widget
// --------------------------------------------------

// UL
.widget {
    position: absolute;
    top: 500px;right: -114px;
    
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    
    // LI
    .widget__item {
        display: inline-block;
        margin: 0 5px;
        
        // A
        .widget__item_name {
            
            // Icone
            i {
                margin-right: 5px;
            }
        }
    }
}