<div data-bind="attr: { transactionNumberControl: transactionNumberControl }"></div>
<div class="topo-container" data-bind="if: !isDependentVM()">
   <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header', activationData: { parentVM: $root }, preserveContext: false }-->
       <!--/ko-->
   </div>
</div>
<div data-bind="if: !isDependentVM()">
   <div id="breadcrumb" class="style-breadcrumb" data-bind="widget: { kind: 'breadcrumb' }"></div>
</div>
<div class="clearfix" data-bind="if: !isDependentVM()">
</div>
<!-- BEGIN CONTAINER -->
<div data-bind="css: { 'page-container fullbtn': !isDependentVM() }">
       <!-- ko if: isDependentVM() && !hideToolbar() -->
       <!-- BEGIN SIDEBAR -->
       <div data-bind="css: { hide: (!hasBrand) }, widget: { kind: 'branditem', vm: $root }" ></div>
       <div class="pull-right redebar" data-bind="css: { hide: (!hasBrand || status() !== 'C') }, widget: { kind: 'brand', vm: $root }"></div>
       <div data-bind="css: { hide: (!hideToolbar) }, widget: { kind: 'datatoolbar', vm: $data }" ></div>
       <div class="clearfix"></div>
       <!-- END SIDEBAR -->
       <!--/ko-->
    <!-- BEGIN PAGE -->
    <section>
        <div id="CadastroObjeto_formViewer" class="panelTransaition">
            <figure id="CadastroObjeto_formViewer_front" class="front">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div class="screen-view">
                            <div data-bind="style: { display: $root.CadastroObjeto().viewType() === 'Main' ? '' : 'none' }">
                                           <div id="CadastroObjeto_gbTcsObjeto" data-bind="css: $root.CadastroObjeto().getLayoutColumnSpan('CadastroObjeto_gbTcsObjeto'), visible: $root.CadastroObjeto().getLayoutVisible('CadastroObjeto_gbTcsObjeto')"  class=" gbox position-element"  >
               <div class="portlet box row" >
                   <div class="portlet-title">
                       <div class="caption" data-bind="text: $root.CadastroObjeto().getLayoutDisplayName('CadastroObjeto_gbTcsObjeto')"><i class="icon-reorder"></i></div>
                   </div>
                   <div id="CadastroObjeto_gbTcsObjeto_body" class="portlet-body" >
                       <div class="row">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


               <div id="CadastroObjeto_gbGroupBox_2e6cd4302b40459f980a4f0ef37c3fd0" data-bind="css: $root.CadastroObjeto().getLayoutColumnSpan('CadastroObjeto_gbGroupBox_2e6cd4302b40459f980a4f0ef37c3fd0'), visible: $root.CadastroObjeto().getLayoutVisible('CadastroObjeto_gbGroupBox_2e6cd4302b40459f980a4f0ef37c3fd0')"  class=" gbox position-element"  >
                   <div class="portlet box " >
                       <div id="CadastroObjeto_gbGroupBox_2e6cd4302b40459f980a4f0ef37c3fd0_body" class="portlet-body" >
                           <div data-bind="with: $root.CadastroObjeto().getWithBinding(currentDataItem, $root.CadastroObjeto().rootDataTypeName)">
                               <div class="row">

                               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-pl remove-pr">


                                   <div data-bind="css: $root.CadastroObjeto().getLayoutColumnSpan('CadastroObjeto_tbClasseNome'), visible: $root.CadastroObjeto().getLayoutVisible('CadastroObjeto_tbClasseNome')" class="">
                                       <div class="form-group">
                                           <div id="CadastroObjeto_divClasseNome" class="" >
                                               <label data-bind="attr: { title: $root.CadastroObjeto().getLayoutDisplayName('CadastroObjeto_tbClasseNome')}, text: $root.CadastroObjeto().getLayoutDisplayName('CadastroObjeto_tbClasseNome')" id="CadastroObjeto_lblClasseNome" for="CadastroObjeto_tbClasseNome" class="control-label ellipsis">
                                               </label>
                                               <input id="CadastroObjeto_tbClasseNome" class="form-control ellipsis" data-bind="attr: { title: ClasseNome }, validatedField: 'ClasseNome', css: { IsEditableStyle: ctrl.hasCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_tbClasseNome') ? ctrl.getCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_tbClasseNome') : (!isEmptyEntityFn($data) && $root.CadastroObjeto().enabledForEditing()) }, igTextEditor: { maxLength: 250, value: ClasseNome, readOnly: ctrl.hasCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_tbClasseNome') ? !ctrl.getCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_tbClasseNome') : (isEmptyEntityFn($data) || !$root.CadastroObjeto().enabledForEditing()), selectionOnFocus: 'atEnd' }"/>
                                           </div>
                                       </div>
                                   </div>



                                   <div data-bind="css: $root.CadastroObjeto().getLayoutColumnSpan('CadastroObjeto_tbDescObjeto'), visible: $root.CadastroObjeto().getLayoutVisible('CadastroObjeto_tbDescObjeto')" class="">
                                       <div class="form-group">
                                           <div id="CadastroObjeto_divDescObjeto" class="" >
                                               <label data-bind="css: { 'content-required': $root.CadastroObjeto().status() === 'E' && !isEmptyEntityFn($data) }, attr: { title: $root.CadastroObjeto().getLayoutDisplayName('CadastroObjeto_tbDescObjeto')}, text: $root.CadastroObjeto().getLayoutDisplayName('CadastroObjeto_tbDescObjeto')" id="CadastroObjeto_lblDescObjeto" for="CadastroObjeto_tbDescObjeto" class="control-label ellipsis">
                                               </label>
                                               <input id="CadastroObjeto_tbDescObjeto" class="form-control ellipsis" data-bind="attr: { title: DescObjeto }, validatedField: 'DescObjeto', css: { IsEditableStyle: ctrl.hasCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_tbDescObjeto') ? ctrl.getCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_tbDescObjeto') : (!isEmptyEntityFn($data) && $root.CadastroObjeto().enabledForEditing()) }, igTextEditor: { maxLength: 60, value: DescObjeto, readOnly: ctrl.hasCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_tbDescObjeto') ? !ctrl.getCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_tbDescObjeto') : (isEmptyEntityFn($data) || !$root.CadastroObjeto().enabledForEditing()), selectionOnFocus: 'atEnd' }"/>
                                           </div>
                                       </div>
                                   </div>


                               </div>

                               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-pl remove-pr">


                                   <div data-bind="css: $root.CadastroObjeto().getLayoutColumnSpan('CadastroObjeto_cmbLxTipoObjeto'), visible: $root.CadastroObjeto().getLayoutVisible('CadastroObjeto_cmbLxTipoObjeto')" class="">
                                       <div class="form-group">
                                           <div id="CadastroObjeto_divLxTipoObjeto" class="" >
                                               <label data-bind="css: { 'content-required': $root.CadastroObjeto().status() === 'E' && !isEmptyEntityFn($data) }, attr: { title: $root.CadastroObjeto().getLayoutDisplayName('CadastroObjeto_cmbLxTipoObjeto')}, text: $root.CadastroObjeto().getLayoutDisplayName('CadastroObjeto_cmbLxTipoObjeto')" id="CadastroObjeto_lblLxTipoObjeto" for="CadastroObjeto_cmbLxTipoObjeto" class="control-label ellipsis">
                                               </label>
                                               <span id="CadastroObjeto_cmbLxTipoObjeto" class="form-control " data-bind="validatedField: 'LxTipoObjeto', css: { IsEditableStyle: ctrl.hasCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_cmbLxTipoObjeto') ? ctrl.getCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_cmbLxTipoObjeto') : (!isEmptyEntityFn($data) && $root.CadastroObjeto().enabledForEditing()), activeReadonly: ctrl.hasCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_cmbLxTipoObjeto') ? !ctrl.getCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_cmbLxTipoObjeto') : (isEmptyEntityFn($data) || !$root.CadastroObjeto().enabledForEditing()) }, readOnly: ctrl.hasCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_cmbLxTipoObjeto') ? !ctrl.getCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_cmbLxTipoObjeto') : (isEmptyEntityFn($data) || !$root.CadastroObjeto().enabledForEditing()), igCombo: {
                                                  selectedItems: LxTipoObjeto,
                                                  dataSource:  $root.CadastroObjeto().dataDomains.getItems('TipoObjeto', ''),
                                                  textKey: 'name',
                                                  valueKey: 'id',
                                                  allowCustomValue : true,
                                                  enableSelectionChangedUpdate: true,
                                                  enableClearButton: false,
                                                  dropDownOnFocus: true,
                                                  disabled: (ctrl.hasCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_cmbLxTipoObjeto') ? !ctrl.getCustomEnable($root.CadastroObjeto(), 'CadastroObjeto_cmbLxTipoObjeto') : (isEmptyEntityFn($data) || !$root.CadastroObjeto().enabledForEditing())),
                                                  mode: 'editable',
                                                  width:'100%'
                                               }"></span>
                                           </div>
                                       </div>
                                   </div>


                               </div>

                           </div>
                       </div>
                       </div>
                   </div>
               </div>



               <div id="CadastroObjeto_tcTcsObjetoTabControl"  data-bind="css: $root.CadastroObjeto().getLayoutColumnSpan('CadastroObjeto_tcTcsObjetoTabControl'), visible: $root.CadastroObjeto().getLayoutVisible('CadastroObjeto_tcTcsObjetoTabControl')"  class="tabbable tabbable-custom box" >
                  <div class="container-tab">
                     <div id="CadastroObjeto_tcTcsObjetoTabControl_scroller_left" class="scroller-c scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
                     <div id="CadastroObjeto_tcTcsObjetoTabControl_scroller_right" class="scroller-c scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
                     <div id="CadastroObjeto_tcTcsObjetoTabControl_wrapper" class="wrapper">
                        <ul id="CadastroObjeto_tcTcsObjetoTabControl_list" class="nav nav-tabs list">
                           <li id="CadastroObjeto_tiTcsTransacaoTabItem" class="active"><a data-bind="text: $root.CadastroObjeto().getLayoutDisplayName('CadastroObjeto_tiTcsTransacaoTabItem'), attr: {title: $root.CadastroObjeto().getLayoutDisplayName('CadastroObjeto_tiTcsTransacaoTabItem')}" href="#CadastroObjeto_tabTcsTransacaoTabItem" data-toggle="tab"></a></li>
                        </ul>
                        </div>
                     </div>
                  <div class="tab-content">



                   <div class="tab-pane fade active in" id="CadastroObjeto_tabTcsTransacaoTabItem">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-height-size " data-bind="visible: $root.CadastroObjeto().getLayoutVisible('CadastroObjeto_dGridTcsTransacao') " >
                           <div id="CadastroObjeto_dGridTcsTransacao_ContentDLG" style="position:relative;"></div>
                           <div class="linx-table-button position-icon">
                               <div class="botoes-tabela">
                               <div data-bind="with: $root.CadastroObjeto().getWithBinding(currentDataItem, $root.CadastroObjeto().rootDataTypeName)">
                               <button id="CadastroObjeto_dGridTcsTransacao_LayoutBtn" class="btn default background-color-theme" data-placement="top" title="Editar o Layout da Grid" data-bind="popoverWithBind: { template: '#CadastroObjeto_dGridTcsTransacao_templateLayout', vm: function(){return $root.CadastroObjeto().gridSaveStates['CadastroObjeto_dGridTcsTransacao'];}, ctrlName: 'CadastroObjeto_dGridTcsTransacao_gb', headerText:'Layout da grid' }"><i class="fa fa-gears" aria-hidden="true" data-placement="top" title="Editar o Layout da Grid"></i></button>
                               <script id="CadastroObjeto_dGridTcsTransacao_templateLayout" type="text/html" tabindex="-1">
                                   <div id="CadastroObjeto_dGridTcsTransacao_gb" class="layout-popover">
                                       <div class="row">
                                           <div class="col-md-12">
                                               <span title="Layout salvos" style="padding-left: 10px;">Layout salvos:</span>
                                               <div class="col-md-10">
                                                   <span class="form-control box-layout-grid" data-bind="igCombo: {selectedItems: currentLayoutId, dataSource: savedLayouts, textKey: 'NomeLayout', valueKey: 'Id', itemTemplate: &quot;<span class='ellipsis' style='display:block' title='${NomeLayout}'>${NomeLayout}</span>&quot;, allowCustomValue : false, enableSelectionChangedUpdate: true, enableClearButton: true, mode: 'editable', width:'100%'}"></span>
                                               </div>
                                               <div  class="col-md-2">
                                                   <button class="btn-press ellipsis" data-bind="enable: (currentLayoutId() < 0 || currentLayoutId() > 0), click: function(){ applyLayout(); }" style="border:0; margin-bottom:0;margin-top:5px;padding:5px 10px;height:26px;width:33px;"><i class="fa fa-check" aria-hidden="true" /></button>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="col-md-12">
                                               <div class="col-md-10">
                                                   <button class="btn-press ellipsis" data-bind="click: function(){openLayoutCustomize(false);}"  style="border:0;">Configurar...</button>
                                                   <button class="btn-press ellipsis" data-bind="enable: (currentLayoutId() > 0), click: function(){openLayoutCustomize(true);}"  style="border:0;">Salvar como</button>
                                               </div>
                                               <div class="col-md-2">
                                                   <button class="btn-press ellipsis" data-bind="enable: (currentLayoutId() > 0), click: deleteLayout"  style="border:0;"><i class="fa fa-trash-o" aria-hidden="true" /></button>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </script>
                               <button id="CadastroObjeto_dGridTcsTransacao_ExpExcelBtn" class="btn default background-color-theme" data-placement="top" title="Exportar para Excel" data-bind="visible: $root.CadastroObjeto().dataToolbar.canGridExport(), click: function () {$root.CadastroObjeto().exportDataDetails($data, 'TcsTransacao', true);  }"><i class="fa fa-file-excel-o"></i></button>
                               </div>
                               </div>
                           </div>
                           <div class="linx-table-grid position-table-grid">
                                  <table id="CadastroObjeto_dGridTcsTransacao" data-bind="css: { IsEditableStyle: $root.CadastroObjeto().enabledForEditing }" />
                           </div>

                       </div>


                       </div>

                   </div>
                   </div>
               </div>



               </div>
               </div>


                       </div>

                   </div>
               </div>
               </div>
           </div>


                            </div>
                        </div>
                    </section>
                </div>
            </figure>
            <figure id="CadastroObjeto_formViewer_back" class="back">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div data-bind="style: { display: $root.CadastroObjeto().viewType() === 'Main' ? 'none' : '' }">
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-height-size " >
               <div id="scyCadastroObjeto_dGrid_ContentDLG" style="position:relative;"></div>
               <div class="linx-table-button position-icon">
                   <div class="botoes-tabela" >
                   <button id="scyCadastroObjeto_dGrid_LayoutBtn" class="btn default background-color-theme" data-placement="top" title="Editar o Layout da Grid" data-bind="popoverWithBind: { template: '#scyCadastroObjeto_dGrid_templateLayout', vm: function(){return $root.CadastroObjeto().gridSaveStates['scyCadastroObjeto_dGrid'];}, ctrlName: 'scyCadastroObjeto_dGrid_gb', headerText:'Layout da grid' }"><i class="fa fa-gears" aria-hidden="true" data-placement="top" title="Editar o Layout da Grid"></i></button>
                   <script id="scyCadastroObjeto_dGrid_templateLayout" type="text/html" tabindex="-1">
                       <div id="scyCadastroObjeto_dGrid_gb" class="layout-popover">
                           <div class="row">
                               <div class="col-md-12">
                                   <span title="Layout salvos" style="padding-left: 10px;">Layout salvos:</span>
                                   <div class="col-md-10">
                                       <span class="form-control box-layout-grid" data-bind="igCombo: {selectedItems: currentLayoutId, dataSource: savedLayouts, textKey: 'NomeLayout', valueKey: 'Id', itemTemplate: &quot;<span class='ellipsis' style='display:block' title='${NomeLayout}'>${NomeLayout}</span>&quot;, allowCustomValue : false, enableSelectionChangedUpdate: true, enableClearButton: true, mode: 'editable', width:'100%'}"></span>
                                   </div>
                                   <div  class="col-md-2">
                                       <button class="btn-press ellipsis" data-bind="enable: (currentLayoutId() < 0 || currentLayoutId() > 0), click: function(){ applyLayout(); }" style="border:0; margin-bottom:0;margin-top:5px;padding:5px 10px;height:26px;width:33px;"><i class="fa fa-check" aria-hidden="true" /></button>
                                   </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-md-12">
                                   <div class="col-md-10">
                                       <button class="btn-press ellipsis" data-bind="click: function(){openLayoutCustomize(false);}"  style="border:0;">Configurar...</button>
                                       <button class="btn-press ellipsis" data-bind="enable: (currentLayoutId() > 0), click: function(){openLayoutCustomize(true);}"  style="border:0;">Salvar como</button>
                                   </div>
                                   <div class="col-md-2">
                                       <button class="btn-press ellipsis" data-bind="enable: (currentLayoutId() > 0), click: deleteLayout"  style="border:0;"><i class="fa fa-trash-o" aria-hidden="true" /></button>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </script>
                   <button id="scyCadastroObjeto_dGrid_ExpExcelBtn" class="btn default background-color-theme" data-placement="top" title="Exportar para Excel" data-bind="visible: $root.CadastroObjeto().dataToolbar.canExport(), click: function () {$root.CadastroObjeto().dataToolbar.exportData(false, true);  }"><i class="fa fa-file-excel-o"></i></button>
                   </div>
               </div>
               <div class="linx-table-grid position-table-grid" style="height: inherit;">
                   <div class="screen-view">
                      <table id="scyCadastroObjeto_dGrid" data-bind="css: { IsEditableStyle: $root.CadastroObjeto().enabledForEditing }" />
                   </div>
               </div>

           </div>


                        </div>
                    </section>
                </div>
            </figure>
        </div>
    </section>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
