<div data-bind="attr: { transactionNumberControl: transactionNumberControl }"></div>
<div class="topo-container" data-bind="if: !isDependentVM()">
   <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header', activationData: { parentVM: $root }, preserveContext: false }-->
       <!--/ko-->
   </div>
</div>
<div data-bind="if: !isDependentVM()">
   <div id="breadcrumb" class="style-breadcrumb" data-bind="widget: { kind: 'breadcrumb' }"></div>
</div>
<div class="clearfix" data-bind="if: !isDependentVM()">
</div>
<!-- BEGIN CONTAINER -->
<div data-bind="css: { 'page-container fullbtn': !isDependentVM() }">
       <!-- ko if: isDependentVM() && !hideToolbar() -->
       <!-- BEGIN SIDEBAR -->
       <div data-bind="css: { hide: (!hasBrand) }, widget: { kind: 'branditem', vm: $root }" ></div>
       <div class="pull-right redebar" data-bind="css: { hide: (!hasBrand || status() !== 'C') }, widget: { kind: 'brand', vm: $root }"></div>
       <div data-bind="css: { hide: (!hideToolbar) }, widget: { kind: 'datatoolbar', vm: $data }" ></div>
       <div class="clearfix"></div>
       <!-- END SIDEBAR -->
       <!--/ko-->
    <!-- BEGIN PAGE -->
        <div class="col-md-12 remove-pl remove-pr">
            <section>
                <div class="screen-view">
                               <div id="WizardPai_wizWizard_aa4b3244d62a4a8c943ee0a6a0ba801d" class="form-wizard col-lg-12 col-md-12 col-sm-12 col-xs-12" >
               <div class="form-body">
                   <div class="row">
                       <div class="col-md-10">
                           <ul class="nav nav-pills nav-justified steps">
                               <li >
                                   <a href="#WizardPai_tabWizardItem" data-toggle="tab" class="step active" style="cursor: default" >
                                       <span class="number">1</span>
                                       <span class="desc"><i class="fa fa-check"></i>ClientesView</span>
                                   </a>
                               </li>
                               <li >
                                   <a href="#WizardPai_tabWizardItem_b2a766cd397440da9fc3b375aefcbcfb" data-toggle="tab" class="step" style="cursor: default" >
                                       <span class="number">2</span>
                                       <span class="desc"><i class="fa fa-check"></i>WizardItem</span>
                                   </a>
                               </li>
                               <li >
                                   <a href="#WizardPai_tabWizardItem_2d5fc2a7ea164a8ebedcebe53045134f" data-toggle="tab" class="step" style="cursor: default" >
                                       <span class="number">3</span>
                                       <span class="desc"><i class="fa fa-check"></i>WizardItem</span>
                                   </a>
                               </li>
                           </ul>
                          <div id="WizardPai_wizWizard_aa4b3244d62a4a8c943ee0a6a0ba801d_bar" class="progress progress-striped active">
                              <div class="progress-bar progress-bar-success"></div>
                          </div>
                       </div>
                       <div class="col-md-2 position-absolute-btnWizard">
                           <div class="form-actions right btnWizard-bottom remove-pb">
                               <a href="javascript:;" class="btn default button-previous button-previous-wizard"><i class="m-icon-swapleft"></i>Voltar</a>
                               <a href="javascript:;" class="btn blue button-next button-next-wizard">Continuar<i class="m-icon-swapright m-icon-white"></i></a>
                               <a href="javascript:;" class="btn green button-submit button-submit-wizard">Submeter<i class="m-icon-swapright m-icon-white"></i></a>
                           </div>
                       </div>
                   </div>
                   <div class="tab-content">



               <div class="tab-pane fade active in" id="WizardPai_tabWizardItem">
                   <div class="ui-helper-clearfix input-box-wizard">
                       <div data-bind="with: $root.WizardPai().getWithBinding(currentDataItem, $root.WizardPai().rootDataTypeName)">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="WizardPai_divNome" class="" >
                                       <label id="WizardPai_lblNome" for="WizardPai_tbNome" class="control-label ellipsis" title="Nome">Nome
                                       </label>
                                       <div class="controls">
                                           <div class="input-xlarge">
                                               <input id="WizardPai_tbNome" class="form-control ellipsis input-xlarge" data-bind="attr: { title: Nome }, validatedField: 'Nome', css: { IsEditableStyle: ctrl.hasCustomEnable($root, 'WizardPai_tbNome') ? ctrl.getCustomEnable($root, 'WizardPai_tbNome') : (!isEmptyEntityFn($data) && $root.WizardPai().enabledForEditing()) }, igTextEditor: { maxLength: 40, value: Nome, readOnly: ctrl.hasCustomEnable($root, 'WizardPai_tbNome') ? !ctrl.getCustomEnable($root, 'WizardPai_tbNome') : (isEmptyEntityFn($data) || !$root.WizardPai().enabledForEditing()), disabled: ctrl.hasCustomEnable($root, 'WizardPai_tbNome') ? !ctrl.getCustomEnable($root, 'WizardPai_tbNome') : (isEmptyEntityFn($data) || !$root.WizardPai().enabledForEditing())  }"/>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>


                       </div>

                   </div>
                   </div>
               </div>
               </div>





               <div class="tab-pane fade" id="WizardPai_tabWizardItem_b2a766cd397440da9fc3b375aefcbcfb">
                   <div class="ui-helper-clearfix input-box-wizard">
                       <div data-bind="with: $root.WizardPai().getWithBinding(currentDataItem, $root.WizardPai().rootDataTypeName)">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="WizardPai_divIDClientes" class="" >
                                       <label id="WizardPai_lblIDClientes" for="WizardPai_tbIDClientes" data-bind="css: { 'content-required': $root.WizardPai().status() === 'E' && !isEmptyEntityFn($data) }" class="control-label ellipsis" title="ID Clientes">ID Clientes
                                       </label>
                                       <div class="controls">
                                           <div class="input-xmedium">
                                               <input id="WizardPai_tbIDClientes" class="form-control ellipsis input-xmedium" data-bind="attr: { title: IDClientes }, validatedField: 'IDClientes', css: { IsEditableStyle: ctrl.hasCustomEnable($root, 'WizardPai_tbIDClientes') ? ctrl.getCustomEnable($root, 'WizardPai_tbIDClientes') : (!isEmptyEntityFn($data) && $root.WizardPai().status() === 'C' || ($data.isAdded && $data.isAdded())) }, igTextEditor: { maxLength: 36, value: IDClientes, readOnly: ctrl.hasCustomEnable($root, 'WizardPai_tbIDClientes') ? !ctrl.getCustomEnable($root, 'WizardPai_tbIDClientes') : (isEmptyEntityFn($data) || !($root.WizardPai().status() === 'C' || ($data.isAdded && $data.isAdded()))), disabled: ctrl.hasCustomEnable($root, 'WizardPai_tbIDClientes') ? !ctrl.getCustomEnable($root, 'WizardPai_tbIDClientes') : (isEmptyEntityFn($data) || !($root.WizardPai().status() === 'C' || ($data.isAdded && $data.isAdded())))  }"/>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>


                       </div>

                   </div>
                   </div>
               </div>
               </div>





               <div class="tab-pane fade" id="WizardPai_tabWizardItem_2d5fc2a7ea164a8ebedcebe53045134f">
                   <div class="ui-helper-clearfix input-box-wizard">
                       <div data-bind="with: $root.WizardPai().getWithBinding(currentDataItem, $root.WizardPai().rootDataTypeName)">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="WizardPai_divTipo" class="" >
                                       <label id="WizardPai_lblTipo" for="WizardPai_cmbTipo" class="control-label ellipsis" title="Tipo">Tipo
                                       </label>
                                       <div class="controls">
                                           <div class="input-medium">
                                               <span id="WizardPai_cmbTipo" class="form-control input-medium" data-bind="validatedField: 'Tipo', css: { IsEditableStyle: ctrl.hasCustomEnable($root, 'WizardPai_cmbTipo') ? ctrl.getCustomEnable($root, 'WizardPai_cmbTipo') : (!isEmptyEntityFn($data) && $root.WizardPai().enabledForEditing()), activeReadonly: ctrl.hasCustomEnable($root, 'WizardPai_cmbTipo') ? !ctrl.getCustomEnable($root, 'WizardPai_cmbTipo') : (isEmptyEntityFn($data) || !$root.WizardPai().enabledForEditing()) }, enable: ctrl.hasCustomEnable($root, 'WizardPai_cmbTipo') ? ctrl.getCustomEnable($root, 'WizardPai_cmbTipo') : (!isEmptyEntityFn($data) && $root.WizardPai().enabledForEditing()), igCombo: {
                                                  selectedItems: Tipo,
                                                  dataSource:  $root.WizardPai().dataDomains.getItems('LXTipoClientes', ''),
                                                  textKey: 'name',
                                                  valueKey: 'id',
                                                  allowCustomValue : true,
                                                  enableSelectionChangedUpdate: true,
                                                  enableClearButton: true,
                                                  dropDownOnFocus: true,
                                                  disabled: (ctrl.hasCustomEnable($root, 'WizardPai_cmbTipo') ? !ctrl.getCustomEnable($root, 'WizardPai_cmbTipo') : (isEmptyEntityFn($data) || !$root.WizardPai().enabledForEditing())),
                                                  mode: 'editable',
                                                  width:'100%'
                                               }"></span>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>


                       </div>

                   </div>
                   </div>
               </div>
               </div>



                   </div>
               </div>
               </div>


                </div>
            </section>
        </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
