<#@ template language="C#" inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" hostspecific="true" #>
<#@ output extension=".js" #>
<#@ include file = "..\Includes\EntityAdapterDynamicModels.ttinclude"#>
<#@ import namespace = "System.Collections.Generic" #>
<#@ import namespace = "System.Linq" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="Linx.Tools" #>
<#@ import namespace = "Linx.Tools" #>

define(['managers/__auth'], function (managerAuth) {


var dataDomain = {
    domains: [],    
    registerDomains: function () {
		var self = this;

<# 
List<EntityAdapterDesignerRoot> models = GetModels();	
List<string> domains = new List<string>();
int dvTest;
   
foreach(EntityAdapterDesignerRoot model in models)
{	 
	  foreach (var domainRef in model.GetAllDomains())
	  {
		if (!domains.Contains(domainRef.ClassName))
		{
#>
		dataDomain.domains['<#=domainRef.ClassName#>'] = [];
<#

			domains.Add(domainRef.ClassName);
			if (!domainRef.ValuesEndpointName.IsNullOrEmpty()) {
#>
		dataDomain.domains['<#=domainRef.ClassName#>'][0] = { id: 0, name: 'Aguarde...' };
		self.getDomainValues('<#=domainRef.ValuesEndpointName#>', function (result) { 
		  var idx = 0;
		  for (key in result) {
		    if (!key.startsWith('$')) {
				dataDomain.domains['<#=domainRef.ClassName#>'][idx] = { id: (isNaN(key) ? key : Number(key)), name: result[key] };		
				idx++;
			}	
		  }
		  if (self.refreshData) self.refreshData();
		});		
<#
			}
			else {
			  for(int idx = 0; idx < domainRef.Values.Count; idx++)
			  {
				var domainValue = domainRef.Values[idx];				
#>
		dataDomain.domains['<#=domainRef.ClassName#>'][<#=idx#>] = { id: <#= (int.TryParse(domainValue.Value, out dvTest) ? dvTest.ToString() : "'" + domainValue.Value.Replace("\"", "").Replace("'", "") + "'" ) #>, name: '<#=domainValue.DisplayName#>' };
<#
			  }
			}
		}
	 }
}
#>
    },
	getDomainValues: function (method, success) {
	    return $.ajax({
	        type: 'GET',
	        dataType: 'json',
            messageUser: 'Busca de valores de domínio.',
            contentType: 'application/json; charset=UTF-8',
            headers: managerAuth.getHeaders(),
            url: managerAuth.getServiceAddress(method),
            async: true,
            cache: false,
            success: success
        });
    },
    getItems: function (domainName, valuesFilter) {
        var items = dataDomain.domains[domainName];
        if (!isNullOrEmpty(valuesFilter) && items && items.length > 0) {
            var sourceItems = items;
            items = [];
            for (var i = 0; i < sourceItems.length; i++) {
                if ((',' + valuesFilter + ',').indexOf(',' + sourceItems[i].id + ',') > -1) {
                    items.push(sourceItems[i]);
			    }
            }
		}
        return (items && items.length > 0 ? items : []);
    },
    getName: function (domainName, value) {
        var name = '';
		if (value != null && value !== '') {
			var domainItems = this.getItems(domainName);
			if (domainItems) {
			    for (var i in domainItems) {
			        if (domainItems[i].id == value) {
			            name = domainItems[i].name;
			            break;
			        }
			    }
			}
		}
        return name;
    },
    getId: function (domainName, name) {
        var id = '';
        var domainItems = this.getItems(domainName);
        if (domainItems) {
            for (var i in domainItems) {
                if (domainItems[i].name == name) {
                    id = domainItems[i].id;
                    break;
                }
            }
        }
        return id;
    }
};

dataDomain.registerDomains();
return dataDomain;

});