           <div id="UIExterna_gbVenda" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gb-expander position-element"  >
               <div class="portlet box row" >
                   <div class="portlet-title">
                       <div class="caption"><i class="icon-reorder"></i>Venda</div>
                       <div class="tools">
                           <a href="javascript:;" class="collapse"></a>
                       </div>
                   </div>
                   <div class="portlet-body" style="display:block ;">
                       <div class="row">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


               <div id="UIExterna_gbExpander_abbe69d05c0b46d59f5fddb916b5d555" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gb-expander position-element"  >
                   <div class="portlet box " >
                       <div class="portlet-title">
                           <div class="caption"><i class="icon-reorder"></i>New Group</div>
                           <div class="tools">
                               <a href="javascript:;" class="collapse"></a>
                           </div>
                       </div>
                       <div class="portlet-body" style="display:block ;">
                           <div data-bind="with: currentDataItem">
                               <div class="row">

                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <div class="form-group">
                                           <div id="UIExterna_divDataVenda" class="" >
                                               <label id="UIExterna_lblDataVenda" for="UIExterna_dtDataVenda" class="control-label ellipsis" title="Data Venda">Data Venda
                                               </label>
                                               <div class="controls">
                                                   <div class="box-input-small">
                                                       <div class="input-group box-input-small" >
                                                           <span id="UIExterna_dtDataVenda" class="date form-control input-small "  data-bind="validatedField: 'DataVenda', css: { IsEditableStyle: $root.UIExterna().enabledForEditing()}, enable: $root.UIExterna().enabledForEditing(), igDatePicker: { value: DataVenda, minValue: new Date(1900, 0, 1) , width: '100%', dateDisplayFormat: 'date', dateInputFormat: 'date', dropDownOnReadOnly: false, readOnly: !$root.UIExterna().enabledForEditing(), display:'block', enableUTCDates: true }" />
                                                           <span class="input-group-btn" >
                                                              <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIExterna().entitySearchRange.has_VendaDataVenda(), 'icon-ok': $root.UIExterna().entitySearchRange.has_VendaDataVenda(), hide: $root.UIExterna().status() !== 'C' }, popoverWithBind: { template: '#UIExterna_rgDataVenda', vm: $root.UIExterna().entitySearchRange, ctrlName: 'UIExterna_rgcDataVenda' }" /></span>
                                                           <script id="UIExterna_rgDataVenda" type="text/html">
                                                               <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><span id="UIExterna_dtbDataVenda" class="IsEditableStyle" data-bind="igDatePicker: { value: VendaDataVenda_begin,  dateDisplayFormat: 'date', width: '100px', dateInputFormat: 'date', enableUTCDates: true, valueChanged: function (evt, ui) { $('#UIExterna_dteDataVenda').igDatePicker('option', 'minValue', ui.value); } }" /></div></div>
                                                               <p></p>
                                                               <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><span id="UIExterna_dteDataVenda" class="IsEditableStyle" data-bind="igDatePicker: { value: VendaDataVenda_end,  dateDisplayFormat: 'date', width: '100px', dateInputFormat: 'date', enableUTCDates: true, valueChanged: function (evt, ui) { $('#UIExterna_dtbDataVenda').igDatePicker('option', 'maxValue', ui.value); } }" /></div></div>
                                                           </script>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>



                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <div class="form-group">
                                           <div id="UIExterna_divIdFilial" class="" >
                                               <label id="UIExterna_lblIdFilial" for="UIExterna_lUpIdFilial" class="control-label ellipsis" title="Id Filial">Id Filial
                                               </label>
                                               <div class="">
                                                   <div id="UIExterna_lUpIdFilial" class="box-input-min-medium pull-left input-group " data-bind="validatedField: 'IdFilial', css: { IsEditableStyle: $root.UIExterna().enabledForEditing() }, lookupControl: { value: IdFilial, maxLength: 12,lookupName: 'LookUpFilial', inputClass:'input-min-medium', isMultiSelection: false, multiSelectionValue: $root.UIExterna().entitySearchRange.VendaIdFilial, fieldName: 'IdFilial', disabled:!$root.UIExterna().enabledForEditing(), isNullable:true}" />
                                               </div>
                                           </div>
                                       </div>
                                   </div>



                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <div class="form-group">
                                           <div id="UIExterna_divIdVenda" class="" >
                                               <label id="UIExterna_lblIdVenda" for="UIExterna_ntxIdVenda" class="control-label ellipsis" title="Id Venda">Id Venda
                                               </label>
                                               <div class="controls">
                                                   <div class="box-input-min-medium">
                                                       <div class="input-group box-input-min-medium">
                                                           <input id="UIExterna_ntxIdVenda" class="form-control input-min-medium" data-bind="validatedField: 'IdVenda', css: { IsEditableStyle: $root.UIExterna().status() === 'C' || $data.isAdded() }, enable:$root.UIExterna().status() === 'C' || $data.isAdded(), igNumericEditor: { value: IdVenda,minValue: 0,  maxLength: 12, maxValue: 999999999999,  dataMode: 'int', readOnly: !($root.UIExterna().status() === 'C' || $data.isAdded()) }" />
                                                           <span class="input-group-btn" >
                                                              <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIExterna().entitySearchRange.has_VendaIdVenda(), 'icon-ok': $root.UIExterna().entitySearchRange.has_VendaIdVenda(), hide: $root.UIExterna().status() !== 'C' }, popoverWithBind: { template: '#UIExterna_rgIdVenda', vm: $root.UIExterna().entitySearchRange, ctrlName: 'UIExterna_rgcIdVenda' }" /></span>
                                                           <script id="UIExterna_rgIdVenda" type="text/html">
                                                               <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><input id="UIExterna_ntxbIdVenda" class="IsEditableStyle input-min-medium" data-bind="igNumericEditor: { value: VendaIdVenda_begin, minValue: 0, maxLength: 12, dataMode: 'int', valueChanged: function (evt, ui) { $('#UIExterna_ntxeIdVenda').igNumericEditor('option', 'minValue', ui.value); } }" /></div></div>
                                                               <p></p>
                                                               <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><input id="UIExterna_ntxeIdVenda" class="IsEditableStyle input-min-medium" data-bind="igNumericEditor: { value: VendaIdVenda_end, minValue: 0, maxLength: 12, dataMode: 'int', valueChanged: function (evt, ui) { $('#UIExterna_ntxbIdVenda').igNumericEditor('option', 'maxValue', ui.value); } }" /></div></div>
                                                           </script>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>



                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <div class="form-group">
                                           <div id="UIExterna_divNumeroVenda" class="" >
                                               <label id="UIExterna_lblNumeroVenda" for="UIExterna_ntxNumeroVenda" class="control-label ellipsis" title="Numero Venda">Numero Venda
                                               </label>
                                               <div class="controls">
                                                   <div class="box-input-min-medium">
                                                       <div class="input-group box-input-min-medium">
                                                           <input id="UIExterna_ntxNumeroVenda" class="form-control input-min-medium" data-bind="validatedField: 'NumeroVenda', css: { IsEditableStyle: $root.UIExterna().enabledForEditing() }, enable:$root.UIExterna().enabledForEditing(), igNumericEditor: { value: NumeroVenda,minValue: 0,  maxLength: 12, maxValue: 999999999999,  dataMode: 'int', readOnly: !$root.UIExterna().enabledForEditing() }" />
                                                           <span class="input-group-btn" >
                                                              <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIExterna().entitySearchRange.has_VendaNumeroVenda(), 'icon-ok': $root.UIExterna().entitySearchRange.has_VendaNumeroVenda(), hide: $root.UIExterna().status() !== 'C' }, popoverWithBind: { template: '#UIExterna_rgNumeroVenda', vm: $root.UIExterna().entitySearchRange, ctrlName: 'UIExterna_rgcNumeroVenda' }" /></span>
                                                           <script id="UIExterna_rgNumeroVenda" type="text/html">
                                                               <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><input id="UIExterna_ntxbNumeroVenda" class="IsEditableStyle input-min-medium" data-bind="igNumericEditor: { value: VendaNumeroVenda_begin, minValue: 0, maxLength: 12, dataMode: 'int', valueChanged: function (evt, ui) { $('#UIExterna_ntxeNumeroVenda').igNumericEditor('option', 'minValue', ui.value); } }" /></div></div>
                                                               <p></p>
                                                               <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><input id="UIExterna_ntxeNumeroVenda" class="IsEditableStyle input-min-medium" data-bind="igNumericEditor: { value: VendaNumeroVenda_end, minValue: 0, maxLength: 12, dataMode: 'int', valueChanged: function (evt, ui) { $('#UIExterna_ntxbNumeroVenda').igNumericEditor('option', 'maxValue', ui.value); } }" /></div></div>
                                                           </script>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>



                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <div class="form-group">
                                           <div id="UIExterna_divQuantidadeTotal" class="" >
                                               <label id="UIExterna_lblQuantidadeTotal" for="UIExterna_ntxQuantidadeTotal" class="control-label ellipsis" title="Quantidade Total">Quantidade Total
                                               </label>
                                               <div class="controls">
                                                   <div class="box-input-medium">
                                                       <div class="input-group box-input-medium">
                                                           <input id="UIExterna_ntxQuantidadeTotal" class="form-control input-medium" data-bind="validatedField: 'QuantidadeTotal', css: { IsEditableStyle: $root.UIExterna().enabledForEditing() }, enable:$root.UIExterna().enabledForEditing(), igNumericEditor: { value: QuantidadeTotal,minValue: 0,  maxLength: 18, maxValue: 999999999999999999,  dataMode: 'number', minDecimals: 0, maxDecimals: 0, readOnly: !$root.UIExterna().enabledForEditing() }" />
                                                           <span class="input-group-btn" >
                                                              <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIExterna().entitySearchRange.has_VendaQuantidadeTotal(), 'icon-ok': $root.UIExterna().entitySearchRange.has_VendaQuantidadeTotal(), hide: $root.UIExterna().status() !== 'C' }, popoverWithBind: { template: '#UIExterna_rgQuantidadeTotal', vm: $root.UIExterna().entitySearchRange, ctrlName: 'UIExterna_rgcQuantidadeTotal' }" /></span>
                                                           <script id="UIExterna_rgQuantidadeTotal" type="text/html">
                                                               <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><input id="UIExterna_ntxbQuantidadeTotal" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaQuantidadeTotal_begin, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIExterna_ntxeQuantidadeTotal').igNumericEditor('option', 'minValue', ui.value); } }" /></div></div>
                                                               <p></p>
                                                               <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><input id="UIExterna_ntxeQuantidadeTotal" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaQuantidadeTotal_end, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIExterna_ntxbQuantidadeTotal').igNumericEditor('option', 'maxValue', ui.value); } }" /></div></div>
                                                           </script>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>



                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <div class="form-group">
                                           <div id="UIExterna_divValorTotal" class="" >
                                               <label id="UIExterna_lblValorTotal" for="UIExterna_ntxValorTotal" class="control-label ellipsis" title="Valor Total">Valor Total
                                               </label>
                                               <div class="controls">
                                                   <div class="box-input-medium">
                                                       <div class="input-group box-input-medium">
                                                           <input id="UIExterna_ntxValorTotal" class="form-control input-medium" data-bind="validatedField: 'ValorTotal', css: { IsEditableStyle: $root.UIExterna().enabledForEditing() }, enable:$root.UIExterna().enabledForEditing(), igNumericEditor: { value: ValorTotal,minValue: 0,  maxLength: 18, maxValue: 999999999999999999,  dataMode: 'number', minDecimals: 0, maxDecimals: 0, readOnly: !$root.UIExterna().enabledForEditing() }" />
                                                           <span class="input-group-btn" >
                                                              <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIExterna().entitySearchRange.has_VendaValorTotal(), 'icon-ok': $root.UIExterna().entitySearchRange.has_VendaValorTotal(), hide: $root.UIExterna().status() !== 'C' }, popoverWithBind: { template: '#UIExterna_rgValorTotal', vm: $root.UIExterna().entitySearchRange, ctrlName: 'UIExterna_rgcValorTotal' }" /></span>
                                                           <script id="UIExterna_rgValorTotal" type="text/html">
                                                               <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><input id="UIExterna_ntxbValorTotal" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaValorTotal_begin, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIExterna_ntxeValorTotal').igNumericEditor('option', 'minValue', ui.value); } }" /></div></div>
                                                               <p></p>
                                                               <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><input id="UIExterna_ntxeValorTotal" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaValorTotal_end, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIExterna_ntxbValorTotal').igNumericEditor('option', 'maxValue', ui.value); } }" /></div></div>
                                                           </script>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>



                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <div class="form-group">
                                           <div id="UIExterna_divVarcharVenda" class="" >
                                               <label id="UIExterna_lblVarcharVenda" for="UIExterna_tbVarcharVenda" class="control-label ellipsis" title="Varchar Venda">Varchar Venda
                                               </label>
                                               <div class="controls">
                                                   <div class="input-xlarge">
                                                       <input id="UIExterna_tbVarcharVenda" class="form-control ellipsis input-xlarge" data-bind="attr: { title: VarcharVenda }, validatedField: 'VarcharVenda', css: { IsEditableStyle: $root.UIExterna().enabledForEditing() }, enable: $root.UIExterna().enabledForEditing(), igTextEditor: { maxLength: 50, value: VarcharVenda, readOnly: !$root.UIExterna().enabledForEditing()  }"/>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>


                               </div>

                           </div>
                       </div>
                       </div>
                   </div>
               </div>



               <div id="UIExterna_tcTabControl_202ce13723724ae7a2bf9cd9b22ca688" class="tabbable tabbable-custom box col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                   <ul class="nav nav-tabs">
                      <li id="UIExterna_tiTabItem_3189f8c43d254e4b8a280bf699b7b537" class="active"><a href="#UIExterna_tabTabItem_3189f8c43d254e4b8a280bf699b7b537" data-toggle="tab">UI Externa</a></li>
                      <li id="UIExterna_tiTabItem_734e961c6c5b4eb6a89bef9840036e38" class=""><a href="#UIExterna_tabTabItem_734e961c6c5b4eb6a89bef9840036e38" data-toggle="tab">Botão UI Externa</a></li>
                      <li id="UIExterna_tiTabItem_1d3b04a2b7d249aea5374591d071a610" class=""><a href="#UIExterna_tabTabItem_1d3b04a2b7d249aea5374591d071a610" data-toggle="tab">LookUp UI Externa</a></li>
                   </ul>
                   <div class="tab-content">



                   <div class="tab-pane fade active in" id="UIExterna_tabTabItem_3189f8c43d254e4b8a280bf699b7b537">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="UIExterna_cntCustomContainer_4194c9bece5c465889c60ce28d925c5a" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
                       <div >

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div style="height:auto;">
                               <div id="UIExterna_euiExternalUI_63eba6be827749d7bb8dd9cec8e4fddb" class="" data-bind="widget: { kind: 'pkg_linx-demo-bv-spa/viewmodels/UIClienteExterna', parentVM: $root, uiSettings: { removeDataToolbar: false, shareParentBO: false, useFilterFromParent: false, parentSelectorDataName: 'Venda', canClear: true, canSearch: true, canAddNew: true, canEdit: true, canDelete: true, canCustomSearch: true, canPrint: true, canLayout: true, canNavigate: true, applyFilterToParent: true, noSearch: false, parentFieldsRelation: ['IdCliente'], detailFieldsRelation: ['IdCliente'] } }" />

                           </div>


                       </div>

                   </div>
                   </div>


                       </div>

                   </div>
                   </div>
               </div>





                   <div class="tab-pane fade" id="UIExterna_tabTabItem_734e961c6c5b4eb6a89bef9840036e38">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="UIExterna_cntCustomContainer_2f6673c18e684088904d8dc51a6c18f9" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
                       <div >

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="UIExterna_divCustomControl106441182" class="" >
                                       <div class="controls">
                                           <div class="input-min-medium">
                                               <button id="UIExterna_btnCustomControl106441182" class="form-control btn-press input-min-medium" data-bind="click:function(){ if (typeof $root.UIExterna().CustomControl106441182_Click == 'function') $root.UIExterna().CustomControl106441182_Click(); if ($root.UIExterna().custom) $root.UIExterna().custom.CustomControl106441182_Click({viewModel: $root.UIExterna()}); }">Botão UI Externa</button>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>


                       </div>

                   </div>
                   </div>


                       </div>

                   </div>
                   </div>
               </div>





                   <div class="tab-pane fade" id="UIExterna_tabTabItem_1d3b04a2b7d249aea5374591d071a610">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="UIExterna_cntCustomContainer_be213352992e4acd9cd253cf3e87573f" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
                       <div >
                           <div data-bind="with: currentDataItem">

                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="UIExterna_divIdCliente" class="" >
                                           <label id="UIExterna_lblIdCliente" for="UIExterna_lUpIdCliente" class="control-label ellipsis" title="Id Cliente">Id Cliente
                                           </label>
                                           <div class="">
                                               <div id="UIExterna_lUpIdCliente" class="box-input-min-medium pull-left input-group " data-bind="validatedField: 'IdCliente', css: { IsEditableStyle: $root.UIExterna().enabledForEditing() }, lookupControl: { value: IdCliente, maxLength: 12,lookupName: 'LookUpCliente', inputClass:'input-min-medium', isMultiSelection: false, multiSelectionValue: $root.UIExterna().entitySearchRange.VendaIdCliente, fieldName: 'IdCliente', disabled:!$root.UIExterna().enabledForEditing(), isNullable:true}" />
                                           </div>
                                       </div>
                                   </div>
                               </div>


                           </div>

                       </div>
                       </div>
                   </div>


                       </div>

                   </div>
                   </div>
               </div>



               </div>
               </div>


                       </div>

                   </div>
               </div>
               </div>
           </div>


