           <div id="UIPaiFilhaLeft_gbVenda" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gb-expander position-element"  >
               <div class="portlet box row" >
                   <div class="portlet-title">
                       <div class="caption"><i class="icon-reorder"></i>Venda</div>
                       <div class="tools">
                           <a href="javascript:;" class="collapse"></a>
                       </div>
                   </div>
                   <div class="portlet-body" style="display:block ;">
                       <div data-bind="with: currentDataItem">
                           <div class="row">

                           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-pl remove-pr">


                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="UIPaiFilhaLeft_divComboboxVenda" class="" >
                                           <label id="UIPaiFilhaLeft_lblComboboxVenda" for="UIPaiFilhaLeft_cmbComboboxVenda" class="col-md-3 remove-plr text-right control-label ellipsis" title="Combobox Venda">Combobox Venda
                                           </label>
                                           <div class="col-md-9 controls">
                                               <div class="input-medium">
                                                   <span id="UIPaiFilhaLeft_cmbComboboxVenda" class="form-control input-medium" data-bind="validatedField: 'ComboboxVendaName', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing(), activeReadonly: !$root.UIPaiFilhaLeft().enabledForEditing() }, enable: $root.UIPaiFilhaLeft().enabledForEditing(), igCombo: {
                                                      text: ComboboxVendaName,
                                                      dataSource:  $root.UIPaiFilhaLeft().dataDomains.getItems('LX_COMBOBOX_VENDA', ''),
                                                      textKey: 'name',
                                                      valueKey: 'name',
                                                      allowCustomValue : true,
                                                      enableSelectionChangedUpdate: true,
                                                      enableClearButton: true,
                                                      mode: ($root.UIPaiFilhaLeft().enabledForEditing() ? 'dropdown' : 'readonly'),
                                                      width:'100%'
                                                   }"></span>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>



                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="UIPaiFilhaLeft_divDataVenda" class="" >
                                           <label id="UIPaiFilhaLeft_lblDataVenda" for="UIPaiFilhaLeft_dtDataVenda" class="col-md-3 remove-plr text-right control-label ellipsis" title="Data Venda">Data Venda
                                           </label>
                                           <div class="col-md-9 controls">
                                               <div class="box-input-small">
                                                   <div class="input-group box-input-small" >
                                                       <span id="UIPaiFilhaLeft_dtDataVenda" class="date form-control input-small "  data-bind="validatedField: 'DataVenda', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing()}, enable: $root.UIPaiFilhaLeft().enabledForEditing(), igDatePicker: { value: DataVenda, minValue: new Date(1900, 0, 1) , width: '100%', dateDisplayFormat: 'date', dateInputFormat: 'date', dropDownOnReadOnly: false, readOnly: !$root.UIPaiFilhaLeft().enabledForEditing(), display:'block', enableUTCDates: true }" />
                                                       <span class="input-group-btn" >
                                                          <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIPaiFilhaLeft().entitySearchRange.has_VendaDataVenda(), 'icon-ok': $root.UIPaiFilhaLeft().entitySearchRange.has_VendaDataVenda(), hide: $root.UIPaiFilhaLeft().status() !== 'C' }, popoverWithBind: { template: '#UIPaiFilhaLeft_rgDataVenda', vm: $root.UIPaiFilhaLeft().entitySearchRange, ctrlName: 'UIPaiFilhaLeft_rgcDataVenda' }" /></span>
                                                       <script id="UIPaiFilhaLeft_rgDataVenda" type="text/html">
                                                           <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><span id="UIPaiFilhaLeft_dtbDataVenda" class="IsEditableStyle" data-bind="igDatePicker: { value: VendaDataVenda_begin,  dateDisplayFormat: 'date', width: '100px', dateInputFormat: 'date', enableUTCDates: true, valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_dteDataVenda').igDatePicker('option', 'minValue', ui.value); } }" /></div></div>
                                                           <p></p>
                                                           <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><span id="UIPaiFilhaLeft_dteDataVenda" class="IsEditableStyle" data-bind="igDatePicker: { value: VendaDataVenda_end,  dateDisplayFormat: 'date', width: '100px', dateInputFormat: 'date', enableUTCDates: true, valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_dtbDataVenda').igDatePicker('option', 'maxValue', ui.value); } }" /></div></div>
                                                       </script>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>



                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="UIPaiFilhaLeft_divIdFilial" class="" >
                                           <label id="UIPaiFilhaLeft_lblIdFilial" for="UIPaiFilhaLeft_lUpIdFilial" class="col-md-3 remove-plr text-right control-label ellipsis" title="Id Filial">Id Filial
                                           </label>
                                           <div class="col-md-9 ">
                                               <div id="UIPaiFilhaLeft_lUpIdFilial" class="box-input-min-medium pull-left input-group " data-bind="validatedField: 'IdFilial', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, lookupControl: { value: IdFilial, maxLength: 12,lookupName: 'LookUpFilial', inputClass:'input-min-medium', isMultiSelection: false, multiSelectionValue: $root.UIPaiFilhaLeft().entitySearchRange.VendaIdFilial, fieldName: 'IdFilial', disabled:!$root.UIPaiFilhaLeft().enabledForEditing(), isNullable:true}" />
                                           </div>
                                       </div>
                                   </div>
                               </div>



                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="UIPaiFilhaLeft_divIdCliente" class="" >
                                           <label id="UIPaiFilhaLeft_lblIdCliente" for="UIPaiFilhaLeft_lUpIdCliente" class="col-md-3 remove-plr text-right control-label ellipsis" title="Id Cliente">Id Cliente
                                           </label>
                                           <div class="col-md-9 ">
                                               <div id="UIPaiFilhaLeft_lUpIdCliente" class="box-input-min-medium pull-left input-group " data-bind="validatedField: 'IdCliente', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, lookupControl: { value: IdCliente, maxLength: 12,lookupName: 'LookUpCliente', inputClass:'input-min-medium', isMultiSelection: false, multiSelectionValue: $root.UIPaiFilhaLeft().entitySearchRange.VendaIdCliente, fieldName: 'IdCliente', disabled:!$root.UIPaiFilhaLeft().enabledForEditing(), isNullable:true}" />
                                           </div>
                                       </div>
                                   </div>
                               </div>


                           </div>

                           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-pl remove-pr">


                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="UIPaiFilhaLeft_divIdVenda" class="" >
                                           <label id="UIPaiFilhaLeft_lblIdVenda" for="UIPaiFilhaLeft_lUpIdVenda" class="col-md-3 remove-plr text-right control-label ellipsis" title="Id Venda">Id Venda
                                           </label>
                                           <div class="col-md-9 ">
                                               <div id="UIPaiFilhaLeft_lUpIdVenda" class="box-input-min-medium pull-left input-group " data-bind="validatedField: 'IdVenda', css: { IsEditableStyle: $root.UIPaiFilhaLeft().status() === 'C' || $data.isAdded() }, lookupControl: { value: IdVenda, maxLength: 12,lookupName: '', inputClass:'input-min-medium', isMultiSelection: false, multiSelectionValue: $root.UIPaiFilhaLeft().entitySearchRange.VendaIdVenda, fieldName: 'IdVenda', disabled:!($root.UIPaiFilhaLeft().status() === 'C' || $data.isAdded()), isNullable:false}" />
                                               <div id="UIPaiFilhaLeft_divNumeroVenda" class="">
                                                   <div class="pull-left box-input-min-medium">
                                                       <div class="input-group box-input-min-medium">
                                                           <input id="UIPaiFilhaLeft_ntxNumeroVenda" class="form-control input-min-medium" data-bind="validatedField: 'NumeroVenda', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, enable:$root.UIPaiFilhaLeft().enabledForEditing(), igNumericEditor: { value: NumeroVenda,minValue: 0,  maxLength: 12, maxValue: 999999999999,  dataMode: 'int', readOnly: !$root.UIPaiFilhaLeft().enabledForEditing() }" />
                                                           <span class="input-group-btn" >
                                                              <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIPaiFilhaLeft().entitySearchRange.has_VendaNumeroVenda(), 'icon-ok': $root.UIPaiFilhaLeft().entitySearchRange.has_VendaNumeroVenda(), hide: $root.UIPaiFilhaLeft().status() !== 'C' }, popoverWithBind: { template: '#UIPaiFilhaLeft_rgNumeroVenda', vm: $root.UIPaiFilhaLeft().entitySearchRange, ctrlName: 'UIPaiFilhaLeft_rgcNumeroVenda' }" /></span>
                                                           <script id="UIPaiFilhaLeft_rgNumeroVenda" type="text/html">
                                                               <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxbNumeroVenda" class="IsEditableStyle input-min-medium" data-bind="igNumericEditor: { value: VendaNumeroVenda_begin, minValue: 0, maxLength: 12, dataMode: 'int', valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxeNumeroVenda').igNumericEditor('option', 'minValue', ui.value); } }" /></div></div>
                                                               <p></p>
                                                               <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxeNumeroVenda" class="IsEditableStyle input-min-medium" data-bind="igNumericEditor: { value: VendaNumeroVenda_end, minValue: 0, maxLength: 12, dataMode: 'int', valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxbNumeroVenda').igNumericEditor('option', 'maxValue', ui.value); } }" /></div></div>
                                                           </script>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>



                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="UIPaiFilhaLeft_divQuantidadeTotal" class="" >
                                           <label id="UIPaiFilhaLeft_lblQuantidadeTotal" for="UIPaiFilhaLeft_ntxQuantidadeTotal" class="col-md-3 remove-plr text-right control-label ellipsis" title="Quantidade Total">Quantidade Total
                                           </label>
                                           <div class="col-md-9 controls">
                                               <div class="box-input-medium">
                                                   <div class="input-group box-input-medium">
                                                       <input id="UIPaiFilhaLeft_ntxQuantidadeTotal" class="form-control input-medium" data-bind="validatedField: 'QuantidadeTotal', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, enable:$root.UIPaiFilhaLeft().enabledForEditing(), igNumericEditor: { value: QuantidadeTotal,minValue: 0,  maxLength: 18, maxValue: 999999999999999999,  dataMode: 'number', minDecimals: 0, maxDecimals: 0, readOnly: !$root.UIPaiFilhaLeft().enabledForEditing() }" />
                                                       <span class="input-group-btn" >
                                                          <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIPaiFilhaLeft().entitySearchRange.has_VendaQuantidadeTotal(), 'icon-ok': $root.UIPaiFilhaLeft().entitySearchRange.has_VendaQuantidadeTotal(), hide: $root.UIPaiFilhaLeft().status() !== 'C' }, popoverWithBind: { template: '#UIPaiFilhaLeft_rgQuantidadeTotal', vm: $root.UIPaiFilhaLeft().entitySearchRange, ctrlName: 'UIPaiFilhaLeft_rgcQuantidadeTotal' }" /></span>
                                                       <script id="UIPaiFilhaLeft_rgQuantidadeTotal" type="text/html">
                                                           <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxbQuantidadeTotal" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaQuantidadeTotal_begin, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxeQuantidadeTotal').igNumericEditor('option', 'minValue', ui.value); } }" /></div></div>
                                                           <p></p>
                                                           <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxeQuantidadeTotal" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaQuantidadeTotal_end, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxbQuantidadeTotal').igNumericEditor('option', 'maxValue', ui.value); } }" /></div></div>
                                                       </script>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>



                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="UIPaiFilhaLeft_divValorTotal" class="" >
                                           <label id="UIPaiFilhaLeft_lblValorTotal" for="UIPaiFilhaLeft_ntxValorTotal" class="col-md-3 remove-plr text-right control-label ellipsis" title="Valor Total">Valor Total
                                           </label>
                                           <div class="col-md-9 controls">
                                               <div class="box-input-medium">
                                                   <div class="input-group box-input-medium">
                                                       <input id="UIPaiFilhaLeft_ntxValorTotal" class="form-control input-medium" data-bind="validatedField: 'ValorTotal', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, enable:$root.UIPaiFilhaLeft().enabledForEditing(), igNumericEditor: { value: ValorTotal,minValue: 0,  maxLength: 18, maxValue: 999999999999999999,  dataMode: 'number', minDecimals: 0, maxDecimals: 0, readOnly: !$root.UIPaiFilhaLeft().enabledForEditing() }" />
                                                       <span class="input-group-btn" >
                                                          <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIPaiFilhaLeft().entitySearchRange.has_VendaValorTotal(), 'icon-ok': $root.UIPaiFilhaLeft().entitySearchRange.has_VendaValorTotal(), hide: $root.UIPaiFilhaLeft().status() !== 'C' }, popoverWithBind: { template: '#UIPaiFilhaLeft_rgValorTotal', vm: $root.UIPaiFilhaLeft().entitySearchRange, ctrlName: 'UIPaiFilhaLeft_rgcValorTotal' }" /></span>
                                                       <script id="UIPaiFilhaLeft_rgValorTotal" type="text/html">
                                                           <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxbValorTotal" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaValorTotal_begin, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxeValorTotal').igNumericEditor('option', 'minValue', ui.value); } }" /></div></div>
                                                           <p></p>
                                                           <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxeValorTotal" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaValorTotal_end, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxbValorTotal').igNumericEditor('option', 'maxValue', ui.value); } }" /></div></div>
                                                       </script>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>



                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="UIPaiFilhaLeft_divVarcharVenda" class="" >
                                           <label id="UIPaiFilhaLeft_lblVarcharVenda" for="UIPaiFilhaLeft_tbVarcharVenda" class="col-md-3 remove-plr text-right control-label ellipsis" title="Varchar Venda">Varchar Venda
                                           </label>
                                           <div class="col-md-9 controls">
                                               <div class="input-xlarge">
                                                   <input id="UIPaiFilhaLeft_tbVarcharVenda" class="form-control ellipsis input-xlarge" data-bind="attr: { title: VarcharVenda }, validatedField: 'VarcharVenda', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, enable: $root.UIPaiFilhaLeft().enabledForEditing(), igTextEditor: { maxLength: 50, value: VarcharVenda, readOnly: !$root.UIPaiFilhaLeft().enabledForEditing()  }"/>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>


                           </div>

                       </div>
                   </div>
                   </div>
               </div>
           </div>

           <div id="UIPaiFilhaLeft_tcVendaTabControl" class="tabbable tabbable-custom box col-lg-12 col-md-12 col-sm-12 col-xs-12" >
               <ul class="nav nav-tabs">
                  <li id="UIPaiFilhaLeft_tiVendaItemTabItem" class="active"><a href="#UIPaiFilhaLeft_tabVendaItemTabItem" data-toggle="tab">VendaItem</a></li>
               </ul>
               <div class="tab-content">



               <div class="tab-pane fade active in" id="UIPaiFilhaLeft_tabVendaItemTabItem">
                   <div class="ui-helper-clearfix">
                   <div class="">

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-height-size"  >
                       <div class="linx-table-button position-icon">
                           <div class="botoes-tabela">
                           <div data-bind="with: currentDataItem">
                           <button id="UIPaiFilhaLeft_dGridVendaItem_AddBtn" class="btn default background-color-theme" data-placement="top" title="Novo Registro" data-bind="visible: $root.UIPaiFilhaLeft().dataToolbar.canUndo, click: function () { $root.UIPaiFilhaLeft().createAndNotifyVendaItem($data); }"><i class="fa fa-plus"></i></button>
                           <button id="UIPaiFilhaLeft_dGridVendaItem_DelBtn" class="btn default background-color-theme" data-placement="top" title="Excluir Registro" data-bind="visible: $root.UIPaiFilhaLeft().dataToolbar.canUndo, click: function () { var row = $('#UIPaiFilhaLeft_dGridVendaItem').igGrid('selectedRow'); var entity = findElementByKey($root.UIPaiFilhaLeft().currentDataItem().VendaItemList, 'RowDataId', isNullOrEmpty(row)?0:row.id); if (isNullOrEmpty(entity)) { $root.UIPaiFilhaLeft().app.showMessage('Registro não selecionado!', 'Informação', ['Ok']);return;}  if ($root.UIPaiFilhaLeft().deleteEntity(entity)) $('#UIPaiFilhaLeft_dGridVendaItem').igGridUpdating('deleteRow', row.id); }"><i class="fa fa-trash-o"></i></button>
                           <button id="UIPaiFilhaLeft_dGridVendaItem_ConfigBtn" class="btn default background-color-theme" data-placement="top" title="Configurar Grade" data-bind="click: function () {$('#UIPaiFilhaLeft_dGridVendaItem').igGridHiding('showColumnChooser');  }"><i class="fa fa-gear"></i></button>
                           <button id="UIPaiFilhaLeft_dGridVendaItem_EditorBtn" class="btn default background-color-theme" data-placement="top" title="Alterar edição para modo Template" 
                            data-bind="click:function () { 
                           var mode = $('#UIPaiFilhaLeft_dGridVendaItem').igGridUpdating('option', 'editMode'); 
                           if (mode == 'cell') { 
                              var rows = $('#UIPaiFilhaLeft_dGridVendaItem').igGrid('rows');
                              if (rows.length === 0) {$root.UIPaiFilhaLeft().app.showMessage('Não é possível abrir a edição quando não existir ao menos uma linha na grade!', 'Informação', ['Ok']); return false; };
                              $('#UIPaiFilhaLeft_dGridVendaItem').igGridUpdating('option', 'editMode', 'rowedittemplate');
                              $root.UIPaiFilhaLeft().openEditor('#UIPaiFilhaLeft_dGridVendaItem', 'VendaItem', 'vm.currentDataItem().currentVendaItem;vm.currentDataItem().VendaItemList', 'VendaItem;vm.currentDataItem()', 'VendaItem(vm.currentDataItem())')
                              $('#UIPaiFilhaLeft_dGridVendaItem').igGridUpdating('option', 'startEditTriggers', 'dblclick,F2');
                              $('.fa.fa-th').addClass('fa fa-list-alt').removeClass('fa-th');
                              $('#UIPaiFilhaLeft_dGridVendaItem_EditorBtn').attr('title', 'Alterar edição para modo Célula');
                           }
                           else {
                              $('#UIPaiFilhaLeft_dGridVendaItem').igGridUpdating('option', 'editMode', 'cell');
                              $('#UIPaiFilhaLeft_dGridVendaItem').igGridUpdating('option', 'startEditTriggers', 'click');
                              $('.fa.fa-list-alt').addClass('fa fa-th').removeClass('fa-list-alt');
                              $('#UIPaiFilhaLeft_dGridVendaItem_EditorBtn').attr('title', 'Alterar edição para modo Template');
                           }
                           }"><i class="fa fa-th"></i></button>
                           <button id="UIPaiFilhaLeft_dGridVendaItem_ExpExcelBtn" class="btn default background-color-theme" data-placement="top" title="Exportar para Excel" data-bind="click: function () {$root.UIPaiFilhaLeft().exportDataDetails($data, 'VendaItem');  }"><i class="fa fa-file-excel-o"></i></button>
                           </div>
                           </div>
                       </div>
                       <div class="linx-table-grid position-table-grid">
                           <table id="UIPaiFilhaLeft_dGridVendaItem" data-bind="css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing }"  />
                       </div>

                   </div>



                   <div id="dialogVendaItem"  class="toolbar-dialog-template" title='DataGrid' style="display: none !important; overflow-y:auto;">
                      <button class="btn btn-sm btn-default " id="backRegVendaItem" onClick="$(this).backRegVendaItem();" data-placement="bottom" title="Registro Anterior"><i class="fa fa-backward"></i></button>
                      <span class="caption"><label id="currentNumberVendaItem">0</label>/<label id="totalNumberVendaItem">0</label></span>
                      <button class="btn btn-sm btn-default " id="nextRegVendaItem" onClick="$(this).nextRegVendaItem();" data-placement="bottom" title="Próximo Registro"><i class="fa fa-forward"></i></button>
                      <button class="btn btn-sm btn-default " id="addRegVendaItem" onClick="$(this).addRegVendaItem();" data-placement="bottom" title="Adicionar Registro"><i class="fa fa-plus"></i></button>
                      <button class="btn btn-sm btn-default " id="delRegVendaItem" onClick="$(this).delRegVendaItem();" data-placement="bottom" title="Deletar Registro"><i class="fa fa-trash-o"></i></button>
                      <button style="float: right;" class="btn btn-sm btn-default" id="okRegVendaItem" onClick="$(this).okRegVendaItem();" data-placement="bottom" title="Concluir"><i class="fa fa fa-times"></i></button>
                   <div id="UIPaiFilhaLeft_templateVendaItem" class="" style="width: 100%; height: 100%;" >
                       <div data-bind="with: currentDataItem"><div data-bind="with: currentVendaItem">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="UIPaiFilhaLeft_divVendaItem_ComboboxVendaItemTemplate" class="" >
                                       <label id="UIPaiFilhaLeft_lblVendaItem_ComboboxVendaItem" for="UIPaiFilhaLeft_cmbVendaItem_ComboboxVendaItem" class="control-label ellipsis" title="Combobox Venda Item">Combobox Venda Item
                                       </label>
                                       <div class="controls">
                                           <div class="input-medium">
                                               <span id="UIPaiFilhaLeft_cmbVendaItem_ComboboxVendaItem" class="form-control input-medium" data-bind="validatedField: 'ComboboxVendaItemName', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing(), activeReadonly: !$root.UIPaiFilhaLeft().enabledForEditing() }, enable: $root.UIPaiFilhaLeft().enabledForEditing(), igCombo: {
                                                  text: ComboboxVendaItemName,
                                                  dataSource:  $root.UIPaiFilhaLeft().dataDomains.getItems('LX_COMBOBOX_VENDA_ITEM', ''),
                                                  textKey: 'name',
                                                  valueKey: 'name',
                                                  allowCustomValue : true,
                                                  enableSelectionChangedUpdate: true,
                                                  enableClearButton: true,
                                                  mode: ($root.UIPaiFilhaLeft().enabledForEditing() ? 'dropdown' : 'readonly'),
                                                  width:'100%'
                                               }"></span>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>



                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="UIPaiFilhaLeft_divVendaItem_IdControleItensTemplate" class="" >
                                       <label id="UIPaiFilhaLeft_lblVendaItem_IdControleItens" for="UIPaiFilhaLeft_lUpVendaItem_IdControleItens" class="control-label ellipsis" title="Id Controle Itens">Id Controle Itens
                                       </label>
                                       <div class="">
                                           <div id="UIPaiFilhaLeft_lUpVendaItem_IdControleItens" class="box-input-min-medium pull-left input-group " data-bind="validatedField: 'IdControleItens', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, lookupControl: { value: IdControleItens, maxLength: 12,lookupName: 'LookUpControleItens', inputClass:'input-min-medium', isMultiSelection: false, multiSelectionValue: $root.UIPaiFilhaLeft().entitySearchRange.VendaItemIdControleItens, fieldName: 'IdControleItens', disabled:!$root.UIPaiFilhaLeft().enabledForEditing(), isNullable:true}" />
                                       </div>
                                   </div>
                               </div>
                           </div>



                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="UIPaiFilhaLeft_divVendaItem_IdProdutoTemplate" class="" >
                                       <label id="UIPaiFilhaLeft_lblVendaItem_IdProduto" for="UIPaiFilhaLeft_lUpVendaItem_IdProduto" class="control-label ellipsis" title="Id Produto">Id Produto
                                       </label>
                                       <div class="">
                                           <div id="UIPaiFilhaLeft_lUpVendaItem_IdProduto" class="box-input-min-medium pull-left input-group " data-bind="validatedField: 'IdProduto', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, lookupControl: { value: IdProduto, maxLength: 12,lookupName: 'LookUpProduto', inputClass:'input-min-medium', isMultiSelection: false, multiSelectionValue: $root.UIPaiFilhaLeft().entitySearchRange.VendaItemIdProduto, fieldName: 'IdProduto', disabled:!$root.UIPaiFilhaLeft().enabledForEditing(), isNullable:true}" />
                                       </div>
                                   </div>
                               </div>
                           </div>



                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="UIPaiFilhaLeft_divVendaItem_IdVendaItemTemplate" class="" >
                                       <label id="UIPaiFilhaLeft_lblVendaItem_IdVendaItem" for="UIPaiFilhaLeft_ntxVendaItem_IdVendaItem" class="control-label ellipsis" title="Id Venda Item">Id Venda Item
                                       </label>
                                       <div class="controls">
                                           <div class="box-input-min-medium">
                                               <div class="input-group box-input-min-medium">
                                                   <input id="UIPaiFilhaLeft_ntxVendaItem_IdVendaItem" class="form-control input-min-medium" data-bind="validatedField: 'IdVendaItem', css: { IsEditableStyle: $root.UIPaiFilhaLeft().status() === 'C' || $data.isAdded() }, enable:$root.UIPaiFilhaLeft().status() === 'C' || $data.isAdded(), igNumericEditor: { value: IdVendaItem,minValue: 0,  maxLength: 12, maxValue: 999999999999,  dataMode: 'int', readOnly: !($root.UIPaiFilhaLeft().status() === 'C' || $data.isAdded()) }" />
                                                   <span class="input-group-btn" >
                                                      <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIPaiFilhaLeft().entitySearchRange.has_VendaItemIdVendaItem(), 'icon-ok': $root.UIPaiFilhaLeft().entitySearchRange.has_VendaItemIdVendaItem(), hide: $root.UIPaiFilhaLeft().status() !== 'C' }, popoverWithBind: { template: '#UIPaiFilhaLeft_rgVendaItem_IdVendaItem', vm: $root.UIPaiFilhaLeft().entitySearchRange, ctrlName: 'UIPaiFilhaLeft_rgcVendaItem_IdVendaItem' }" /></span>
                                                   <script id="UIPaiFilhaLeft_rgVendaItem_IdVendaItem" type="text/html">
                                                       <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxbVendaItem_IdVendaItem" class="IsEditableStyle input-min-medium" data-bind="igNumericEditor: { value: VendaItemIdVendaItem_begin, minValue: 0, maxLength: 12, dataMode: 'int', valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxeVendaItem_IdVendaItem').igNumericEditor('option', 'minValue', ui.value); } }" /></div></div>
                                                       <p></p>
                                                       <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxeVendaItem_IdVendaItem" class="IsEditableStyle input-min-medium" data-bind="igNumericEditor: { value: VendaItemIdVendaItem_end, minValue: 0, maxLength: 12, dataMode: 'int', valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxbVendaItem_IdVendaItem').igNumericEditor('option', 'maxValue', ui.value); } }" /></div></div>
                                                   </script>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>



                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="UIPaiFilhaLeft_divVendaItem_IdVendaTemplate" class="" >
                                       <label id="UIPaiFilhaLeft_lblVendaItem_IdVenda" for="UIPaiFilhaLeft_lUpVendaItem_IdVenda" class="control-label ellipsis" title="Id Venda">Id Venda
                                       </label>
                                       <div class="">
                                           <div id="UIPaiFilhaLeft_lUpVendaItem_IdVenda" class="box-input-min-medium pull-left input-group " data-bind="validatedField: 'IdVenda', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, lookupControl: { value: IdVenda, maxLength: 12,lookupName: '', inputClass:'input-min-medium', isMultiSelection: false, multiSelectionValue: $root.UIPaiFilhaLeft().entitySearchRange.VendaItemIdVenda, fieldName: 'IdVenda', disabled:!$root.UIPaiFilhaLeft().enabledForEditing(), isNullable:false}" />
                                       </div>
                                   </div>
                               </div>
                           </div>



                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="UIPaiFilhaLeft_divVendaItem_NumeroItensTemplate" class="" >
                                       <label id="UIPaiFilhaLeft_lblVendaItem_NumeroItens" for="UIPaiFilhaLeft_ntxVendaItem_NumeroItens" class="control-label ellipsis" title="Numero Itens">Numero Itens
                                       </label>
                                       <div class="controls">
                                           <div class="box-input-medium">
                                               <div class="input-group box-input-medium">
                                                   <input id="UIPaiFilhaLeft_ntxVendaItem_NumeroItens" class="form-control input-medium" data-bind="validatedField: 'NumeroItens', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, enable:$root.UIPaiFilhaLeft().enabledForEditing(), igNumericEditor: { value: NumeroItens,minValue: 0,  maxLength: 18, maxValue: 999999999999999999,  dataMode: 'number', minDecimals: 0, maxDecimals: 0, readOnly: !$root.UIPaiFilhaLeft().enabledForEditing() }" />
                                                   <span class="input-group-btn" >
                                                      <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIPaiFilhaLeft().entitySearchRange.has_VendaItemNumeroItens(), 'icon-ok': $root.UIPaiFilhaLeft().entitySearchRange.has_VendaItemNumeroItens(), hide: $root.UIPaiFilhaLeft().status() !== 'C' }, popoverWithBind: { template: '#UIPaiFilhaLeft_rgVendaItem_NumeroItens', vm: $root.UIPaiFilhaLeft().entitySearchRange, ctrlName: 'UIPaiFilhaLeft_rgcVendaItem_NumeroItens' }" /></span>
                                                   <script id="UIPaiFilhaLeft_rgVendaItem_NumeroItens" type="text/html">
                                                       <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxbVendaItem_NumeroItens" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaItemNumeroItens_begin, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxeVendaItem_NumeroItens').igNumericEditor('option', 'minValue', ui.value); } }" /></div></div>
                                                       <p></p>
                                                       <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxeVendaItem_NumeroItens" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaItemNumeroItens_end, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxbVendaItem_NumeroItens').igNumericEditor('option', 'maxValue', ui.value); } }" /></div></div>
                                                   </script>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>



                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="UIPaiFilhaLeft_divVendaItem_QuantidadeUnitTemplate" class="" >
                                       <label id="UIPaiFilhaLeft_lblVendaItem_QuantidadeUnit" for="UIPaiFilhaLeft_ntxVendaItem_QuantidadeUnit" class="control-label ellipsis" title="Quantidade Unit">Quantidade Unit
                                       </label>
                                       <div class="controls">
                                           <div class="box-input-medium">
                                               <div class="input-group box-input-medium">
                                                   <input id="UIPaiFilhaLeft_ntxVendaItem_QuantidadeUnit" class="form-control input-medium" data-bind="validatedField: 'QuantidadeUnit', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, enable:$root.UIPaiFilhaLeft().enabledForEditing(), igNumericEditor: { value: QuantidadeUnit,minValue: 0,  maxLength: 18, maxValue: 999999999999999999,  dataMode: 'number', minDecimals: 0, maxDecimals: 0, readOnly: !$root.UIPaiFilhaLeft().enabledForEditing() }" />
                                                   <span class="input-group-btn" >
                                                      <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIPaiFilhaLeft().entitySearchRange.has_VendaItemQuantidadeUnit(), 'icon-ok': $root.UIPaiFilhaLeft().entitySearchRange.has_VendaItemQuantidadeUnit(), hide: $root.UIPaiFilhaLeft().status() !== 'C' }, popoverWithBind: { template: '#UIPaiFilhaLeft_rgVendaItem_QuantidadeUnit', vm: $root.UIPaiFilhaLeft().entitySearchRange, ctrlName: 'UIPaiFilhaLeft_rgcVendaItem_QuantidadeUnit' }" /></span>
                                                   <script id="UIPaiFilhaLeft_rgVendaItem_QuantidadeUnit" type="text/html">
                                                       <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxbVendaItem_QuantidadeUnit" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaItemQuantidadeUnit_begin, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxeVendaItem_QuantidadeUnit').igNumericEditor('option', 'minValue', ui.value); } }" /></div></div>
                                                       <p></p>
                                                       <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxeVendaItem_QuantidadeUnit" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaItemQuantidadeUnit_end, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxbVendaItem_QuantidadeUnit').igNumericEditor('option', 'maxValue', ui.value); } }" /></div></div>
                                                   </script>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>



                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="UIPaiFilhaLeft_divVendaItem_ValorUnitarioTemplate" class="" >
                                       <label id="UIPaiFilhaLeft_lblVendaItem_ValorUnitario" for="UIPaiFilhaLeft_ntxVendaItem_ValorUnitario" class="control-label ellipsis" title="Valor Unitario">Valor Unitario
                                       </label>
                                       <div class="controls">
                                           <div class="box-input-medium">
                                               <div class="input-group box-input-medium">
                                                   <input id="UIPaiFilhaLeft_ntxVendaItem_ValorUnitario" class="form-control input-medium" data-bind="validatedField: 'ValorUnitario', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, enable:$root.UIPaiFilhaLeft().enabledForEditing(), igNumericEditor: { value: ValorUnitario,minValue: 0,  maxLength: 18, maxValue: 999999999999999999,  dataMode: 'number', minDecimals: 0, maxDecimals: 0, readOnly: !$root.UIPaiFilhaLeft().enabledForEditing() }" />
                                                   <span class="input-group-btn" >
                                                      <button type="button" class="filterRange btn-linx btn-ok" data-bind="css: { 'icon-filter': !$root.UIPaiFilhaLeft().entitySearchRange.has_VendaItemValorUnitario(), 'icon-ok': $root.UIPaiFilhaLeft().entitySearchRange.has_VendaItemValorUnitario(), hide: $root.UIPaiFilhaLeft().status() !== 'C' }, popoverWithBind: { template: '#UIPaiFilhaLeft_rgVendaItem_ValorUnitario', vm: $root.UIPaiFilhaLeft().entitySearchRange, ctrlName: 'UIPaiFilhaLeft_rgcVendaItem_ValorUnitario' }" /></span>
                                                   <script id="UIPaiFilhaLeft_rgVendaItem_ValorUnitario" type="text/html">
                                                       <div class="row"><span class="col-md-3 text-right">De:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxbVendaItem_ValorUnitario" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaItemValorUnitario_begin, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxeVendaItem_ValorUnitario').igNumericEditor('option', 'minValue', ui.value); } }" /></div></div>
                                                       <p></p>
                                                       <div class="row"><span class="col-md-3 text-right">Até:</span><div class="col-md-9"><input id="UIPaiFilhaLeft_ntxeVendaItem_ValorUnitario" class="IsEditableStyle input-medium" data-bind="igNumericEditor: { value: VendaItemValorUnitario_end, minValue: 0, maxLength: 18, dataMode: 'number', minDecimals: 0, maxDecimals: 0, valueChanged: function (evt, ui) { $('#UIPaiFilhaLeft_ntxbVendaItem_ValorUnitario').igNumericEditor('option', 'maxValue', ui.value); } }" /></div></div>
                                                   </script>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>



                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="UIPaiFilhaLeft_divVendaItem_VarcharVendaItemTemplate" class="" >
                                       <label id="UIPaiFilhaLeft_lblVendaItem_VarcharVendaItem" for="UIPaiFilhaLeft_tbVendaItem_VarcharVendaItem" class="control-label ellipsis" title="Varchar Venda Item">Varchar Venda Item
                                       </label>
                                       <div class="controls">
                                           <div class="input-xlarge">
                                               <input id="UIPaiFilhaLeft_tbVendaItem_VarcharVendaItem" class="form-control ellipsis input-xlarge" data-bind="attr: { title: VarcharVendaItem }, validatedField: 'VarcharVendaItem', css: { IsEditableStyle: $root.UIPaiFilhaLeft().enabledForEditing() }, enable: $root.UIPaiFilhaLeft().enabledForEditing(), igTextEditor: { maxLength: 50, value: VarcharVendaItem, readOnly: !$root.UIPaiFilhaLeft().enabledForEditing()  }"/>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>


                       </div>

                   </div>
                   </div></div>
               </div>


                   </div>

               </div>
               </div>
           </div>



           </div>
           </div>


