<div data-bind="attr: { transactionNumberControl: transactionNumberControl }"></div>
<div class="topo-container" data-bind="if: !isDependentVM()">
   <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header', activationData: { parentVM: $root }, preserveContext: false }-->
       <!--/ko-->
   </div>
</div>
<div data-bind="if: !isDependentVM()">
   <div id="breadcrumb" class="style-breadcrumb" data-bind="widget: { kind: 'breadcrumb' }"></div>
</div>
<div class="clearfix" data-bind="if: !isDependentVM()">
</div>
<!-- BEGIN CONTAINER -->
<div data-bind="css: { 'page-container fullbtn': !isDependentVM() }">
       <!-- ko if: isDependentVM() && !hideToolbar() -->
       <!-- BEGIN SIDEBAR -->
       <div data-bind="css: { hide: (!hasBrand) }, widget: { kind: 'branditem', vm: $root }" ></div>
       <div class="pull-right redebar" data-bind="css: { hide: (!hasBrand || status() !== 'C') }, widget: { kind: 'brand', vm: $root }"></div>
       <div data-bind="css: { hide: (!hideToolbar) }, widget: { kind: 'datatoolbar', vm: $data }" ></div>
       <div class="clearfix"></div>
       <!-- END SIDEBAR -->
       <!--/ko-->
    <!-- BEGIN PAGE -->
        <div class="col-md-12 remove-pl remove-pr">
            <section>
                <div class="screen-view">
                               <div id="GraficosFlexMonsters_gbCustomContainer_382822e39efb4588ac61cdbe779ba88d" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gb-expander position-element"  >
               <div class="portlet box row" >
                   <div class="portlet-title">
                       <div class="caption" title="Título não definido"><i class="icon-reorder"></i>Título não definido</div>
                       <div class="tools">
                           <a id="GraficosFlexMonsters_gbCustomContainer_382822e39efb4588ac61cdbe779ba88d_anchor" href="#GraficosFlexMonsters_gbCustomContainer_382822e39efb4588ac61cdbe779ba88d_body" role="button" data-toggle="collapse" data-parent="#GraficosFlexMonsters_gbCustomContainer_382822e39efb4588ac61cdbe779ba88d" aria-controls="#GraficosFlexMonsters_gbCustomContainer_382822e39efb4588ac61cdbe779ba88d_body" class="" title="Clique para expandir ou colapsar"></a>
                       </div>
                   </div>
                   <div id="GraficosFlexMonsters_gbCustomContainer_382822e39efb4588ac61cdbe779ba88d_body" class="portlet-body collapse in" >
                       <div class="row">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


               <div id="GraficosFlexMonsters_tcVendaTabControl" class="tabbable tabbable-custom box col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                  <div class="container-tab">
                     <div id="GraficosFlexMonsters_tcVendaTabControl_scroller_left" class="scroller-c scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
                     <div id="GraficosFlexMonsters_tcVendaTabControl_scroller_right" class="scroller-c scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
                     <div id="GraficosFlexMonsters_tcVendaTabControl_wrapper" class="wrapper">
                        <ul id="GraficosFlexMonsters_tcVendaTabControl_list" class="nav nav-tabs list">
                           <li id="GraficosFlexMonsters_tiVendaItemTabItem" class="active"><a href="#GraficosFlexMonsters_tabVendaItemTabItem" data-toggle="tab" title="Gráfico Barra">Gráfico Barra</a></li>
                           <li id="GraficosFlexMonsters_tiCopy_612517062_VendaItemTabItem" class=""><a href="#GraficosFlexMonsters_tabCopy_612517062_VendaItemTabItem" data-toggle="tab" title="Gráfico Linha">Gráfico Linha</a></li>
                           <li id="GraficosFlexMonsters_tiCopy_612534812_VendaItemTabItem" class=""><a href="#GraficosFlexMonsters_tabCopy_612534812_VendaItemTabItem" data-toggle="tab" title="Gráfico Ponto">Gráfico Ponto</a></li>
                           <li id="GraficosFlexMonsters_tiCopy_612556078_VendaItemTabItem" class=""><a href="#GraficosFlexMonsters_tabCopy_612556078_VendaItemTabItem" data-toggle="tab" title="Gráfico Pizza">Gráfico Pizza</a></li>
                           <li id="GraficosFlexMonsters_tiCopy_612565250_VendaItemTabItem" class=""><a href="#GraficosFlexMonsters_tabCopy_612565250_VendaItemTabItem" data-toggle="tab" title="Gráfico Barras Sobrepostas">Gráfico Barras Sobrepostas</a></li>
                           <li id="GraficosFlexMonsters_tiCopy_612581937_VendaItemTabItem" class=""><a href="#GraficosFlexMonsters_tabCopy_612581937_VendaItemTabItem" data-toggle="tab" title="Gráfico Barra Linha">Gráfico Barra Linha</a></li>
                        </ul>
                        </div>
                     </div>
                  <div class="tab-content">



                   <div class="tab-pane fade active in" id="GraficosFlexMonsters_tabVendaItemTabItem">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <div id="pivotf099f286-c61c-485b-91d2-3071b82aeb92GraficosFlexMonsters_pivotVendaItem" class="row pivot-style" />

                       </div>


                       </div>

                   </div>
                   </div>
               </div>





                   <div class="tab-pane fade" id="GraficosFlexMonsters_tabCopy_612517062_VendaItemTabItem">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <div id="pivot31acee23-e186-4c76-a03e-55c35af308c5GraficosFlexMonsters_pivotCopy_612517062_VendaItemPagedList" class="row pivot-style" />

                       </div>


                       </div>

                   </div>
                   </div>
               </div>





                   <div class="tab-pane fade" id="GraficosFlexMonsters_tabCopy_612534812_VendaItemTabItem">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <div id="pivot913a276f-49fa-4d68-9f64-e3acfe76cbd4GraficosFlexMonsters_pivotCopy_612534828_VendaItemPagedList" class="row pivot-style" />

                       </div>


                       </div>

                   </div>
                   </div>
               </div>





                   <div class="tab-pane fade" id="GraficosFlexMonsters_tabCopy_612556078_VendaItemTabItem">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <div id="pivot4327eb3b-2c61-4bbe-bc85-3dcbba1bab52GraficosFlexMonsters_pivotCopy_612556078_VendaItemPagedList" class="row pivot-style" />

                       </div>


                       </div>

                   </div>
                   </div>
               </div>





                   <div class="tab-pane fade" id="GraficosFlexMonsters_tabCopy_612565250_VendaItemTabItem">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <div id="pivot7f7e3959-de82-4422-94e2-8ba60be5f421GraficosFlexMonsters_pivotCopy_612565250_VendaItemPagedList" class="row pivot-style" />

                       </div>


                       </div>

                   </div>
                   </div>
               </div>





                   <div class="tab-pane fade" id="GraficosFlexMonsters_tabCopy_612581937_VendaItemTabItem">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <div id="pivot683bc16d-4adc-4b5a-851c-dbbd555495abGraficosFlexMonsters_pivotCopy_612581937_VendaItemPagedList" class="row pivot-style" />

                       </div>


                       </div>

                   </div>
                   </div>
               </div>



               </div>
               </div>


                       </div>

                   </div>
               </div>
               </div>
           </div>


                </div>
            </section>
        </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
