<div data-bind="attr: { transactionNumberControl: transactionNumberControl }"></div>
<div class="topo-container" data-bind="if: !isDependentVM()">
   <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header', activationData: { parentVM: $root }, preserveContext: false }-->
       <!--/ko-->
   </div>
</div>
<div data-bind="if: !isDependentVM()">
   <div id="breadcrumb" class="style-breadcrumb" data-bind="widget: { kind: 'breadcrumb' }"></div>
</div>
<div class="clearfix" data-bind="if: !isDependentVM()">
</div>
<!-- BEGIN CONTAINER -->
<div data-bind="css: { 'page-container fullbtn': !isDependentVM() }">
       <!-- ko if: isDependentVM() && !hideToolbar() -->
       <!-- BEGIN SIDEBAR -->
       <div data-bind="css: { hide: (!hasBrand) }, widget: { kind: 'branditem', vm: $root }" ></div>
       <div class="pull-right redebar" data-bind="css: { hide: (!hasBrand || status() !== 'C') }, widget: { kind: 'brand', vm: $root }"></div>
       <div data-bind="css: { hide: (!hideToolbar) }, widget: { kind: 'datatoolbar', vm: $data }" ></div>
       <div class="clearfix"></div>
       <!-- END SIDEBAR -->
       <!--/ko-->
    <!-- BEGIN PAGE -->
    <section>
        <div id="GraficosTelerik_formViewer" class="panelTransaition">
            <figure id="GraficosTelerik_formViewer_front" class="front">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div data-bind="style: { display: $root.GraficosTelerik().viewType() === 'Main' ? '' : 'none' }">
                                       <div id="GraficosTelerik_gbExpander_37f817b7d644405aa758fc7c1f130380" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gb-expander position-element"  >
               <div class="portlet box row" >
                   <div class="portlet-title">
                       <div class="caption" title="Gráficos"><i class="icon-reorder"></i>Gráficos</div>
                       <div class="tools">
                           <a id="GraficosTelerik_gbExpander_37f817b7d644405aa758fc7c1f130380_anchor" href="#GraficosTelerik_gbExpander_37f817b7d644405aa758fc7c1f130380_body" role="button" data-toggle="collapse" data-parent="#GraficosTelerik_gbExpander_37f817b7d644405aa758fc7c1f130380" aria-controls="#GraficosTelerik_gbExpander_37f817b7d644405aa758fc7c1f130380_body" class="" title="Clique para expandir ou colapsar"></a>
                       </div>
                   </div>
                   <div id="GraficosTelerik_gbExpander_37f817b7d644405aa758fc7c1f130380_body" class="portlet-body collapse in" >
                       <div class="row">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


               <div id="GraficosTelerik_tcVendaTabControl" class="tabbable tabbable-custom box col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                  <div class="container-tab">
                     <div id="GraficosTelerik_tcVendaTabControl_scroller_left" class="scroller-c scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
                     <div id="GraficosTelerik_tcVendaTabControl_scroller_right" class="scroller-c scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
                     <div id="GraficosTelerik_tcVendaTabControl_wrapper" class="wrapper">
                        <ul id="GraficosTelerik_tcVendaTabControl_list" class="nav nav-tabs list">
                           <li id="GraficosTelerik_tiVendaItemTabItem" class="active"><a href="#GraficosTelerik_tabVendaItemTabItem" data-toggle="tab" title="Gráfico Barra">Gráfico Barra</a></li>
                           <li id="GraficosTelerik_tiTabItem_7ec809a73940439b8f44387af1d43b10" class=""><a href="#GraficosTelerik_tabTabItem_7ec809a73940439b8f44387af1d43b10" data-toggle="tab" title="Gráfico Coluna">Gráfico Coluna</a></li>
                           <li id="GraficosTelerik_tiTabItem_2a118fd822c44d5bacd54e9dc31d1bff" class=""><a href="#GraficosTelerik_tabTabItem_2a118fd822c44d5bacd54e9dc31d1bff" data-toggle="tab" title="Gráfico Pizza">Gráfico Pizza</a></li>
                           <li id="GraficosTelerik_tiTabItem_aec00a11644548cd81464ef1d9df3989" class=""><a href="#GraficosTelerik_tabTabItem_aec00a11644548cd81464ef1d9df3989" data-toggle="tab" title="Gráfico Linha">Gráfico Linha</a></li>
                           <li id="GraficosTelerik_tiTabItem_c6a865f43ca64e02a3819a211a2115dc" class=""><a href="#GraficosTelerik_tabTabItem_c6a865f43ca64e02a3819a211a2115dc" data-toggle="tab" title="Gráfico Area">Gráfico Area</a></li>
                        </ul>
                        </div>
                     </div>
                  <div class="tab-content">



                   <div class="tab-pane fade active in" id="GraficosTelerik_tabVendaItemTabItem">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="GraficosTelerik_divCustomControl636279343" class="" >
                                           
                                               <div id="chartGraficosTelerik_chartCustomControl636279343" class="ig-chart-root">
                                               </div>
                                               <div id="chartGraficosTelerik_chartCustomControl636279343_Legend" class="ig-chart-root">
                                               </div>
                                           
                                   </div>
                               </div>
                           </div>


                       </div>

                   </div>
                   </div>
               </div>





                   <div class="tab-pane fade" id="GraficosTelerik_tabTabItem_7ec809a73940439b8f44387af1d43b10">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="GraficosTelerik_divCustomControl691654859" class="" >
                                           
                                               <div id="chartGraficosTelerik_chartCustomControl691654859" class="ig-chart-root">
                                               </div>
                                               <div id="chartGraficosTelerik_chartCustomControl691654859_Legend" class="ig-chart-root">
                                               </div>
                                           
                                   </div>
                               </div>
                           </div>


                       </div>

                   </div>
                   </div>
               </div>





                   <div class="tab-pane fade" id="GraficosTelerik_tabTabItem_2a118fd822c44d5bacd54e9dc31d1bff">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="GraficosTelerik_divCustomControl691825781" class="" >
                                           
                                               <div id="chartGraficosTelerik_chartCustomControl691825781" class="ig-chart-root">
                                               </div>
                                               <div id="chartGraficosTelerik_chartCustomControl691825781_Legend" class="ig-chart-root">
                                               </div>
                                           
                                   </div>
                               </div>
                           </div>


                       </div>

                   </div>
                   </div>
               </div>





                   <div class="tab-pane fade" id="GraficosTelerik_tabTabItem_aec00a11644548cd81464ef1d9df3989">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="GraficosTelerik_divCustomControl697522109" class="" >
                                           
                                               <div id="chartGraficosTelerik_chartCustomControl697522109" class="ig-chart-root">
                                               </div>
                                               <div id="chartGraficosTelerik_chartCustomControl697522109_Legend" class="ig-chart-root">
                                               </div>
                                           
                                   </div>
                               </div>
                           </div>


                       </div>

                   </div>
                   </div>
               </div>





                   <div class="tab-pane fade" id="GraficosTelerik_tabTabItem_c6a865f43ca64e02a3819a211a2115dc">
                       <div class="ui-helper-clearfix">
                       <div class="">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="form-group">
                                   <div id="GraficosTelerik_divCustomControl697894734" class="" >
                                           
                                               <div id="chartGraficosTelerik_chartCustomControl697894734" class="ig-chart-root">
                                               </div>
                                               <div id="chartGraficosTelerik_chartCustomControl697894734_Legend" class="ig-chart-root">
                                               </div>
                                           
                                   </div>
                               </div>
                           </div>


                       </div>

                   </div>
                   </div>
               </div>



               </div>
               </div>


                       </div>

                   </div>
               </div>
               </div>
           </div>

           <div id="GraficosTelerik_gbVendaItem" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gb-expander position-element"  >
               <div class="portlet box row" >
                   <div class="portlet-title">
                       <div class="caption" title="VendaItem"><i class="icon-reorder"></i>VendaItem</div>
                       <div class="tools">
                           <a id="GraficosTelerik_gbVendaItem_anchor" href="#GraficosTelerik_gbVendaItem_body" role="button" data-toggle="collapse" data-parent="#GraficosTelerik_gbVendaItem" aria-controls="#GraficosTelerik_gbVendaItem_body" class="" title="Clique para expandir ou colapsar"></a>
                       </div>
                   </div>
                   <div id="GraficosTelerik_gbVendaItem_body" class="portlet-body collapse in" >
                       <div data-bind="with: $root.GraficosTelerik().getWithBinding(currentDataItem, $root.GraficosTelerik().rootDataTypeName)">
                           <div class="row">

                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                               <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="GraficosTelerik_divBigIntVendaItemKpiInfo" class="" >
                                           <label id="GraficosTelerik_lblBigIntVendaItemKpiInfo" for="GraficosTelerik_tbBigIntVendaItemKpiInfo" data-bind="css: { 'content-required': $root.GraficosTelerik().status() === 'E' && !isEmptyEntityFn($data) }" class="control-label ellipsis" title="Big Int Venda Item (KPI)">Big Int Venda Item (KPI)
                                           </label>
                                           <input id="GraficosTelerik_tbBigIntVendaItemKpiInfo" class="form-control ellipsis" data-bind="attr: { title: BigIntVendaItemKpiInfo }, validatedField: 'BigIntVendaItemKpiInfo', css: { IsEditableStyle: ctrl.hasCustomEnable($root.GraficosTelerik(), 'GraficosTelerik_tbBigIntVendaItemKpiInfo') ? ctrl.getCustomEnable($root.GraficosTelerik(), 'GraficosTelerik_tbBigIntVendaItemKpiInfo') : (!isEmptyEntityFn($data) && $root.GraficosTelerik().status() === 'C') }, igTextEditor: { value: BigIntVendaItemKpiInfo, readOnly: ctrl.hasCustomEnable($root.GraficosTelerik(), 'GraficosTelerik_tbBigIntVendaItemKpiInfo') ? !ctrl.getCustomEnable($root.GraficosTelerik(), 'GraficosTelerik_tbBigIntVendaItemKpiInfo') : (isEmptyEntityFn($data) || $root.GraficosTelerik().status() !== 'C'), selectionOnFocus: 'atEnd' }"/>
                                       </div>
                                   </div>
                               </div>


                           </div>

                       </div>
                   </div>
                   </div>
               </div>
           </div>


                        </div>
                    </section>
                </div>
            </figure>
            <figure id="GraficosTelerik_formViewer_back" class="back">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div data-bind="style: { display: $root.GraficosTelerik().viewType() === 'Main' ? 'none' : '' }">
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-height-size" >
               <div id="scyGraficosTelerik_dGrid_ContentDLG" style="position:relative;"></div>
               <div class="linx-table-button position-icon">
                   <div class="botoes-tabela" >
                   <button id="scyGraficosTelerik_dGrid_LayoutBtn" class="btn default background-color-theme" data-placement="top" title="Editar o Layout da Grid" data-bind="popoverWithBind: { template: '#scyGraficosTelerik_dGrid_templateLayout', vm: function(){return $root.GraficosTelerik().gridSaveStates['scyGraficosTelerik_dGrid'];}, ctrlName: 'scyGraficosTelerik_dGrid_gb', headerText:'Layout da grid' }"><i class="fa fa-external-link" aria-hidden="true" data-placement="top" title="Editar o Layout da Grid"></i></button>
                   <script id="scyGraficosTelerik_dGrid_templateLayout" type="text/html" tabindex="-1">
                       <div id="scyGraficosTelerik_dGrid_gb" class="layout-popover">
                           <div class="row">
                               <div class="col-md-12">
                                   <span title="Layout salvos" style="padding-left: 10px;">Layout salvos:</span>
                                   <div class="col-md-10">
                                       <span class="form-control box-layout-grid" data-bind="igCombo: {selectedItems: currentLayoutId, dataSource: savedLayouts, textKey: 'NomeLayout', valueKey: 'Id', itemTemplate: &quot;<span class='ellipsis' style='display:block' title='${NomeLayout}'>${NomeLayout}</span>&quot;, allowCustomValue : false, enableSelectionChangedUpdate: true, enableClearButton: true, mode: 'editable', width:'100%'}"></span>
                                   </div>
                                   <div  class="col-md-2">
                                       <button class="btn-press ellipsis" data-bind="enable: (currentLayoutId() < 0 || currentLayoutId() > 0), click: function(){ applyLayout(); }" style="border:0; margin-bottom:0;margin-top:5px;padding:5px 10px;height:26px;width:33px;"><i class="fa fa-check" aria-hidden="true" /></button>
                                   </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-md-12">
                                   <div class="col-md-10">
                                       <button class="btn-press ellipsis" data-bind="click: function(){openLayoutCustomize(false);}"  style="border:0;">Salvar...</button>
                                       <button class="btn-press ellipsis" data-bind="enable: (currentLayoutId() > 0), click: function(){openLayoutCustomize(true);}"  style="border:0;">Salvar como...</button>
                                   </div>
                                   <div class="col-md-2">
                                       <button class="btn-press ellipsis" data-bind="enable: (currentLayoutId() > 0), click: deleteLayout"  style="border:0;"><i class="fa fa-trash-o" aria-hidden="true" /></button>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </script>
                   <button id="scyGraficosTelerik_dGrid_ExpExcelBtn" class="btn default background-color-theme" data-placement="top" title="Exportar para Excel" data-bind="visible: $root.GraficosTelerik().dataToolbar.canExport(), click: function () {$root.GraficosTelerik().dataToolbar.exportData(false, true);  }"><i class="fa fa-file-excel-o"></i></button>
                   </div>
               </div>
               <div class="linx-table-grid position-table-grid" style="height: inherit;">
                   <div class="screen-view">
                      <table id="scyGraficosTelerik_dGrid" data-bind="css: { IsEditableStyle: $root.GraficosTelerik().enabledForEditing }"  />
                   </div>
               </div>

           </div>


                        </div>
                    </section>
                </div>
            </figure>
        </div>
    </section>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
