<div data-bind="attr: { transactionNumberControl: transactionNumberControl }"></div>
<div class="topo-container" data-bind="if: !isDependentVM()">
   <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header', activationData: { parentVM: $root }, preserveContext: false }-->
       <!--/ko-->
   </div>
</div>
<div data-bind="if: !isDependentVM()">
   <div id="breadcrumb" class="style-breadcrumb" data-bind="widget: { kind: 'breadcrumb' }"></div>
</div>
<div class="clearfix" data-bind="if: !isDependentVM()">
</div>
<!-- BEGIN CONTAINER -->
<div data-bind="css: { 'page-container fullbtn': !isDependentVM() }">
       <!-- ko if: isDependentVM() && !hideToolbar() -->
       <!-- BEGIN SIDEBAR -->
       <div data-bind="css: { hide: (!hasBrand) }, widget: { kind: 'branditem', vm: $root }" ></div>
       <div class="pull-right redebar" data-bind="css: { hide: (!hasBrand || status() !== 'C') }, widget: { kind: 'brand', vm: $root }"></div>
       <div data-bind="css: { hide: (!hideToolbar) }, widget: { kind: 'datatoolbar', vm: $data }" ></div>
       <div class="clearfix"></div>
       <!-- END SIDEBAR -->
       <!--/ko-->
    <!-- BEGIN PAGE -->
        <div class="col-md-12 remove-pl remove-pr">
            <section>
                <div class="screen-view">
                               <div id="PivotGrid_gbExpander_57bdf120db9744b1b24833ece4d4c6ee" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gb-expander position-element"  >
               <div class="portlet box row" >
                   <div class="portlet-title">
                       <div class="caption" title="Título não definido"><i class="icon-reorder"></i>Título não definido</div>
                       <div class="tools">
                           <a id="PivotGrid_gbExpander_57bdf120db9744b1b24833ece4d4c6ee_anchor" href="#PivotGrid_gbExpander_57bdf120db9744b1b24833ece4d4c6ee_body" role="button" data-toggle="collapse" data-parent="#PivotGrid_gbExpander_57bdf120db9744b1b24833ece4d4c6ee" aria-controls="#PivotGrid_gbExpander_57bdf120db9744b1b24833ece4d4c6ee_body" class="" title="Clique para expandir ou colapsar"></a>
                       </div>
                   </div>
                   <div id="PivotGrid_gbExpander_57bdf120db9744b1b24833ece4d4c6ee_body" class="portlet-body collapse in" >
                       <div class="row">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div id="pivot13e2caab-32de-42d0-9b5b-ded3f72a9cbaPivotGrid_pivotVendaItem" class="row pivot-style" />

               </div>


                       </div>

                   </div>
               </div>
               </div>
           </div>


                </div>
            </section>
        </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
