<div data-bind="attr: { transactionNumberControl: transactionNumberControl }"></div>
<div class="topo-container" data-bind="if: !isDependentVM()">
   <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header', activationData: { parentVM: $root }, preserveContext: false }-->
       <!--/ko-->
   </div>
</div>
<div data-bind="if: !isDependentVM()">
   <div id="breadcrumb" class="style-breadcrumb" data-bind="widget: { kind: 'breadcrumb' }"></div>
</div>
<div class="clearfix" data-bind="if: !isDependentVM()">
</div>
<!-- BEGIN CONTAINER -->
<div data-bind="css: { 'page-container fullbtn': !isDependentVM() }">
       <!-- ko if: isDependentVM() && !hideToolbar() -->
       <!-- BEGIN SIDEBAR -->
       <div data-bind="css: { hide: (!hasBrand) }, widget: { kind: 'branditem', vm: $root }" ></div>
       <div class="pull-right redebar" data-bind="css: { hide: (!hasBrand || status() !== 'C') }, widget: { kind: 'brand', vm: $root }"></div>
       <div data-bind="css: { hide: (!hideToolbar) }, widget: { kind: 'datatoolbar', vm: $data }" ></div>
       <div class="clearfix"></div>
       <!-- END SIDEBAR -->
       <!--/ko-->
    <!-- BEGIN PAGE -->
    <section>
        <div id="TelaFiltro_formViewer" class="panelTransaition">
            <figure id="TelaFiltro_formViewer_front" class="front">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div class="screen-view">
                            <div data-bind="style: { display: $root.TelaFiltro().viewType() === 'Main' ? '' : 'none' }">
                                           <div id="TelaFiltro_gbVendaFiltro" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
               <div class="portlet box row" >
                   <div class="portlet-title">
                       <div class="caption" title="VendaFiltro"><i class="icon-reorder"></i>VendaFiltro</div>
                   </div>
                   <div id="TelaFiltro_gbVendaFiltro_body" class="portlet-body" >
                       <div data-bind="with: $root.TelaFiltro().getWithBinding(currentDataItem, $root.TelaFiltro().rootDataTypeName)">
                           <div class="row">

                           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-pl remove-pr">


                               <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="TelaFiltro_divStringVenda" class="" >
                                           <label id="TelaFiltro_lblStringVenda" for="TelaFiltro_tbStringVenda" class="control-label ellipsis" title="String Venda">String Venda
                                           </label>
                                           <input id="TelaFiltro_tbStringVenda" class="form-control ellipsis" data-bind="attr: { title: StringVenda }, validatedField: 'StringVenda', css: { IsEditableStyle: ctrl.hasCustomEnable($root.TelaFiltro(), 'TelaFiltro_tbStringVenda') ? ctrl.getCustomEnable($root.TelaFiltro(), 'TelaFiltro_tbStringVenda') : (!isEmptyEntityFn($data) && $root.TelaFiltro().enabledForEditing()) }, igTextEditor: { maxLength: 50, value: StringVenda, readOnly: ctrl.hasCustomEnable($root.TelaFiltro(), 'TelaFiltro_tbStringVenda') ? !ctrl.getCustomEnable($root.TelaFiltro(), 'TelaFiltro_tbStringVenda') : (isEmptyEntityFn($data) || !$root.TelaFiltro().enabledForEditing()), selectionOnFocus: 'atEnd' }"/>
                                       </div>
                                   </div>
                               </div>


                           </div>

                           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-pl remove-pr">


                               <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="TelaFiltro_divComboboxVenda" class="" >
                                           <label id="TelaFiltro_lblComboboxVenda" for="TelaFiltro_cmbComboboxVenda" data-bind="css: { 'content-required': $root.TelaFiltro().status() === 'E' && !isEmptyEntityFn($data) }" class="control-label ellipsis" title="Combobox Venda">Combobox Venda
                                           </label>
                                           <span id="TelaFiltro_cmbComboboxVenda" class="form-control " data-bind="validatedField: 'ComboboxVenda', css: { IsEditableStyle: ctrl.hasCustomEnable($root.TelaFiltro(), 'TelaFiltro_cmbComboboxVenda') ? ctrl.getCustomEnable($root.TelaFiltro(), 'TelaFiltro_cmbComboboxVenda') : (!isEmptyEntityFn($data) && $root.TelaFiltro().enabledForEditing()), activeReadonly: ctrl.hasCustomEnable($root.TelaFiltro(), 'TelaFiltro_cmbComboboxVenda') ? !ctrl.getCustomEnable($root.TelaFiltro(), 'TelaFiltro_cmbComboboxVenda') : (isEmptyEntityFn($data) || !$root.TelaFiltro().enabledForEditing()) }, readOnly: ctrl.hasCustomEnable($root.TelaFiltro(), 'TelaFiltro_cmbComboboxVenda') ? !ctrl.getCustomEnable($root.TelaFiltro(), 'TelaFiltro_cmbComboboxVenda') : (isEmptyEntityFn($data) || !$root.TelaFiltro().enabledForEditing()), igCombo: {
                                              selectedItems: ComboboxVenda,
                                              dataSource:  $root.TelaFiltro().dataDomains.getItems('LX_VENDA', ''),
                                              textKey: 'name',
                                              valueKey: 'id',
                                              allowCustomValue : true,
                                              enableSelectionChangedUpdate: true,
                                              enableClearButton: false,
                                              dropDownOnFocus: true,
                                              disabled: (ctrl.hasCustomEnable($root.TelaFiltro(), 'TelaFiltro_cmbComboboxVenda') ? !ctrl.getCustomEnable($root.TelaFiltro(), 'TelaFiltro_cmbComboboxVenda') : (isEmptyEntityFn($data) || !$root.TelaFiltro().enabledForEditing())),
                                              mode: 'editable',
                                              width:'100%'
                                           }"></span>
                                       </div>
                                   </div>
                               </div>


                           </div>

                       </div>
                   </div>
                   </div>
               </div>
           </div>


                            </div>
                        </div>
                    </section>
                </div>
            </figure>
            <figure id="TelaFiltro_formViewer_back" class="back">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div data-bind="style: { display: $root.TelaFiltro().viewType() === 'Main' ? 'none' : '' }">
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-height-size" >
               <div id="scyTelaFiltro_dGrid_ContentDLG" style="position:relative;"></div>
               <div class="linx-table-button position-icon">
                   <div class="botoes-tabela" >
                   <button id="scyTelaFiltro_dGrid_LayoutBtn" class="btn default background-color-theme" data-placement="top" title="Editar o Layout da Grid" data-bind="popoverWithBind: { template: '#scyTelaFiltro_dGrid_templateLayout', vm: function(){return $root.TelaFiltro().gridSaveStates['scyTelaFiltro_dGrid'];}, ctrlName: 'scyTelaFiltro_dGrid_gb', headerText:'Layout da grid' }"><i class="fa fa-external-link" aria-hidden="true" data-placement="top" title="Editar o Layout da Grid"></i></button>
                   <script id="scyTelaFiltro_dGrid_templateLayout" type="text/html" tabindex="-1">
                       <div id="scyTelaFiltro_dGrid_gb" class="layout-popover">
                           <div class="row">
                               <div class="col-md-12">
                                   <span title="Layout salvos" style="padding-left: 10px;">Layout salvos:</span>
                                   <div class="col-md-10">
                                       <span class="form-control box-layout-grid" data-bind="igCombo: {selectedItems: currentLayoutId, dataSource: savedLayouts, textKey: 'NomeLayout', valueKey: 'Id', itemTemplate: &quot;<span class='ellipsis' style='display:block' title='${NomeLayout}'>${NomeLayout}</span>&quot;, allowCustomValue : false, enableSelectionChangedUpdate: true, enableClearButton: true, mode: 'editable', width:'100%'}"></span>
                                   </div>
                                   <div  class="col-md-2">
                                       <button class="btn-press ellipsis" data-bind="enable: (currentLayoutId() < 0 || currentLayoutId() > 0), click: function(){ applyLayout(); }" style="border:0; margin-bottom:0;margin-top:5px;padding:5px 10px;height:26px;width:33px;"><i class="fa fa-check" aria-hidden="true" /></button>
                                   </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-md-12">
                                   <div class="col-md-10">
                                       <button class="btn-press ellipsis" data-bind="click: function(){openLayoutCustomize(false);}"  style="border:0;">Salvar...</button>
                                       <button class="btn-press ellipsis" data-bind="enable: (currentLayoutId() > 0), click: function(){openLayoutCustomize(true);}"  style="border:0;">Salvar como...</button>
                                   </div>
                                   <div class="col-md-2">
                                       <button class="btn-press ellipsis" data-bind="enable: (currentLayoutId() > 0), click: deleteLayout"  style="border:0;"><i class="fa fa-trash-o" aria-hidden="true" /></button>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </script>
                   <button id="scyTelaFiltro_dGrid_ExpExcelBtn" class="btn default background-color-theme" data-placement="top" title="Exportar para Excel" data-bind="visible: $root.TelaFiltro().dataToolbar.canExport(), click: function () {$root.TelaFiltro().dataToolbar.exportData(false, true);  }"><i class="fa fa-file-excel-o"></i></button>
                   </div>
               </div>
               <div class="linx-table-grid position-table-grid" style="height: inherit;">
                   <div class="screen-view">
                      <table id="scyTelaFiltro_dGrid" data-bind="css: { IsEditableStyle: $root.TelaFiltro().enabledForEditing }"  />
                   </div>
               </div>

           </div>


                        </div>
                    </section>
                </div>
            </figure>
        </div>
    </section>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
