<div data-bind="attr: { transactionNumberControl: transactionNumberControl }"></div>
<div class="topo-container" data-bind="if: !isDependentVM()">
   <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header', activationData: { parentVM: $root }, preserveContext: false }-->
       <!--/ko-->
   </div>
</div>
<div data-bind="if: !isDependentVM()">
   <div id="breadcrumb" class="style-breadcrumb" data-bind="widget: { kind: 'breadcrumb' }"></div>
</div>
<div class="clearfix" data-bind="if: !isDependentVM()">
</div>
<!-- BEGIN CONTAINER -->
<div data-bind="css: { 'page-container fullbtn': !isDependentVM() }">
       <!-- ko if: isDependentVM() && !hideToolbar() -->
       <!-- BEGIN SIDEBAR -->
       <div data-bind="css: { hide: (!hasBrand) }, widget: { kind: 'branditem', vm: $root }" ></div>
       <div class="pull-right redebar" data-bind="css: { hide: (!hasBrand || status() !== 'C') }, widget: { kind: 'brand', vm: $root }"></div>
       <div data-bind="css: { hide: (!hideToolbar) }, widget: { kind: 'datatoolbar', vm: $data }" ></div>
       <div class="clearfix"></div>
       <!-- END SIDEBAR -->
       <!--/ko-->
    <!-- BEGIN PAGE -->
        <div class="col-md-12 remove-pl remove-pr">
            <section>
                <div class="screen-view">
                               <div id="WizardVazio_wizWizard" class="form-wizard col-lg-12 col-md-12 col-sm-12 col-xs-12" >
               <div class="form-body">
                   <div class="row">
                       <div class="col-md-10">
                           <ul class="nav nav-pills nav-justified steps">
                               <li >
                                   <a href="#WizardVazio_tabPasso1" data-toggle="tab" class="step active" style="cursor: default" >
                                       <span class="number">1</span>
                                       <span class="desc"><i class="fa fa-check"></i>Passo1</span>
                                   </a>
                               </li>
                               <li >
                                   <a href="#WizardVazio_tabPasso2" data-toggle="tab" class="step" style="cursor: default" >
                                       <span class="number">2</span>
                                       <span class="desc"><i class="fa fa-check"></i>Passo2</span>
                                   </a>
                               </li>
                               <li >
                                   <a href="#WizardVazio_tabPasso3" data-toggle="tab" class="step" style="cursor: default" >
                                       <span class="number">3</span>
                                       <span class="desc"><i class="fa fa-check"></i>Passo3</span>
                                   </a>
                               </li>
                               <li >
                                   <a href="#WizardVazio_tabPasso4" data-toggle="tab" class="step" style="cursor: default" >
                                       <span class="number">4</span>
                                       <span class="desc"><i class="fa fa-check"></i>Passo4</span>
                                   </a>
                               </li>
                           </ul>
                          <div id="WizardVazio_wizWizard_bar" class="progress progress-striped active">
                              <div class="progress-bar progress-bar-success"></div>
                          </div>
                       </div>
                       <div class="col-md-2 position-absolute-btnWizard">
                           <div class="form-actions right btnWizard-bottom remove-pb">
                               <a href="javascript:;" class="btn default button-previous button-previous-wizard"><i class="m-icon-swapleft"></i>Voltar</a>
                               <a href="javascript:;" class="btn blue button-next button-next-wizard">Continuar<i class="m-icon-swapright m-icon-white"></i></a>
                               <a href="javascript:;" class="btn green button-submit button-submit-wizard">Submeter<i class="m-icon-swapright m-icon-white"></i></a>
                           </div>
                       </div>
                   </div>
                   <div class="tab-content">



               <div class="tab-pane fade active in" id="WizardVazio_tabPasso1">
                   <div class="ui-helper-clearfix input-box-wizard">
                   <div class="">

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                   <div style="height:auto;">
                       <div id="WizardVazio_euiExternalUI_0b359a461d8a4f23b8c32b7330f23564" class="extenalUI" 
                       data-bind="widget: { kind: 'pkg_varejo-bv-spa/viewmodels/CadastroCliente', parentVM: $root, uiSettings: { removeDataToolbar: false, shareParentBO: false, useFilterFromParent: false, parentSelectorDataName: '', displayName: '', canClear: true, canSearch: true, canExport: true, canAddNew: true, canEdit: true, canDelete: true, canCustomSearch: true, canPrint: true, canLayout: true, canNavigate: true, canNavigate: true, applyFilterToParent: true, noSearch: false, noBusyLoading: false, parentFieldsRelation: [''], detailFieldsRelation: [''] } }" />

                   </div>


                   </div>

               </div>
               </div>
               </div>





               <div class="tab-pane fade" id="WizardVazio_tabPasso2">
                   <div class="ui-helper-clearfix input-box-wizard">
                   <div class="">

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                   <div style="height:auto;">
                       <div id="WizardVazio_euiExternalUI_88d2df1051fb4cb0acb5e41617c15a2c" class="extenalUI" 
                       data-bind="widget: { kind: 'pkg_varejo-bv-spa/viewmodels/CadastroVenda', parentVM: $root, uiSettings: { removeDataToolbar: false, shareParentBO: false, useFilterFromParent: false, parentSelectorDataName: '', displayName: '', canClear: true, canSearch: true, canExport: true, canAddNew: true, canEdit: true, canDelete: true, canCustomSearch: true, canPrint: true, canLayout: true, canNavigate: true, canNavigate: true, applyFilterToParent: true, noSearch: false, noBusyLoading: false, parentFieldsRelation: [''], detailFieldsRelation: [''] } }" />

                   </div>


                   </div>

               </div>
               </div>
               </div>





               <div class="tab-pane fade" id="WizardVazio_tabPasso3">
                   <div class="ui-helper-clearfix input-box-wizard">
                   <div class="">

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                   <div style="height:auto;">
                       <div id="WizardVazio_euiExternalUI_33b88289336b43d8a71248e1de7c62f5" class="extenalUI" 
                       data-bind="widget: { kind: 'pkg_varejo-bv-spa/viewmodels/CadastroVendaItem', parentVM: $root, uiSettings: { removeDataToolbar: false, shareParentBO: false, useFilterFromParent: false, parentSelectorDataName: '', displayName: '', canClear: true, canSearch: true, canExport: true, canAddNew: true, canEdit: true, canDelete: true, canCustomSearch: true, canPrint: true, canLayout: true, canNavigate: true, canNavigate: true, applyFilterToParent: true, noSearch: false, noBusyLoading: false, parentFieldsRelation: [''], detailFieldsRelation: [''] } }" />

                   </div>


                   </div>

               </div>
               </div>
               </div>





               <div class="tab-pane fade" id="WizardVazio_tabPasso4">
                   <div class="ui-helper-clearfix input-box-wizard">
                   <div class="">

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                   <div style="height:auto;">
                       <div id="WizardVazio_euiExternalUI_6a6c635068fa4a0c977ae9ca30c79065" class="extenalUI" 
                       data-bind="widget: { kind: 'pkg_varejo-bv-spa/viewmodels/CadastroVendaAtacado', parentVM: $root, uiSettings: { removeDataToolbar: false, shareParentBO: false, useFilterFromParent: false, parentSelectorDataName: '', displayName: '', canClear: true, canSearch: true, canExport: true, canAddNew: true, canEdit: true, canDelete: true, canCustomSearch: true, canPrint: true, canLayout: true, canNavigate: true, canNavigate: true, applyFilterToParent: true, noSearch: false, noBusyLoading: false, parentFieldsRelation: [''], detailFieldsRelation: [''] } }" />

                   </div>


                   </div>

               </div>
               </div>
               </div>



                   </div>
               </div>
               </div>


                </div>
            </section>
        </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
