{{#if options.odata}}
<label class="{{options.class}}">
{{#ifvalue options.mode value="Date"}}
    <input {{#each custom}} {{property}}="{{value}}" {{/each}} type="date" placeholder="{{options.label}}" ng-model="vm.dataBusiness.currentDataItem().{{options.odata.Name}}" ng-show="{{options.visible}}" ng-disable="!vm.dataBusiness.enabledForEditing()" />
    {{/ifvalue}}

{{#ifvalue options.mode value="Time"}}
    <input {{#each custom}} {{property}}="{{value}}" {{/each}} type="time" placeholder="{{options.label}}" ng-model="vm.dataBusiness.currentDataItem().{{options.odata.Name}}" ng-show="{{options.visible}}" ng-disable="!vm.dataBusiness.enabledForEditing()" />
    {{/ifvalue}}

{{#ifvalue options.mode value="DateTime"}}
    <input {{#each custom}} {{property}}="{{value}}" {{/each}} type="datetime" placeholder="{{options.label}}" ng-model="vm.dataBusiness.currentDataItem().{{options.odata.Name}}" ng-show="{{options.visible}}" ng-disable="!vm.dataBusiness.enabledForEditing()" />
    {{/ifvalue}}
</label>

{{else}}

<label class="{{options.class}}">
{{#ifvalue options.mode value="Date"}}
    <input {{#each custom}} {{property}}="{{value}}" {{/each}} type="date" placeholder="{{options.label}}" ng-model="{{options.model}}" ng-show="{{options.visible}}" ng-disable="!vm.dataBusiness.enabledForEditing()" />
    {{/ifvalue}}

{{#ifvalue options.mode value="Time"}}
    <input {{#each custom}} {{property}}="{{value}}" {{/each}} type="time" placeholder="{{options.label}}" ng-model="{{options.model}}" ng-show="{{options.visible}}" ng-disable="!vm.dataBusiness.enabledForEditing()" />
    {{/ifvalue}}

{{#ifvalue options.mode value="DateTime"}}
    <input {{#each custom}} {{property}}="{{value}}" {{/each}} type="datetime" placeholder="{{options.label}}" ng-model="{{options.model}}" ng-show="{{options.visible}}" ng-disable="!vm.dataBusiness.enabledForEditing()" />
    {{/ifvalue}}
</label>
{{/if}}
