{{#if options.odata}}
  <label class="{{options.class}}">
    <textarea {{#each custom}} {{property}}="{{value}}" {{/each}} placeholder="{{options.label}}" ng-model="vm.dataBusiness.currentDataItem().{{options.odata.Name}}" ng-show="{{options.visible}}"></textarea>
  </label>
{{else}}
  <label class="{{options.class}}">
    <textarea {{#each custom}} {{property}}="{{value}}" {{/each}} placeholder="{{options.label}}" ng-model="{{options.model}}" ng-show="{{options.visible}}"></textarea>
  </label>
{{/if}}
