<!--<lx-lookup placeholder="{{options.placeholder}}"
           title-modal="{{options.titleModal}}"
           search-placeholder="{{options.searchPlaceholder}}"
           pagination-size="{{options.paginationSize}}"
           lookup-status="!vm.dataBusiness.enabledForEditing()"
           search="vm.dataBusiness.currentDataItem().{{options.odata.LookUpQuery}}"
           display-name-columns='{{options.odata.LookUpDisplayColumnsSafed}}'
           display-columns='{{options.odata.LookUpColumnsSafed}}'
           lookup-selected="vm.dataBusiness.currentDataItem().{{options.odata.LookUpFinalize}}"
           multioption="vm.dataBusiness.status() === 'C'"
           display-field="{{options.odata.Name}}"
           lookup-field="vm.dataBusiness.currentDataItem().{{options.odata.Name}}"
           lookup-property="{{options.odata.Name}}"
           lx-classcontainer="'{{options.class}}'">
</lx-lookup>-->


<label class="{{options.class}}">
  <i class="icon ion-search placeholder-icon"></i>
  <input {{#each custom}} {{property}}="{{value}}" {{/each}} type="text" placeholder="{{options.searchPlaceholder}}" />
</label>
