.IsEditableStyle {
   color: blue !important;
}

table.IsEditableStyle > tbody, 
table.IsEditableStyle  > tbody > tr > td, 
td > span, 
td > span > input {
   color: blue !important;
}

span.IsEditableStyle > span > input {
   color: blue !important;
   background-color: White !important;
}
