
<style>
    body {
        background-color: white !important;
    }

    header{
        border-bottom: 0px !important;
        position: absolute;
        overflow: hidden;
    }

    #main {
        background-color: white !important;
    }

    .page-404 {
        color: #ff9200;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }

        .page-404 p, .page-401 a {
            font-size: 1em;
        }

        .page-404 h2, .page-401 a {
            /* text-transform: uppercase; */
        }

        .page-404 a {
            color: #ff9200;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
            width: 88px;
            height: 44px;
            line-height: 44px;
            border-radius: 5px !important;
            border: 2px solid #ff9200;
            transition: all .5s ease;
            text-decoration: none !important;
            text-transform: uppercase !important;
        }

            .page-404 a:hover {
                background: #ff9200;
                border: 2px solid #ff9200;
                width: 132px;
                color: #fff;
                text-decoration: none !important;
            }

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    @media (min-width:320px) {
        .page-404 h1 {
            font-size: 2em;
        }

        .page-404 h2 {
            font-size: 1.5em;
        }
    }

    /* smartphones, Android phones, landscape iPhone */
    @media (min-width:480px) {
        .page-404 h1 {
            font-size: 3em;
        }

        .page-404 h2 {
            font-size: 1.75em;
        }
    }

    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    @media (min-width:600px) {
        .page-404 h1 {
            font-size: 4em;
        }

        .page-404 h2 {
            font-size: 2em;
        }
    }

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    @media (min-width:801px) {
        .page-404 h1 {
            font-size: 5em;
        }

        .page-404 h2 {
            font-size: 3em;
        }
    }


    /* big landscape tablets, laptops, and desktops */
    @media (min-width:1025px) {
        .page-404 h1 {
            font-size: 6em;
        }

        .page-404 h2 {
            font-size: 4em;
        }
    }


    /* hi-res laptops and desktops */
    @media (min-width:1281px) {
        .page-404 h1 {
            font-size: 7em;
        }

        .page-404 h2 {
            font-size: 5em;
        }
    }
</style>

<div class="container-topo">
    <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header' }-->
        <!--/ko-->
    </div>
</div>

<div class="page-404">
    <h2>Oops!</h2>
    <p style="margin: 20px 0">Página não encontrada.</p>
    <p><a href="#">Início</a></p>
</div>