<div class="topo-container">
    <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_headerclean', view:'views/shell/_headerclean', activationData: { parentVM: $root } }-->
        <!--/ko-->
    </div>

</div>
<div class="clearfix">
</div>

<!-- BEGIN CONTAINER -->
<div class="page-container fullbtn" style="position: relative;">
    <!-- BEGIN PAGE -->
    <div id="reportViewer1">
        loading...
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<style>
    #reportViewer1 {
        height: 100vh;
        padding-top: 50px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
