<div class="topo-container">
    <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header' }-->
        <!--/ko-->
    </div>
</div>

<!-- BEGIN CONTAINER -->
<div class="page-container noform">
    <!-- BEGIN PAGE -->
    <div class="page-content">

        <div>
            <a href="javascript:;" id="selTree"></a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PAGE CONTENT-->
                <!--  <button class="btn" data-bind="click: showModalSmall">Show Small</button>
                    <button class="btn" data-bind="click: showModalDefault">Show Default</button>
                    <button class="btn" data-bind="click: showModalLarge">Show Large</button>-->
                <!--<button class="btn" data-bind="click: showModalMultimidiaBatch">Show Multimidia Batch</button>-->

                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>href</th>
                            <th>moduleId</th>
                            <th>title</th>
                            <th>type</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: router.navigationModel">
                        <tr>
                            <td data-bind="html: nav"></td>
                            <td><a data-bind="attr: { href: hash }, html: hash"></a></td>
                            <td data-bind="html: moduleId"></td>
                            <td data-bind="html: title"></td>
                            <td data-bind="html: type"></td>
                        </tr>
                    </tbody>
                </table>
                <!--    <button class="btn" data-bind="click: showModalMultimidia1">Show ModalMultimidia1</button>
                    <button class="btn" data-bind="click: showModalMultimidia2">Show ModalMultimidia2</button>

                    <button id="btnModal" class="btn btn-primary btn-large" data-toggle="modal">Modal ajax</button>
                    <a class="btn default" data-target="#full-width" data-toggle="modal">Modal full-width</a>
                    <a  id="link" class="btn default" data-fancybox-type="iframe" href="http://a-srv53.linx-inves.com.br/Reports">Iframe Report</a>
                    <a  id="link2" class="btn default" data-fancybox-type="iframe" href="http://www.uol.com.br">Iframe UOL</a>
                    -->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE -->

</div>
<!-- END CONTAINER -->

