<div id="main" data-bind="router: { cacheViews: false }">
</div>

<div id="sideMenu">
    <!--ko compose: { model:'viewmodels/shell/_menu', view:'views/shell/_menu' }-->
    <!--/ko-->
</div>

<div id="mainSideBarContent">
    <!--ko compose: { model:'viewmodels/shell/_sidebarcontent', view:'views/shell/_sidebarcontent' }-->
    <!--/ko-->
</div>

<div id="mainFooter">
	<!--ko compose: { model:'viewmodels/shell/_footer', view:'views/shell/_footer' }-->
	<!--/ko-->
</div>

<div id="notificationBarContent" style="display: none;">
    <!--ko compose: { model:'viewmodels/shell/_notificationbar', view:'views/shell/_notificationbar' }-->
    <!--/ko-->
</div>
