<?xml version="1.0" encoding="utf-8" ?> 
	

 
<configuration>

  <connectionStrings> 

		<add name="FrameworkAutorizacao" connectionString="Data Source=a-srv111.linx-inves.com.br\inovacao;Initial Catalog=DEV-UX-Portal-5-X;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />

  </connectionStrings> 
  
</configuration> 

