<#@ template language="C#"  hostspecific="true" #>
<#@ output extension=".wsi" #>
<#@ import namespace = "System.Collections.Generic" #>
<#@ import namespace = "System.Linq" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.IO" #>
<#@ include file = "Functions.ttinclude"#>
<?xml version='1.0'?>
 
<Include xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">	 
<#
	ProcessFiles("c:\\VSTS - GrupoLinx\\Framework\\Linx Framework\\Main\\Binary\\Library", "", new string[] { "Business Model", "Business View", "Common", "User Interface", "Web API", "Web API Client" });
#>

</Include>