<div class="footer" id="shellCopyrightFooter" style="background-color:#333;color:#fff;z-index:2147483000;position:fixed;bottom:0;left:0;right:0;width:100%;min-height:36px;height:36px;padding:8px 20px;margin:0;display:block;visibility:visible;opacity:1;box-sizing:border-box;line-height:20px;font-size:12px;">
    <span id="shellCopyrightText" class="footer-inner" style="color:#fff;font-weight:lighter;display:inline-block;vertical-align:middle;"></span>
</div>

<div class="wr-ms-error wr-ms-warn wr-activity-information">
    <div class="ctn-info">
        <div class="ctn-warn">
            <div id="divWarn" class="ms-warn" data-bind="visible: $root.managerError.EVENTS_WARN_VM().length">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
        </div>

        <div class="ctn-error">
            <div id="divError" class="ms-error" data-bind="visible: $root.managerError.EVENTS_ERROR_VM().length">
                <i class="fa fa-times-circle"></i>
            </div>
        </div>

        <div class="ctn-current-activity">
            <p id="divCurrentActivityInformation" class="activity-information"></p>
        </div>
    </div>
</div>
