<header class="float-l is--fixed">
    <div class="row">
        <h1 class="title truncate" data-bind="html: router.activeInstruction().config.title, attr: { title: router.activeInstruction().config.title }"></h1>
        <div class="tools text-right">
            <ul class="tools__list">
                <li class="item">
                    <a title="Voltar" data-bind="attr: { href: parentVM.back }">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
