<div data-bind="attr: { transactionNumberControl: transactionNumberControl }"></div>
<div class="topo-container" data-bind="if: !isDependentVM()">
   <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header', activationData: { parentVM: $root }, preserveContext: false }-->
       <!--/ko-->
   </div>
</div>
<div data-bind="if: !isDependentVM()">
   <div id="breadcrumb" class="style-breadcrumb" data-bind="widget: { kind: 'breadcrumb' }"></div>
</div>
<div class="clearfix" data-bind="if: !isDependentVM()">
</div>
<!-- BEGIN CONTAINER -->
<div data-bind="css: { 'page-container fullbtn': !isDependentVM() }">
       <!-- ko if: isDependentVM() && !hideToolbar() -->
       <!-- BEGIN SIDEBAR -->
       <div data-bind="css: { hide: (!hasBrand) }, widget: { kind: 'branditem', vm: $root }" ></div>
       <div class="pull-right redebar" data-bind="css: { hide: (!hasBrand || status() !== 'C') }, widget: { kind: 'brand', vm: $root }"></div>
       <div data-bind="css: { hide: (!hideToolbar) }, widget: { kind: 'datatoolbar', vm: $data }" ></div>
       <div class="clearfix"></div>
       <!-- END SIDEBAR -->
       <!--/ko-->
    <!-- BEGIN PAGE -->
    <section>
        <div id="QrcodePage_formViewer" class="panelTransaition">
            <figure id="QrcodePage_formViewer_front" class="front">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div class="screen-view">
                            <div data-bind="style: { display: $root.QrcodePage().viewType() === 'Main' ? '' : 'none' }">
                                           <div id="QrcodePage_gbGroupBox_ac640a1b97594405a755b6f42bf951a3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
               <div class="portlet box row" >
                   <div class="portlet-title">
                       <div class="caption" title="QRCODE"><i class="icon-reorder"></i>QRCODE</div>
                   </div>
                   <div class="portlet-body" style="display:block ;">
                       <div class="row">

                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


               <div id="QrcodePage_cntQrcodeInput" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
               <div>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="form-group">
                           <div id="QrcodePage_divqrcode" class="" >
                               <div class="controls">
                                   <div class="input-mini">
                                       <span id="QrcodePage_lblqrcode" class="text bold input-mini" ></span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>


               </div>

           </div>
           </div>


                       </div>

                   </div>
               </div>
               </div>
           </div>


                            </div>
                        </div>
                    </section>
                </div>
            </figure>
            <figure id="QrcodePage_formViewer_back" class="back">
                <div class="col-md-12 remove-pl remove-pr">
                    <section>
                        <div data-bind="style: { display: $root.QrcodePage().viewType() === 'Main' ? 'none' : '' }">
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-height-size" >

           </div>


                        </div>
                    </section>
                </div>
            </figure>
        </div>
    </section>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
