<div data-bind="attr: { transactionNumberControl: transactionNumberControl }"></div>
<div class="topo-container" data-bind="if: !isDependentVM()">
   <div id="mainHeader">
        <!--ko compose: { model:'viewmodels/shell/_header', view:'views/shell/_header', activationData: { parentVM: $root }, preserveContext: false }-->
       <!--/ko-->
   </div>
</div>
<div data-bind="if: !isDependentVM()">
   <div id="breadcrumb" class="style-breadcrumb" data-bind="widget: { kind: 'breadcrumb' }"></div>
</div>
<div class="clearfix" data-bind="if: !isDependentVM()">
</div>
<!-- BEGIN CONTAINER -->
<div data-bind="css: { 'page-container fullbtn': !isDependentVM() }">
       <!-- ko if: isDependentVM() && !hideToolbar() -->
       <!-- BEGIN SIDEBAR -->
       <div data-bind="css: { hide: (!hasBrand) }, widget: { kind: 'branditem', vm: $root }" ></div>
       <div class="pull-right redebar" data-bind="css: { hide: (!hasBrand || status() !== 'C') }, widget: { kind: 'brand', vm: $root }"></div>
       <div data-bind="css: { hide: (!hideToolbar) }, widget: { kind: 'datatoolbar', vm: $data }" ></div>
       <div class="clearfix"></div>
       <!-- END SIDEBAR -->
       <!--/ko-->
    <!-- BEGIN PAGE -->
        <div class="col-md-12 remove-pl remove-pr">
            <section>
                <div class="screen-view">
                               <div id="WizardInstalacao_wizWizard_001599f169e147a793babdef29848042" class="form-wizard col-lg-12 col-md-12 col-sm-12 col-xs-12" >
               <div class="form-body">
                   <div class="row">
                       <div class="col-md-10">
                           <ul class="nav nav-pills nav-justified steps">
                               <li >
                                   <a href="#WizardInstalacao_tabwizBemVindo" data-toggle="tab" class="step active" style="cursor: default" >
                                       <span class="number">1</span>
                                       <span class="desc"><i class="fa fa-check"></i>Bem Vindo</span>
                                   </a>
                               </li>
                               <li >
                                   <a href="#WizardInstalacao_tabwizConfigLoja" data-toggle="tab" class="step" style="cursor: default" >
                                       <span class="number">2</span>
                                       <span class="desc"><i class="fa fa-check"></i>Loja</span>
                                   </a>
                               </li>
                               <li >
                                   <a href="#WizardInstalacao_tabwizConfigBarramento" data-toggle="tab" class="step" style="cursor: default" >
                                       <span class="number">3</span>
                                       <span class="desc"><i class="fa fa-check"></i>Barramento</span>
                                   </a>
                               </li>
                               <li >
                                   <a href="#WizardInstalacao_tabwizFinalizaSetup" data-toggle="tab" class="step" style="cursor: default" >
                                       <span class="number">4</span>
                                       <span class="desc"><i class="fa fa-check"></i>Confirmação</span>
                                   </a>
                               </li>
                               <li >
                                   <a href="#WizardInstalacao_tabwizSetupFinalizado" data-toggle="tab" class="step" style="cursor: default" >
                                       <span class="number">5</span>
                                       <span class="desc"><i class="fa fa-check"></i>Fim</span>
                                   </a>
                               </li>
                           </ul>
                          <div id="WizardInstalacao_wizWizard_001599f169e147a793babdef29848042_bar" class="progress progress-striped active">
                              <div class="progress-bar progress-bar-success"></div>
                          </div>
                       </div>
                       <div class="col-md-2 position-absolute-btnWizard">
                           <div class="form-actions right btnWizard-bottom remove-pb">
                               <a href="javascript:;" class="btn default button-previous button-previous-wizard"><i class="m-icon-swapleft"></i>Voltar</a>
                               <a href="javascript:;" class="btn blue button-next button-next-wizard">Continuar<i class="m-icon-swapright m-icon-white"></i></a>
                               <a href="javascript:;" class="btn green button-submit button-submit-wizard">Submeter<i class="m-icon-swapright m-icon-white"></i></a>
                           </div>
                       </div>
                   </div>
                   <div class="tab-content">



               <div class="tab-pane fade active in" id="WizardInstalacao_tabwizBemVindo">
                   <div class="ui-helper-clearfix input-box-wizard">
                   <div class="">

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                   <div id="WizardInstalacao_gbCustomContainer_f9b47d64c7f04e0780921d3fe7fd83ca" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                       <div class="portlet box " >
                           <div class="portlet-title">
                               <div class="caption" title="Bem vindo"><i class="icon-reorder"></i>Bem vindo</div>
                           </div>
                           <div class="portlet-body" style="display:block ;">
                               <div class="row">

                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <div class="form-group">
                                           <div id="WizardInstalacao_divCustomControl1805640109" class="" >
                                               <div class="controls">
                                                   <div class="input-xlarge">
                                                       <span id="WizardInstalacao_lblCustomControl1805640109" class="text bold input-xlarge" >Bem vindo ao Assistente de Configuração do SelfHost</span>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>



                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <div class="form-group">
                                           <div id="WizardInstalacao_divCustomControl1805684937" class="" >
                                               <div class="controls">
                                                   <div class="input-xlarge">
                                                       <span id="WizardInstalacao_lblCustomControl1805684937" class="text bold input-xlarge" >Clique em Continuar para iniciar a Configuração</span>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>


                               </div>

                           </div>
                       </div>
                       </div>
                   </div>


                   </div>

               </div>
               </div>
               </div>





               <div class="tab-pane fade" id="WizardInstalacao_tabwizConfigLoja">
                   <div class="ui-helper-clearfix input-box-wizard">
                   <div class="">

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                   <div id="WizardInstalacao_cntCustomContainer_0e7702a0dbea4819bf5646d239d91b3b" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
                   <div>

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="WizardInstalacao_gbGroupBox_08102639e26545f8bd889c5e79b2668a" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                           <div class="portlet box " >
                               <div class="portlet-title">
                                   <div class="caption" title="Produto Instalado"><i class="icon-reorder"></i>Produto Instalado</div>
                               </div>
                               <div class="portlet-body" style="display:block ;">
                                   <div data-bind="with: currentDataItem">
                                       <div class="row">

                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divProduto" class="" >
                                                       <div class="controls">
                                                           <div class="input-small">
                                                               <span id="WizardInstalacao_lblProduto" class="text bold input-small"  data-bind="text: Produto"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>


                                       </div>

                                   </div>
                               </div>
                               </div>
                           </div>
                       </div>


                   </div>

               </div>
               </div>



                   <div id="WizardInstalacao_cntCustomContainer_e15520d46ef04a3a898838d380e19974" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
                   <div>

                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="WizardInstalacao_gbGroupBox_573ccc4c541c4332a51fe0eba8461104" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                           <div class="portlet box " >
                               <div class="portlet-title">
                                   <div class="caption" title="Informações da Loja"><i class="icon-reorder"></i>Informações da Loja</div>
                               </div>
                               <div class="portlet-body" style="display:block ;">
                                   <div data-bind="with: currentDataItem">
                                       <div class="row">

                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divIdLoja" class="" >
                                                       <label id="WizardInstalacao_lblIdLoja" for="WizardInstalacao_tbIdLoja" class="control-label ellipsis" title="ID Loja">ID Loja
                                                       </label>
                                                       <div class="controls">
                                                           <div class="input-xmedium">
                                                               <input id="WizardInstalacao_tbIdLoja" class="form-control ellipsis input-xmedium" data-bind="attr: { title: IdLoja }, validatedField: 'IdLoja', css: { IsEditableStyle: $root.WizardInstalacao().status() === 'C' }, igTextEditor: { value: IdLoja, readOnly: $root.WizardInstalacao().status() !== 'C', disabled: $root.WizardInstalacao().status() !== 'C'  }"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divCodigoLoja" class="" >
                                                       <label id="WizardInstalacao_lblCodigoLoja" for="WizardInstalacao_tbCodigoLoja" class="control-label ellipsis" title="Código Loja">Código Loja
                                                       </label>
                                                       <div class="controls">
                                                           <div class="input-xmedium">
                                                               <input id="WizardInstalacao_tbCodigoLoja" class="form-control ellipsis input-xmedium" data-bind="attr: { title: CodigoLoja }, validatedField: 'CodigoLoja', css: { IsEditableStyle: $root.WizardInstalacao().status() === 'C' }, igTextEditor: { value: CodigoLoja, readOnly: $root.WizardInstalacao().status() !== 'C', disabled: $root.WizardInstalacao().status() !== 'C'  }"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divNomeLoja" class="" >
                                                       <label id="WizardInstalacao_lblNomeLoja" for="WizardInstalacao_tbNomeLoja" class="control-label ellipsis" title="Nome Loja">Nome Loja
                                                       </label>
                                                       <div class="controls">
                                                           <div class="input-xmedium">
                                                               <input id="WizardInstalacao_tbNomeLoja" class="form-control ellipsis input-xmedium" data-bind="attr: { title: NomeLoja }, validatedField: 'NomeLoja', css: { IsEditableStyle: $root.WizardInstalacao().status() === 'C' }, igTextEditor: { value: NomeLoja, readOnly: $root.WizardInstalacao().status() !== 'C', disabled: $root.WizardInstalacao().status() !== 'C'  }"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>


                                       </div>

                                   </div>
                               </div>
                               </div>
                           </div>
                       </div>


                   </div>

                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="WizardInstalacao_gbGroupBox_6b824c8a1c5e460bae95b2d3d3e37555" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                           <div class="portlet box " >
                               <div class="portlet-title">
                                   <div class="caption" title="Informações do Banco"><i class="icon-reorder"></i>Informações do Banco</div>
                               </div>
                               <div class="portlet-body" style="display:block ;">
                                   <div data-bind="with: currentDataItem">
                                       <div class="row">

                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divWindowsAuthentication" class="" >
                                                       <div class="controls">
                                                           <div class="input-xmedium">
                                                               <label class="input-xmedium">
                                                                 <input id="WizardInstalacao_ckWindowsAuthentication" type="checkbox" data-bind="css: { IsEditableStyle: $root.WizardInstalacao().enabledForEditing()}, enable: $root.WizardInstalacao().enabledForEditing(), nullableChecked: WindowsAuthentication" title="Clique para marcar/desmarcar"/> 
                                                                 <span id="lblWizardInstalacao_ckWindowsAuthentication" data-bind="css: { 'content-required-checkbox': $root.WizardInstalacao().status() === 'E'}" class="align-label-checkbox">Autenticação Windows?</span>
                                                               </label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divServer" class="" >
                                                       <label id="WizardInstalacao_lblServer" for="WizardInstalacao_tbServer" class="control-label ellipsis" title="Servidor">Servidor
                                                       </label>
                                                       <div class="controls">
                                                           <div class="input-xmedium">
                                                               <input id="WizardInstalacao_tbServer" class="form-control ellipsis input-xmedium" data-bind="attr: { title: Server }, validatedField: 'Server', css: { IsEditableStyle: $root.WizardInstalacao().enabledForEditing() }, igTextEditor: { value: Server, readOnly: !$root.WizardInstalacao().enabledForEditing(), disabled: !$root.WizardInstalacao().enabledForEditing()  }"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divDatabase" class="" >
                                                       <label id="WizardInstalacao_lblDatabase" for="WizardInstalacao_tbDatabase" class="control-label ellipsis" title="Banco de Dados">Banco de Dados
                                                       </label>
                                                       <div class="controls">
                                                           <div class="input-xmedium">
                                                               <input id="WizardInstalacao_tbDatabase" class="form-control ellipsis input-xmedium" data-bind="attr: { title: Database }, validatedField: 'Database', css: { IsEditableStyle: $root.WizardInstalacao().enabledForEditing() }, igTextEditor: { value: Database, readOnly: !$root.WizardInstalacao().enabledForEditing(), disabled: !$root.WizardInstalacao().enabledForEditing()  }"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divUserName" class="" >
                                                       <label id="WizardInstalacao_lblUserName" for="WizardInstalacao_tbUserName" class="control-label ellipsis" title="Usuário">Usuário
                                                       </label>
                                                       <div class="controls">
                                                           <div class="input-xmedium">
                                                               <input id="WizardInstalacao_tbUserName" class="form-control ellipsis input-xmedium" data-bind="attr: { title: UserName }, validatedField: 'UserName', css: { IsEditableStyle: $root.WizardInstalacao().enabledForEditing() }, igTextEditor: { value: UserName, readOnly: !$root.WizardInstalacao().enabledForEditing(), disabled: !$root.WizardInstalacao().enabledForEditing()  }"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divPassword" class="" >
                                                       <label id="WizardInstalacao_lblPassword" for="WizardInstalacao_tbPassword" class="control-label ellipsis" title="Senha">Senha
                                                       </label>
                                                       <div class="controls">
                                                           <div class="input-xmedium">
                                                               <input id="WizardInstalacao_tbPassword" type="password" class="form-control input-xmedium" data-bind="validatedField: 'Password', css: { IsEditableStyle: $root.WizardInstalacao().enabledForEditing() }, enable: $root.WizardInstalacao().enabledForEditing(), disabled: $root.WizardInstalacao().enabledForEditing(), value: Password"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="form-group buttons">
                                           <div id="WizardInstalacao_divTestaConnBD" class="" >
                                               <div class="controls">
                                                   <div class="input-medium">
                                                       <button id="WizardInstalacao_btnTestaConnBD" class="form-control btn-press ellipsis input-medium" data-bind="click:function(){ if (typeof $root.WizardInstalacao().TestaConnBD_Click == 'function') $root.WizardInstalacao().TestaConnBD_Click(); if ($root.WizardInstalacao().custom) $root.WizardInstalacao().custom.TestaConnBD_Click({viewModel: $root.WizardInstalacao()}); }"  title="Verificar conexão">Verificar conexão</button>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>


                                   </div>

                               </div>
                           </div>
                           </div>
                       </div>
                   </div>


                   </div>

               </div>
               </div>


                   </div>

               </div>
               </div>
               </div>





               <div class="tab-pane fade" id="WizardInstalacao_tabwizConfigBarramento">
                   <div class="ui-helper-clearfix input-box-wizard">
                   <div class="">

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                   <div id="WizardInstalacao_cntCustomContainer_0ca8858628bc476db4c552b8744df8c7" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
                   <div>

                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="WizardInstalacao_gbGroupBox_08d13412467a4c9cb8ae2bc88a9e4670" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                           <div class="portlet box " >
                               <div class="portlet-title">
                                   <div class="caption" title="Informações do Barramento"><i class="icon-reorder"></i>Informações do Barramento</div>
                               </div>
                               <div class="portlet-body" style="display:block ;">
                                   <div data-bind="with: currentDataItem">
                                       <div class="row">

                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divUrlLocal" class="" >
                                                       <label id="WizardInstalacao_lblUrlLocal" for="WizardInstalacao_tbUrlLocal" data-bind="css: { 'content-required': $root.WizardInstalacao().status() === 'E'}" class="control-label ellipsis" title="URL Local">URL Local
                                                       </label>
                                                       <div class="controls">
                                                           <div class="input-xmedium">
                                                               <input id="WizardInstalacao_tbUrlLocal" class="form-control ellipsis input-xmedium" data-bind="attr: { title: UrlLocal }, validatedField: 'UrlLocal', css: { IsEditableStyle: $root.WizardInstalacao().enabledForEditing() }, igTextEditor: { value: UrlLocal, readOnly: !$root.WizardInstalacao().enabledForEditing(), disabled: !$root.WizardInstalacao().enabledForEditing()  }"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divURLServico" class="" >
                                                       <label id="WizardInstalacao_lblURLServico" for="WizardInstalacao_tbURLServico" class="control-label ellipsis" title="URL do Serviço">URL do Serviço
                                                       </label>
                                                       <div class="controls">
                                                           <div class="input-xmedium">
                                                               <input id="WizardInstalacao_tbURLServico" class="form-control ellipsis input-xmedium" data-bind="attr: { title: URLServico }, validatedField: 'URLServico', css: { IsEditableStyle: $root.WizardInstalacao().enabledForEditing() }, igTextEditor: { value: URLServico, readOnly: !$root.WizardInstalacao().enabledForEditing(), disabled: !$root.WizardInstalacao().enabledForEditing()  }"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divUsuarioServico" class="" >
                                                       <label id="WizardInstalacao_lblUsuarioServico" for="WizardInstalacao_tbUsuarioServico" class="control-label ellipsis" title="Usuário">Usuário
                                                       </label>
                                                       <div class="controls">
                                                           <div class="input-xmedium">
                                                               <input id="WizardInstalacao_tbUsuarioServico" class="form-control ellipsis input-xmedium" data-bind="attr: { title: UsuarioServico }, validatedField: 'UsuarioServico', css: { IsEditableStyle: $root.WizardInstalacao().enabledForEditing() }, igTextEditor: { value: UsuarioServico, readOnly: !$root.WizardInstalacao().enabledForEditing(), disabled: !$root.WizardInstalacao().enabledForEditing()  }"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divSenhaServico" class="" >
                                                       <label id="WizardInstalacao_lblSenhaServico" for="WizardInstalacao_tbSenhaServico" class="control-label ellipsis" title="Senha">Senha
                                                       </label>
                                                       <div class="controls">
                                                           <div class="input-xmedium">
                                                               <input id="WizardInstalacao_tbSenhaServico" type="password" class="form-control input-xmedium" data-bind="validatedField: 'SenhaServico', css: { IsEditableStyle: $root.WizardInstalacao().enabledForEditing() }, enable: $root.WizardInstalacao().enabledForEditing(), disabled: $root.WizardInstalacao().enabledForEditing(), value: SenhaServico"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="form-group buttons">
                                           <div id="WizardInstalacao_divTestaConnBus" class="" >
                                               <div class="controls">
                                                   <div class="input-medium">
                                                       <button id="WizardInstalacao_btnTestaConnBus" class="form-control btn-press ellipsis input-medium" data-bind="click:function(){ if (typeof $root.WizardInstalacao().TestaConnBus_Click == 'function') $root.WizardInstalacao().TestaConnBus_Click(); if ($root.WizardInstalacao().custom) $root.WizardInstalacao().custom.TestaConnBus_Click({viewModel: $root.WizardInstalacao()}); }"  title="Verificar conexão">Verificar conexão</button>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>


                                   </div>

                               </div>
                           </div>
                           </div>
                       </div>
                   </div>


                   </div>

                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="WizardInstalacao_gbGroupBox_e743b133bea64909b6ee2a4653f4b0e8" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                           <div class="portlet box " >
                               <div class="portlet-title">
                                   <div class="caption" title="Aplicações disponíveis"><i class="icon-reorder"></i>Aplicações disponíveis</div>
                               </div>
                               <div class="portlet-body" style="display:block ;">
                                   <div class="row">

                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                           <div class="form-group">
                                               <div id="WizardInstalacao_divAplicacoes" class="" >
                                                   <label id="WizardInstalacao_lblAplicacoes" for="WizardInstalacao_cmbAplicacoes" data-bind="css: { 'content-required': $root.WizardInstalacao().status() === 'E'}" class="control-label ellipsis" title="Aplicação">Aplicação
                                                   </label>
                                                   <div class="controls">
                                                       <div class="input-medium">
                                                           <span id="WizardInstalacao_cmbAplicacoes" class="form-control input-medium"></span>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>


                                   </div>

                               </div>
                           </div>
                           </div>
                       </div>


                   </div>

               </div>
               </div>


                   </div>

               </div>
               </div>
               </div>





               <div class="tab-pane fade" id="WizardInstalacao_tabwizFinalizaSetup">
                   <div class="ui-helper-clearfix input-box-wizard">
                   <div class="">

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                   <div id="WizardInstalacao_cntCustomContainer_ae2a26db89d34a979edafb23f1a88ead" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
                   <div>

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="WizardInstalacao_gbGroupBox_4739bcff4df1469fa68ef6868710e478" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                           <div class="portlet box " >
                               <div class="portlet-title">
                                   <div class="caption" title="Dados de Confirmação"><i class="icon-reorder"></i>Dados de Confirmação</div>
                               </div>
                               <div class="portlet-body" style="display:block ;">
                                   <div class="row">

                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                           <div class="form-group">
                                               <div id="WizardInstalacao_divCustomControl1807059281" class="" >
                                                   <div class="controls">
                                                       <div class="input-xlarge">
                                                           <span id="WizardInstalacao_lblCustomControl1807059281" class="text bold input-xlarge" >Clique em Continuar para salvar as alterações e reiniciar o serviço</span>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>


                                   </div>

                               </div>
                           </div>
                           </div>
                       </div>


                   </div>

               </div>
               </div>



                   <div id="WizardInstalacao_cntCustomContainer_43fa6d8eceed4deea3e66af19123bad2" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
                   <div>

                   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="WizardInstalacao_gbCopy_1981666750_573ccc4c541c4332a51fe0eba8461104" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                           <div class="portlet box " >
                               <div class="portlet-title">
                                   <div class="caption" title="Informações da Loja"><i class="icon-reorder"></i>Informações da Loja</div>
                               </div>
                               <div class="portlet-body" style="display:block ;">
                                   <div data-bind="with: currentDataItem">
                                       <div class="row">

                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divCopy_1610578859_IdLoja" class="" >
                                                       <div class="controls">
                                                           <div class="input-xsmall">
                                                               <span id="WizardInstalacao_lblCopy_1610578859_IdLoja" class="text bold input-xsmall"  data-bind="text: IdLoja"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divCopy_1981666750_CodigoLoja" class="" >
                                                       <div class="controls">
                                                           <div class="input-small">
                                                               <span id="WizardInstalacao_lblCopy_1981666750_CodigoLoja" class="text bold input-small"  data-bind="text: CodigoLoja"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divCopy_1981666750_NomeLoja" class="" >
                                                       <div class="controls">
                                                           <div class="input-xsmall">
                                                               <span id="WizardInstalacao_lblCopy_1981666750_NomeLoja" class="text bold input-xsmall"  data-bind="text: NomeLoja"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>


                                       </div>

                                   </div>
                               </div>
                               </div>
                           </div>
                       </div>


                   </div>

                   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="WizardInstalacao_gbCopy_1981711984_6b824c8a1c5e460bae95b2d3d3e37555" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                           <div class="portlet box " >
                               <div class="portlet-title">
                                   <div class="caption" title="Informações do Banco"><i class="icon-reorder"></i>Informações do Banco</div>
                               </div>
                               <div class="portlet-body" style="display:block ;">
                                   <div data-bind="with: currentDataItem">
                                       <div class="row">

                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divCopy_1981711984_WindowsAuthentication" class="" >
                                                       <div class="controls">
                                                           <div class="input-medium">
                                                               <span id="WizardInstalacao_lblCopy_1981711984_WindowsAuthentication" class="text bold input-medium"  data-bind="text: WindowsAuthentication"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divCopy_1981711984_Server" class="" >
                                                       <div class="controls">
                                                           <div class="input-xsmall">
                                                               <span id="WizardInstalacao_lblCopy_1981711984_Server" class="text bold input-xsmall"  data-bind="text: Server"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divCopy_1981711984_Database" class="" >
                                                       <div class="controls">
                                                           <div class="input-min-medium">
                                                               <span id="WizardInstalacao_lblCopy_1981711984_Database" class="text bold input-min-medium"  data-bind="text: Database"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divCopy_1981711984_UserName" class="" >
                                                       <div class="controls">
                                                           <div class="input-xsmall">
                                                               <span id="WizardInstalacao_lblCopy_1981711984_UserName" class="text bold input-xsmall"  data-bind="text: UserName"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>


                                       </div>

                                   </div>
                               </div>
                               </div>
                           </div>
                       </div>


                   </div>

                   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="WizardInstalacao_gbCopy_1981736796_08d13412467a4c9cb8ae2bc88a9e4670" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                           <div class="portlet box " >
                               <div class="portlet-title">
                                   <div class="caption" title="Informações do Barramento"><i class="icon-reorder"></i>Informações do Barramento</div>
                               </div>
                               <div class="portlet-body" style="display:block ;">
                                   <div data-bind="with: currentDataItem">
                                       <div class="row">

                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divCopy_19378234_UrlLocal" class="" >
                                                       <div class="controls">
                                                           <div class="input-small">
                                                               <span id="WizardInstalacao_lblCopy_19378234_UrlLocal" class="text bold input-small"  data-bind="text: UrlLocal"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divCopy_1981736796_URLServico" class="" >
                                                       <div class="controls">
                                                           <div class="input-min-medium">
                                                               <span id="WizardInstalacao_lblCopy_1981736796_URLServico" class="text bold input-min-medium"  data-bind="text: URLServico"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>



                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="form-group">
                                                   <div id="WizardInstalacao_divCopy_1981736796_UsuarioServico" class="" >
                                                       <div class="controls">
                                                           <div class="input-xsmall">
                                                               <span id="WizardInstalacao_lblCopy_1981736796_UsuarioServico" class="text bold input-xsmall"  data-bind="text: UsuarioServico"/>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>


                                       </div>

                                   </div>
                               </div>
                               </div>
                           </div>
                       </div>


                   </div>

               </div>
               </div>


                   </div>

               </div>
               </div>
               </div>





               <div class="tab-pane fade" id="WizardInstalacao_tabwizSetupFinalizado">
                   <div class="ui-helper-clearfix input-box-wizard">
                   <div class="">

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                   <div id="WizardInstalacao_cntCustomContainer_f3ce63a500d247279ba91b633bba51e6" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
                   <div>

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                       <div id="WizardInstalacao_gbGroupBox_50313af5e5ab491880bb2189626afe60" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                           <div class="portlet box " >
                               <div class="portlet-title">
                                   <div class="caption" title="Setup Finalizado"><i class="icon-reorder"></i>Setup Finalizado</div>
                               </div>
                               <div class="portlet-body" style="display:block ;">
                                   <div class="row">

                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                           <div class="form-group">
                                               <div id="WizardInstalacao_divCustomControl1983512515" class="" >
                                                   <div class="controls">
                                                       <div class="input-large">
                                                           <span id="WizardInstalacao_lblCustomControl1983512515" class="text bold input-large" >Setup finalizado com sucesso!</span>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>



                                       <div class="form-group buttons">
                                       <div id="WizardInstalacao_divResetService" class="" >
                                           <div class="controls">
                                               <div class="input-medium">
                                                   <button id="WizardInstalacao_btnResetService" class="form-control btn-press ellipsis input-medium" data-bind="click:function(){ if (typeof $root.WizardInstalacao().ResetService_Click == 'function') $root.WizardInstalacao().ResetService_Click(); if ($root.WizardInstalacao().custom) $root.WizardInstalacao().custom.ResetService_Click({viewModel: $root.WizardInstalacao()}); }"  title="Reiniciar Serviço">Reiniciar Serviço</button>
                                               </div>
                                           </div>
                                       </div>
                                   </div>


                               </div>

                           </div>
                       </div>
                       </div>
                   </div>



                       <div id="WizardInstalacao_gbGroupBox_bf483e1e24554b68ab0ad40e7edfce6b" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gbox position-element"  >
                           <div class="portlet box " >
                               <div class="portlet-title">
                                   <div class="caption" title="QR-Code"><i class="icon-reorder"></i>QR-Code</div>
                               </div>
                               <div class="portlet-body" style="display:block ;">
                                   <div class="row">

                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                           <div id="WizardInstalacao_cntInputQRCODE" class="cnt col-lg-12 col-md-12 col-sm-12 col-xs-12  remove-pl remove-pr" >
                           <div>

                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-pl remove-pr">


                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <div class="form-group">
                                       <div id="WizardInstalacao_divCustomControl251029515" class="" >
                                           <div class="controls">
                                               <div class="input-mini">
                                                   <span id="WizardInstalacao_lblCustomControl251029515" class="text bold input-mini" ></span>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>


                           </div>

                       </div>
                       </div>


                                   </div>

                               </div>
                           </div>
                           </div>
                       </div>


                   </div>

               </div>
               </div>


                   </div>

               </div>
               </div>
               </div>



                   </div>
               </div>
               </div>


                </div>
            </section>
        </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
